[2017-10-09 08:18] lxjwlt commented on #1047
+1  facebook/graphql#88

[2017-10-09 21:29] cagdastulek commented on #723
@leebyron I am experiencing similar issues when I have a list of items with their own resolvers.

My resolvers make heavy use of dataloaders and I have initially thought that there is something slow between load -> batch -> return results from in DataLoaders but then I have realized that the individual calls to resolver function of each field takes too long for some reason.

Example:
[code]

I hav

[2017-10-10 14:17] brysgo commented on #1014
Speaking of extendSchema, I added an optional parameter called resolveConflict that lets you resolve resolve conflicting fields instead of throwing, I can make a PR if anyone is interested in it.

[2017-10-10 16:55] kirillgroshkov commented on #662
yes, I need it as well!

[2017-10-10 22:05] cagdastulek opened #1060 "Fields in a selection set of a field in a query override other fields in the selection set of the same field in a fragment"
In a query, if I use a fragment and then add some extra fields to the query, they are merged successfully as expected.

However, if one of the fields itself is a selection set, then the final merged field does not have fields from the fragment anymore. It only has the fields defined in the query.

Example:
[code]

The final query is:

[code]

I would expected fieldC selection set to have all field

[2017-10-12 15:07] zachariahtimothy commented on #955
I am having the same problem with GraphQL 0.11.3 and flow-bin 0.56.0. Flow is great but seems REALLY fragile in terms of version mismatching.

[2017-10-13 14:13] eldiyar7 opened #1062 "What is the proper way to pass dynamically created array of objects as an argument to GraphQL query ?"

[2017-10-15 19:22] chrisregnier commented on #937
I've run into the same problem and have to put in fake fields to my root Query/Mutation type. Since I define all my schemas in separate graphqls files, slicing things up differently as suggested above doesn't work as well for me.
I'd love to clean this up, so has there been any progress here?

[2017-10-16 15:21] Mickael-van-der-Beek commented on #1038
@IvanGoncharov Thanks for the information. It's a bit weird because the documentation is out of date and specifies `requestString` to be used but no mention of `source` and it's the reverse for the source code.

cf: http://graphql.org/graphql-js/graphql/#graphql

[2017-10-16 18:59] IvanGoncharov commented on #1038
@Mickael-van-der-Beek Sadly documentation for `graphql-js` is severely outdated 😭
If you have time, you can help out by making PRs with corrections:
https://github.com/graphql/graphql.github.io/blob/source/site/graphql-js/APIReference-GraphQL.md

[2017-10-17 08:01] jdemangeon opened #1065 "GraphQL union and conflicting types"
Hello everybody!

I've got an issue on my project and i can't find any solution on the internet. Here is the situation.

- I've an Union ("DataResult") of 2 types ("Teaser" & "Program")
- I've a "Zone" type with a "data" field (an array "DataResult")
- "Teaser" & "Program" have the same "title" field with a different type (String vs String!)

Here is parts from "Zone", "Teaser" and "Program" schem

[2017-10-17 09:09] IvanGoncharov commented on #1065
It's intentional see here:
https://github.com/facebook/graphql/blame/master/spec/Section%205%20--%20Validation.md#L362-L365
http://facebook.github.io/graphql/October2016/#SameResponseShape()

Switching both fields to `String` or `String!` should work.
Can you please post error messages here?

[2017-10-17 09:26] jdemangeon commented on #1065
Thanks for your reply :)

Here is a part of my logs. As you can see, i've a lot of warnings about missing fields.
But it's intentionnal, I can have "programs" and not "teasers", no one, or both, ... in my "data" field.

The "data" field can hold 2 different objects, but they're not mandatory.

[code]

[2017-10-17 09:35] IvanGoncharov commented on #1065
@jdemangeon It looks like all those logs cause by Apollo client.
You can try to add `___typename` like that:
[code]
If this doesn't help please report issue on Apollo repo:
https://github.com/apollographql/apollo-client

[2017-10-17 09:59] jdemangeon commented on #1065
It's not working, i'll do it. :+1:

Thanks a lot @IvanGoncharov !

[2017-10-17 09:59] #1065 closed

[2017-10-17 23:37] bradzacher commented on #1057
Reading through the graph-ql spec - in particular this section: https://facebook.github.io/graphql/October2016/#sec-Value-Completion

It seems like the design of graphql-js goes against the spec in this instance.

[2017-10-17 23:41] bradzacher commented on #1057
It's a bit fuzzy though, because this section: https://facebook.github.io/graphql/October2016/#sec-Scalars

The first sentence doesn't really mention how to handle nulls, and when taken in conjunction with the above extract on value completion, it seems like throwing an error is optional.

[2017-10-19 02:17] LuisUrrutia commented on #910
Any news on this?

[2017-10-19 14:20] lukehorvat commented on #639
I ended up using this proxy approach to throttle requests in my [graphql-trello](https://github.com/lukehorvat/graphql-trello/blob/540cadf/lib/trello.js) package. Just thought I'd reference it here in case the code helps anyone who comes across this thread...

[2017-10-22 19:37] luizhenriquesoares opened #1067 "How to return RootQuery with object of type GraphQLLIST"
Hello guys,

I have a RootQuery and one of the attributes is an object of type GraphQLList, but not this attribute does not return in the query of the query

[code]

One of the GraphQLList is the ConnectionType. that represents a GraphQLInputObjectTyoe

[code]

Here is my query, and it does not return the arrayList Connections.

I have an error

[code]

[code]

I'm starting in GraphQL. Any suggest

[2017-10-23 17:09] GaelS commented on #1067
Hi,

I think that `ConnectionsType` should be a `GraphQLObjectType` instead of a `GraphQLInputObjectType`.

[2017-10-24 14:35] arackaf commented on #207
Here are my own particular use cases for where this would be handy; hopefully it's of some value to the team in evaluating the usefulness of this.

I've been working on generating a graphQL endpoint for Mongo https://github.com/arackaf/mongo-graphql-starter

and I frequently run into places where I need one of two forms for an input.  For example, to sort by a single field, I can do

`SORT: { name

[2017-10-24 16:16] astanciu commented on #207
For anyone else struggling with this, as a workaround, I used a JSON scalar type (https://github.com/taion/graphql-type-json)

[2017-10-24 20:25] mike-marcacci commented on #207
Custom scalars are definitely a valid workaround, but make sure they don’t invalidate any security assumptions you’ve made (check out [this great post](https://medium.com/@east5th/graphql-nosql-injection-through-json-types-a1a0a310c759?source=linkShare-44d78533539c-1508876441) on potential security pitfalls).

[2017-10-28 20:01] u-can-miracle opened #1068 "what is declare?"
Hi, can someone ask me what is the ["declare" keyword](https://github.com/graphql/graphql-js/blob/master/src/graphql.js#L49)?
P. S. I know it's not correct place to asking what is declare keyword but I don't know where else I can get answer about this.

[2017-10-29 07:59] shtse8 commented on #462
Any updates? I want to do the same thing but i seems the current release doesn't support this feature.

[2017-10-29 09:51] intellix commented on #1068
I'm guessing this: https://flow.org/en/docs/libdefs/creation/#toc-declaring-a-global-function
You should take this to stackoverflow though as the issue system is for issues :)

[2017-10-29 20:31] dekonunes opened #1069 "Error when input Date in DateTime, db is postgres"
I'm trying put a `new Date()` JS to type `DateTime` but get this error:

`invalid input syntax for type timestamp with time zone: "Invalid date"`

Using Postgress 9.1 in DB.

Here is my DateTimeType:

[code]

[2017-10-29 23:38] shtse8 commented on #500
Sorry, I still don't understand. Should we implement two methods or just only one of them?

[2017-10-30 17:38] jarnojellesma opened #1071 "Error caught shows up in console"
I have created a minimum reproducible code in this repository: https://github.com/jarnojellesma/feathers-graphql-test-error

The following test shouldn't produce any error messages on the console, because the error is caught with a try/catch statement.
[code]

But even though the error is caught, it still shows up:
[code]

The error is thrown by the foods resolver:

[code]

[2017-10-30 18:51] OlegIlyenko commented on #462
FYI, recently I added batch executor in Sangria:

http://sangria-graphql.org/learn/#batch-executor

It implements all of the functionality described in the talk, including `@export` and (optional) variable inference.

Still collecting the feedback from the users. Hopefully, at some point, I will have enough info to share an update (pros/cons based on the user feedback).

[2017-10-31 10:13] dotansimha opened #1072 "Custom directives are stripped during schema printting?"
Trying to understand why my custom GraphQL directives are stripped when `printSchema` is executed (also using ``).

Found this line of code (`isSpecDirective`):
https://github.com/graphql/graphql-js/blob/4f5e351c2afb28e4ae3a44eae76d45d895ff3aa2/src/utilities/schemaPrinter.js#L33-L43

Is there a reason for removing custom directives? I understand the `@deprecated` is a special directive and it effe

[2017-11-01 14:51] voxpelli commented on #703
As it always harder to discuss things in theory than to experiment with actual implementations and make conclusions of such experiments I decided to create a polyfill/transpiler for the behavior I suggested above: https://github.com/Sydsvenskan/node-graphql-partials

This solved the need I had and ensured that the GraphQL schema didn't have any runtime requirements on any specific programming lang

[2017-11-01 18:41] shtse8 commented on #501
@DxCx Can we use it in the production?

[2017-11-01 18:53] danilohgds opened #1073 "Accute characters do not work."
{
	"asset": {
		"fantasyName": "LTN222233444",
		"indexerName": "PRÉ"
	}
}

While using the update above, the mutation fails with invalid json due to the É character, I have tried escaping it to \ with no successs, can you guys please help me out?

[2017-11-01 20:53] reconbot opened #1074 "Allow validating input errors before execution"
I'm trying to catch and return input errors in a graphql server we've built. The idea is a bad query or bad input should return a 400 error instead of a 500 error.

We have pretty strait forward ways for testing bad queries for parsing and validation before execution.
[code]

I want to use [getVariableValues](https://github.com/graphql/graphql-js/blob/36b3407c2509822edd5762ffcdef7ac3d56d15d4/src/e

[2017-11-02 13:48] DxCx commented on #501
hey @shtse8,
original graphql tests are passing, i've played with it with couple of scenerios and made some PoCs and it looks like it works well..
however, it's not running on any major production environments..
you are welcome to give it a try, i'll try to support as much as i can..

[2017-11-02 15:35] shtse8 commented on #501
@DxCx Thanks! I want to give it a try as I really want to use `@live` directive for live data.

[2017-11-02 16:01] lastmjs opened #1075 "Browser functionality"
Is this library sufficiently decoupled from Node.js to work in the browser? For example, imagine I would like to create a schema that resolves queries to IndexedDB in a user's browser. Is this possible?

[2017-11-02 22:11] ana0 opened #1076 "Dynamically constructed fields cannot return a promise"
I'm trying to dynamically construct a type based on objects in my database, but having trouble getting `fields` to return a promise

[code]

Throws `Error: parents._bitField field config must be an object`

I've followed it down to resolveThunk not expecting a promise, but small patches in here are turning up larger assumptions about the schema building process.

[code]

Thoughts?  A quick glance

[2017-11-03 13:09] MrCheater opened #1077 "Please update package.json / npm update"

[2017-11-03 16:07] kassens opened #1079 "[meta] Speed up loading of schema"
This is a meta issue tracking progress on significantly speeding up loading a schema from disk. There are multiple incremental steps that should get us there.

- [x] Split validation from instantiation. If we have a schema persisted on disk and know that we already validated it before, there's no reason to validate it *again• every time we want to load it (#1080).
- [ ] Change from classes to simp

[2017-11-03 16:08] kassens opened #1080 "Split schema validation from instantiation"
Currently, the constructors do all the validation even when we already know that a  schema is valid. We should split up these steps to ensure we can do just the validation when we know the schema is valid.

[2017-11-06 11:46] IvanGoncharov commented on #1076
@ana0 You forget to add return in this line

So in your example, `buildParentFields ` returns `undefined` instead of Promise.

[2017-11-06 15:35] ana0 commented on #1076
Thanks @IvanGoncharov - mistake in the issue, not in my actual code.  Edited to fix.

Error continues and is `Error: parents._bitField field config must be an object`

[2017-11-06 16:55] robzhu commented on #1018
@appsthatmatter, I haven't heard back from you on my question for a while now. Closing out the issue, please feel free to re-open if it's not resolved (see my last response).

[2017-11-06 16:55] #1018 closed

[2017-11-06 16:57] robzhu commented on #1062
Can you please provide an example of what you're trying to do?

[2017-11-08 00:34] corydeppen commented on #574
Has there been any additional consideration for what it will take to move forward with the remainder of the typings for resolvers?

[2017-11-08 16:46] edispring opened #1084 "utilities/extendSchema not appending SubscriptionType"
We have an existing GraphQLSchema instance with no SubscriptionTypes and want to extend this schema  with a new SubscriptionType. To extend we use the extendSchema utility. After extending the schema, the SubscriptionType is null on the new schema.

[code]

[2017-11-09 16:55] himynameisdave opened #1085 "Double underscores in schema field names causing validator some grief"
_Originally filed in [`eslint-plugin-graphql`](https://github.com/apollographql/eslint-plugin-graphql) over here: https://github.com/apollographql/eslint-plugin-graphql/issues/92_

We have a few fields in our schema that start with a double underscore. One such example is a `__cost` field, which we use to enforce query limits. This causes an error with regards to it being named with a double under

[2017-11-09 19:14] ezos86 commented on #761
Node version most likely

[2017-11-09 22:24] mrjj commented on #1072
There were an answer on this:
https://github.com/graphql/graphql-js/issues/869

[2017-11-09 22:47] mrjj commented on #869
IMO lacking of mechanism to transmit any metadata in schema (even descriptions are stripped off) is a serious flaw and actually its hard for me to understand described harm.
Directives are the closest apple, but the real need is to have payload.

[2017-11-10 09:27] IvanGoncharov commented on #869
@mrjj Agree, but this issue beyond the scope of `graphql-js` and should be handled in GraphQL spec. Here is issue about adding it to the spec: https://github.com/facebook/graphql/issues/300

[2017-11-10 10:44] mrjj commented on #869
@IvanGoncharov the issue that during 2 last years of development resources are investing in parser, but not in language and seeing parser and schema description language as a different things with different policy is completely shizophenic.

@jzimmek

I hope you will never meet this situation in third-party project:
- we need anonymous lambda in our language
- anonymous lambdas are highly supporte

[2017-11-13 09:07] alexandrebodin opened #1086 "Add custom type builders in buildASTSchema"
Hello everyone,

After implementing my own schema modifier based on the astNodes of the schema I found that really ineffective not to be able to do it while building the schema.

A lot of tools do this kind of things (modifying the resolvers etc...) on there own and end up reimplementing in some way the func `buildASTSchema`

I would love to see something like a visitor like option with mappings t

[2017-11-14 00:13] sammarks commented on #546
This appears to be resolved in 0.11.7, so we can probably close this.

[2017-11-14 19:00] francisngo opened #1087 "Modularizing GraphQL schemas with nested schemas"
I am currently working on a project where I am learning GraphQL. I have two types that has nested schemas. In one type, the UserType, I am requiring another type, the ReviewType because the user will have many reviews so I want GraphQL to return all the reviews that the user is associated with. Now, if I was also to request for reviews, I'd like it to return the user who is associated with it. But

[2017-11-15 02:35] brysgo opened #1089 "RFC: WithMetadata modifier"
WithMetadata Modifier

When wrapped a WithMetadata Modifier, a scalar field can have an optional
selection underneath it. When a selection is present, the value field holds
the scalar, when a selection is not present, the scalar is returned.

Example:
[code]

Or in graphql:

[code]

Not sure if #914 helps to make this possible, would love to hear everyone's thoughts.

[2017-11-15 10:09] IvanGoncharov commented on #1089
@brysgo This feature requires changes to GraphQL specification so it should be discussed in this repo: https://github.com/facebook/graphql
For example #914 is based on https://github.com/facebook/graphql/pull/326
Can you please move your issue there?

[2017-11-15 12:01] IvanGoncharov commented on #1086
I partly implemented this in #1000 by extracting type building code into `ASTDefinitionBuilder` class. It would be great if `buildSchema` function will have an argument to supply derived class to be used during schema building.

[2017-11-15 13:04] brysgo commented on #1089
Alright @IvanGoncharov - see 381 above ^^^

[2017-11-16 16:51] skkap opened #1091 "multi-repository graphql types with local npm link"
Given 2 repositories user-repo and project-repo, I define UserType in the user-repo, and in package.json of project-repo I do this:

[code]
and everything works (UserType loads in project-repo). However if I link the repo locally like so:

[code]
UserType instanceof GraphQLObjectType returns false. And it's only the graphql types that are acting up. Everything else like models is getting loaded ju

[2017-11-17 17:28] brysgo opened #1092 "Empty selections work with printer, but throw a parser error"
(Thanks again for writing these awesome tools!)

Expectation: GraphQL printed by printer always parses as valid

Result: If printing GraphQL that has an empty selection, subsequent parsing of the GraphQL throws a parser error.

This doesn't have a huge impact unless you are trying to write tools to manipulate graphql language and reprint it. Hence, probably pretty low priority but I figured I'd po

[2017-11-17 21:20] mbrowne commented on #958
There is a `printSchema` function that does this (not sure when it was added; I just discovered it):
http://graphql.org/graphql-js/utilities/#printschema

[2017-11-17 21:42] mbrowne commented on #958
Actually that only prints the schema itself; it doesn't generate any queries. So I guess this doesn't answer the OP.

[2017-11-18 00:09] exogen opened #1093 "extendSchema breaks resolution of fragments on interfaces / unions"
I know `extendSchema` is undocumented, but it's the only way to accomplish the [schema extensions](https://github.com/exogen/graphbrainz/tree/master/docs/extensions) feature I recently added to my library, so I'm reporting this in case someone over there is making `extendSchema` legit. :)

I've got a query of which this is a part:

[code]

The `target` field is of type `Entity`, which is an interf

[2017-11-18 03:18] exogen commented on #1093
So far I've narrowed this down to `doesFragmentConditionMatch`: the `type` argument it receives is the `URL` type instance from BEFORE the schema was extended, but the `typeFromAST` call that gets `conditionalType` returns the `URL` type instance from AFTER the schema was extended, and they are not the same class instance.

[2017-11-18 03:43] exogen commented on #1093
The problem is that after building the types for the new schema, the `.ofType` references in other field types haven't been updated to the newly generated types (types seem to be rebuilt even if they are not modified by the new schema, like URL in this case: `prevSchema._typeMap.URL !== newSchema._typeMap.URL`, but the types in `newSchema._typeMap` haven't had their `ofType` references updated).

[2017-11-18 04:44] exogen commented on #1093
Ah, I was able to fix this in my own code, here's how. The problem ended up being my interface's `resolveType` definition. If you extend the schema, it's pretty much not possible to define `resolveType` in a reasonable way. Like in the example, it was returning the types I had originally defined, e.g.:

[code]

But this won't be correct after the schema is extended, because DogType and CatType wil

[2017-11-20 05:26] kbrandwijk opened #1095 "Extend the extend functionality"
Currently, it's only possible to extend object types by spec. However, when using schema stitching, I'm running into use case where it would be nice to be able to extend other parts of my schema, like unions, interfaces, enums and input types.

I would like to be able to use the same syntax as for object types. For interfaces, enums and input types, I don't see any issues with that. For unions, th

[2017-11-20 21:20] mbrowne commented on #958
This library could be used for the output part (but you'd have to program it to read from the schema since it's just a generic query builder):
https://github.com/wix/graphql-query-builder

[2017-11-20 21:32] imranolas commented on #958
Not trying to peddle my own wares but https://github.com/imranolas/graphql-ast-types was built for broadly the same purposes.

[2017-11-22 02:38] ramblinjacket commented on #936
I have a similar situation as @drmax24. i have predefined enums that include a dash in the name and it would be confusing to user base to change this.  Can there not be an escape character or similar to navigate around this?

[2017-11-22 14:04] mtvspec opened #1097 "How to update complex field values"
Have a nice day, everyone

I doesn't understand how to perform mutations on object field types.

For example:

[code]

How can I create and update value of field `Manager` in this example?

[2017-11-22 16:34] alexisgahon commented on #937
Any update on this issue ?
It would be nice to allowing an empty type declaration ... since a type is not really empty (__type and __schema).

[2017-11-22 22:33] loganpowell commented on #490
Whooohooo!!!! Schema Stitching!!!
https://www.youtube.com/watch?v=DRdnGtW5AcM
https://github.com/stubailo/schema-stitching-demo

[2017-11-22 22:34] loganpowell commented on #490
@KyleAMathews I'm also getting started with Gatsby! Cool project... Windows 10 is giving me some trouble tho (side-note). Love what you guys are doing!

[2017-11-23 09:59] nabiltntn commented on #937
Meanwhile, I used this package to merge my schema files ( and resolvers ) and avoid defining fake field https://github.com/okgrow/merge-graphql-schemas

**Pros**
- You dont have to use extend in your schema defition
- You can define schema in `.graphql` files and benefit from syntax highlighting

**Cons**
- Since you dont import explicitly types from others schema files, you have to search manuall

[2017-11-25 20:14] tychota opened #1098 "How to get the grandparent data in one resolver ?"
-- EDIT --

We can return whatever data we want in resolver and thus pass the competition deeper down the tree. Fixed.

-- EDIT --

*This issue is more a question than a feature request or a bug.*
*I'm not sure what are the rules in this repository about "stackoverflow" issues.*

*That being said, it seems a pretty much unanswered problem across internet so:*
- *I can commit on updating the doc wi

[2017-11-25 20:53] IvanGoncharov commented on #1098
@tychota You can inject your own data into rootValue, like that:

**competition/season.js**
[code]

[2017-11-25 21:01] tychota commented on #1098
Look like my solution 2. ^^

I did not need to modify the `Season` type to add a competitionId field ?
If so that would be really better than the solution 2 !

[2017-11-25 21:13] IvanGoncharov commented on #1098
@tychota

TL;DR; You can use `rootValue` to pass anything you want 😃

`rootValue`(first arg of resolver func) can be arbitrary data it's a way to pass context between resolvers and it doesn't relate to your types in any way.

I suspect you are confused because in your code you are using default behavior of field resolvers which is to grab the value of the property with the same name as the field f

[2017-11-25 21:26] tychota commented on #1098
@IvanGoncharov : working fine with you advices.

Thank you Sir !

[2017-11-25 21:26] #1098 closed

[2017-11-25 21:38] IvanGoncharov commented on #1098
@tychota My pleasure.

BTW. You can do a lot more if you override default resolvers. For example, you can rename fields or change it's type, etc.

It's a pretty common mistake to confuse `rootValue` and instance's data so having this difference described somewhere would be really helpful.

You can expend [this section](http://graphql.org/learn/execution/#root-fields-resolvers) of official docs. It

[2017-11-25 22:32] tychota commented on #1098
@IvanGoncharov : https://github.com/graphql/graphql.github.io/pull/425/files

Is it clear enough ??

[2017-11-25 23:42] graphsqrl opened #1099 "GraphQL without GraphQL syntax"
I would very much prefer to have my graphql schema defined via regular source code rather than strings.
Is this an explicitly supported use case ? If so are there any docs that show how to get from an array of "object type config" objects to a working schema that can be passed to buildSchema?
Is there a way to *render* a graphql schema from such a representation ?

[2017-11-26 00:12] IvanGoncharov commented on #1098
@tychota Wow you are fast 👍
Looks good for me but I'm not a native speaker 😄
If this PR stuck for more than a couple days just ping a few of [top contributors](https://github.com/graphql/graphql.github.io/graphs/contributors) all of them have commit rights and can merge you PR.

[2017-11-26 00:19] robrichard commented on #1099
Yes this is definitely possible. The documentation is here: http://graphql.org/graphql-js/type/

I also prefer to do it this way. We export each type created by GraphQLObjectType in separate files.

An example would be something like this:

[code]

When you do this, you do not need the `buildSchema` function, the `Schema` object here is the same type that would be returned by `buildSchema`. You ca

[2017-11-26 00:23] graphsqrl commented on #1099
Awesome, thanks.

[2017-11-26 00:45] shtse8 commented on #1099
An alternative solution is to make a `GraphQLSchemaBuilder`, design your own class and use your own `SchemaBuilder` to build the schema string, then pass the string to `buildSchema`. The concept is like using knex to build SQL string and pass it to database.

here is my implementation:
[code]

[2017-11-26 03:24] leebyron commented on #1099
Just wanted to note that not only is it possible, it's the library's preferred way to construct schema. `buildSchema` was added later as a convenience for those who prefer to rely on the schema definition language directly, but still wish to end up with a GraphQLSchema instance in code.

[2017-11-26 14:17] graphsqrl commented on #1099
Thanks everybody, so doing it via js code works, how about declaring the schema in JSON in a way that's compatible between different language implementations ? For example in js in order to refer to an existing type from another type's/query definition it looks like I need to provide either an existing object reference or a lazyly evaluable function which implies custom de/hydration code if I were

[2017-11-27 09:35] IvanGoncharov commented on #1099
@graphsqrl You can use [introspection](http://graphql.org/learn/introspection/) for that.
[This introspection query](https://github.com/graphql/graphql-js/blob/master/src/utilities/introspectionQuery.js#L13) is de-facto standard and it's JSON result is compatible between implementations.

[2017-11-27 09:40] koistya commented on #1099
@graphsqrl in addition to Rob's comment, I would suggest taking a look at the code samples in [`nodejs-api-starter/src/schema`](https://github.com/kriasoft/nodejs-api-starter/tree/master/src/schema).

[2017-11-27 11:41] shtse8 commented on #291
Any updates on union scalar types? I have created a scalar type called `ANY` and do formating.

[2017-11-27 17:48] graphsqrl commented on #1099
Thanks, but running an introspection query requires an instance of a graphql schema and using a graphql-syntaxed query, is there a way to build directly from an authored json (not javascript !) document (maybe modified from a a generic introspection query result ?).
Basically I would like my single-source-of-truth for the graphql schema (including queries) to be in entirely in json rather than gra

[2017-11-27 19:18] IvanGoncharov commented on #1099
@graphsqrl You can create result of introspection query manually and use [buildClientSchema](https://github.com/graphql/graphql-js/blob/2419c3dc9596a031e6df87810d2f64111a4ae3f8/src/utilities/buildClientSchema.js#L77
) to create a schema from it.

However,  declaring the schema in a way that's compatible between different language implementations is exactly why IDL/SDL syntax was created.
Can you d

[2017-11-28 05:03] vladar commented on #284
Any plans on implementing this in the near future?

[2017-11-28 19:21] FreakinaBox opened #1100 "get execution context in validation rules"
the execution context (3rd variable in resolve methods) should be made available in validation rules. to allow for custom validations based on things like the logged in user.

here is my use case

Type Definition
[code]
Validation Rules
[code]

[2017-11-29 00:32] BRMC888 opened #1101 "Error logged to console on resolver promise rejection"
I return a promise in my graphql resolvers, I resolve the promise when the query was successful - which works fine, but whenever I reject a promise, an un-mutable, seemingly un-handleable error is thrown in the server console.

For example, I use a mutation to handle a user Login, if the username does not exist in the db, I call reject with the message "User does not exist"

My console then looks

[2017-11-29 23:28] jrop commented on #223
@abhiaiyer91 I am curious to see the solution you developed to this problem.

[2017-11-30 00:18] abhiaiyer91 commented on #223
@jrop I worked with the apollo team to get this done!

https://github.com/Workpop/roxy is sort of an outdated version of this but the source code lives in

https://github.com/apollographql/graphql-tools

[2017-11-30 05:25] #729 closed

[2017-12-01 12:28] fuxiocteract opened #1103 "is there any documents to use subscriptions with express-graphql?"
is there any documents to use subscriptions with express-graphql?

[2017-12-01 12:38] terencechow commented on #723
As someone who is experiencing similiar issues I'd like to provide my profiler. I have a simple query like so

query ExampleQuery {
     fetchPeople { ... }
     fetchProjects { ... }
     fetchOrders { ... }
     ... ~10 more fetches
}

Most of the data fetched is within 5-20 results. However one of the data points fetched is 1200 results. I ran a profiler and seems like a significant portion rel

[2017-12-01 23:26] #1057 closed

[2017-12-02 00:40] leebyron commented on #1086
Interesting idea! Perhaps you could build atop #1000 or double down on the "visitor" idea by allowing for schema transforms to be written in this fashion.

I think a standalone library would be reasonable, though if the utility is small and highly generalized then it could live here as well.

[2017-12-03 13:06] kdong007 opened #1109 "how can I import .graphql file directly in react native?"
either with qql tag or as raw text is fine

[2017-12-04 08:21] giautm commented on #1109
You can use `babel-inline-import`

[2017-12-04 10:10] #1077 closed

[2017-12-06 14:14] terencechow opened #1119 "Bad Performance compared to Promise.all([...fetchPromises])"
I have a `/graphql` route and a `/nongraphql` route.

I am testing a graphql query that resolves 13 GET requests to my backend service. It looks something like this:

[code]

Each inner query is simply a http GET request. (i.e. `fetch(url)`)

Alternatively my `/nongraphql` route looks like so:

[code]

Note that the fetch functions in my `nonGraphQL` route are identical to the fetch functions in m

[2017-12-07 05:58] leebyron commented on #1119
I would suggest profiling your server to understand where the time is being spent.

Are you constructing a schema for each request? Are the queries persisted or is there some time being spent uploading or parsing bytes? Are your backing reads to a backend service batched in any way?

There are lots of things which could be causing a slow down, and unfortunately there is no silver-bullet answer, yo

[2017-12-07 05:58] #1119 closed

[2017-12-07 06:00] leebyron commented on #1109
GraphQL is not Javascript-executable, so you cannot import them as Javascript code.

If you're just looking to read a file from the disk, please look to the React Native project for help

[2017-12-07 06:00] #1109 closed

[2017-12-07 06:03] leebyron commented on #1099
As @IvanGoncharov pointed out, the GraphQL SDL should be your tool of choice for representing a schema in an implementation-agnostic fashion. We're in the process of finalizing the specification for it, so hopefully soon most GraphQL implementations will support it natively.

If you wish to use JSON instead, you could either manually maintain an introspection result or manually maintain the result

[2017-12-07 06:03] #1099 closed

[2017-12-07 06:05] leebyron commented on #1097
You might instead use the manager's id to represent it in a mutation:

[code]

[2017-12-07 06:05] #1097 closed

[2017-12-07 06:17] leebyron commented on #1093
`extendSchema` is not mutative - it will produce new versions of all modified types leaving the existing type references (and the existing schema reference) unaltered.

That means any references to the original types remain original.

One way around this when implementing `resolveType` is to return types as string names instead of reference:

[code]

If resolveType returns a string, that string is

[2017-12-07 06:17] #1093 closed

[2017-12-07 06:22] leebyron commented on #1091
Unfortunately `npm link` is pretty broken, though I'm surprised using a file path as a dependency didn't work for you.

This issue occurs when there are multiple instances of graphql-js in your node_modules directory. npm-link works by creating symlink to another directory, if that other directory also has a node_modules folder with graphql-js within it, then you'll have multiple copies.

When I d

[2017-12-07 06:22] #1091 closed

[2017-12-07 06:24] leebyron commented on #1100
Validation does not occur in the context of an execution. Since execution has not begun when validation occurs, there is no execution context to provide.

Permission checking and other authorization logic should be performed during execution when the relevant information is available.

[2017-12-07 06:24] #1100 closed

[2017-12-07 06:25] leebyron commented on #1092
Thanks for the report. I've fixed this in the master branch and will have a release soon.

[2017-12-07 06:25] #1092 closed

[2017-12-07 06:28] leebyron commented on #1085
That `assertValidName` utility can be used externally, and is used when defining the introspection system itself, hence allowing the var.

Unfortunately this warning is likely to become louder instead of configurable in the future as the spec disallows fields named with two underscores to preserve the namespace for introspection features. For example a "__cost" field might represent some future in

[2017-12-07 06:28] #1085 closed

[2017-12-07 06:30] leebyron commented on #1075
It is! In fact the GraphiQL browser utility is powered via GraphQL.js.

Go for it!

[2017-12-07 06:30] #1075 closed

[2017-12-07 06:32] leebyron commented on #1074
The express-graphql server looks for the existence of the `data` property to determine 400 level errors. If `data:` is a value or `data: null` then you know any related errors occurred during execution and the result is 200/500. If there is no `data` property, then execution never began and the errors are 400.

[2017-12-07 06:32] #1074 closed

[2017-12-07 06:35] leebyron commented on #1069
Sorry to tell you, but it looks like your error is closer to how you interact with Postgres, which is not something I'm very familiar with.

From the sounds of it, some value flowing through your system acting as a date is malformed.

[2017-12-07 06:35] #1069 closed

[2017-12-07 06:35] exogen commented on #1093
@leebyron I didn't realize that was possible but was actually going to be my suggestion for how to improve this. I think there are still several actionable improvements from this issue:

1. Document that you can return strings from `resolveType`. The docs don't mention it and even insist that the return type is `?GraphQLObjectType`.
2. Actually do that in the examples. Since you can't control whet

[2017-12-07 06:36] #1055 closed

[2017-12-07 06:39] leebyron commented on #1047
Ensure the values returned from `stores` includes information about the country they relate to, such that when querying `cars` on each `store`, you'll have that context available.

Alternatively, if each `store` is unique and may appear in multiple `country`, then `cars` will only be relative to each unique `store`. If you care to filter them down to country, perhaps you should use a field argumen

[2017-12-07 06:39] #1047 closed

[2017-12-07 06:41] leebyron commented on #1024
#1080 will dramatically improve this error message. Some PRs partly implementing it are already going up. Sorry for the confusion and happy to hear your problem was solved.

[2017-12-07 06:41] #1024 closed

[2017-12-07 06:42] leebyron commented on #1089
Closing here in favor of non-library-specific discussion

[2017-12-07 06:42] #1089 closed

[2017-12-07 06:43] leebyron commented on #1101
I believe this should be fixed in the master build. If you would like to try that, there are instructions on the readme for using the latest build.

If you still encounter this issue, it would be helpful to send a PR showing a failing test case

[2017-12-07 06:43] #1101 closed

[2017-12-07 06:43] skkap commented on #1091
@leebyron thank you for your reply! We came to the similar solution as one that you suggested.
We ended up doing this: common code is no longer a npm package, we use symlink to map common code directory in each application directory and import/require same way as any application module.

Hint for those using docker: you will not be able to put common code into the container this way, docker forbid

[2017-12-07 06:46] leebyron commented on #1073
Sorry, I don't have enough information to help. What was the error? Where did you see it? Was it from this library or another one hosting it?

JSON allows for unicode in strings, so perhaps you're using a broken JSON encoder. You could always try using unicode escapes (eg "\u00C9")

[2017-12-07 06:46] #1073 closed

[2017-12-07 06:47] leebyron commented on #1062
I think you're looking for Variables. Variables allow using dynamic input to a query

http://facebook.github.io/graphql/October2016/#sec-Language.Variables

[2017-12-07 06:47] #1062 closed

[2017-12-07 06:47] leebyron commented on #1068
A Flow type feature

[2017-12-07 06:47] #1068 closed

[2017-12-07 06:48] #1067 closed

[2017-12-07 06:50] leebyron commented on #1060
This would be a bug, however I cannot reproduce what you've described here.

I'm going to close this issue since I cannot reproduce it, however if you can please please open a PR with a failing test case so it can get attention

[2017-12-07 06:50] #1060 closed

[2017-12-07 06:51] leebyron commented on #1039
I would recommend custom scalars for this, otherwise this is typically behavior found in a resolve function

[2017-12-07 06:51] #1039 closed

[2017-12-07 06:52] leebyron commented on #1036
Sounds great to me! GraphQL.js is designed to be agnostic to any backend, so there should be no trouble connecting to presto or any other unique backing service.

[2017-12-07 06:52] #1036 closed

[2017-12-07 06:53] leebyron commented on #978
Please feel free to send this as a PR to the utilities/ directory if you feel like including it in the core library.

[2017-12-07 06:53] #978 closed

[2017-12-07 06:54] leebyron commented on #981
Sounds great, send a PR when willing

[2017-12-07 06:54] #981 closed

[2017-12-07 06:57] leebyron commented on #973
There is currently no way to do this outside of performing a batched query: many smaller queries sent collectively as a single request, where each query fulfilling send back as a chunk.

However streaming parts of a query is something we've been experimenting with for a long time - it turns out to be more difficult from the product consumption side than the server generation side. There is some on

[2017-12-07 06:57] #973 closed

[2017-12-07 06:58] leebyron commented on #964
It's likely you have multiple copies of graphql-js in your node_modules directory, ensure there are only one to resolve this issue

[2017-12-07 06:58] #964 closed

[2017-12-07 06:59] leebyron commented on #959
The problem is that each call to `get type` is calling `new GraphQLObjectType` and creating a new instance of the type. If you include that in a schema multiple times, you'll get many object types with the same name.

Compare to your second example where `new GraphQLObjectType` is called only once.

[2017-12-07 06:59] #959 closed

[2017-12-07 07:01] #958 closed

[2017-12-07 07:04] leebyron commented on #957
I think you may be bending GraphQL for a purpose it wasn't designed to solve. I think your approach of reaching into the value returned from `execute` to get a partial result makes the most sense.

Typically when sending values over a pubsub, I don't see the results of a GraphQL query execution but instead more simplified metadata (which upon the "sub" side might trigger a GraphQL query before sen

[2017-12-07 07:04] #957 closed

[2017-12-07 07:07] leebyron commented on #1028
Try adding field arguments to your `application` field, perhaps `application(name: String)`

More about field arguments: http://facebook.github.io/graphql/October2016/#sec-Object-Field-Arguments

[2017-12-07 07:07] #1028 closed

[2017-12-07 07:08] #1037 closed

[2017-12-07 07:10] leebyron commented on #1034
This is not possible, no.

Default values are static and communicated to tools which might see them at different times from when a query is executed. They may decide to omit a query based on a default value, assuming it is static.

I recommend not using default values and instead in your resolver check for `null` and supply your default behavior.

Alternatively, you might define these as "seconds

[2017-12-07 07:10] #1034 closed

[2017-12-07 07:11] apostopher commented on #1039
yes. I used custom scalar for it.

[2017-12-07 07:12] leebyron commented on #941
The order of fields and arguments is often meaningful. I don't think such a feature should be part of `printSchema`, however a `lexographicSortSchema` function would be useful which *returns a new Schema instance* - that would be far more flexible and allow for printing the sorted schema or doing anything else you can do with a schema.

Feel free to send a PR if you're still interested, though I'm

[2017-12-07 07:12] #941 closed

[2017-12-07 07:13] leebyron commented on #943
These are the options the Lexer uses during parsing. That strongly types the `options` field of the Lexer.

[2017-12-07 07:13] #943 closed

[2017-12-07 07:15] leebyron commented on #952
Note that the execution of mutations and subscriptions is different from queries - while technically any field could have a side effect (cause some mutation to underlying systems), only the top level field is executed serially.

It is considered best practice to contain any side-effectful field in the top level Mutation root type only.

[2017-12-07 07:15] #952 closed

[2017-12-07 07:24] #1071 closed

[2017-12-07 07:25] leebyron commented on #1071
Given your test and repro use Apollo client, my guess is that the error is there or perhaps due to some bad Promise implementation.

I just added this specific test case and it passes as expected.

[2017-12-07 07:32] #1072 closed

[2017-12-07 07:32] leebyron commented on #1072
`@skip` and `@include` cannot be added as custom directives - they will always be implemented using the built-in spec-compliant versions.

Other custom directives will be included. I've just added a test which confirms this

[2017-12-07 07:37] leebyron commented on #936
Enums are defined to be `Name` so they can be easily represented in all major programming languages. If `SOME-TYPE` were translated to JavaScript, it would be interpreted as a subtraction.

Enum values are purely representative and can represent any runtime value, not even just a string. Consider this example: https://github.com/graphql/graphql-js/blob/master/src/type/__tests__/enumType-test.js#L3

[2017-12-07 07:37] #936 closed

[2017-12-07 07:37] #912 closed

[2017-12-07 07:38] leebyron commented on #986
Agreed, this would be a great community project. Go nuts!

[2017-12-07 07:38] #986 closed

[2017-12-07 07:40] leebyron commented on #937
The latest updates to the master branch enable this via `type Mutation` - see https://github.com/graphql/graphql-js/blob/master/src/language/__tests__/schema-kitchen-sink.graphql#L15-L29

Release coming soon

[2017-12-07 07:40] #937 closed

[2017-12-07 07:42] leebyron commented on #910
Validate should always return safely and not throw. Is this still an issue? In the future please escalate by submitting a PR with a failing test case or better yet a fix.

[2017-12-07 08:32] leebyron commented on #825
I believe this is highly related to what @mjmahone is working on these days

[2017-12-07 08:33] leebyron commented on #843
Supported in master (thanks to @baer's hard work) and will be included with the next release

[2017-12-07 08:33] #843 closed

[2017-12-07 08:34] leebyron commented on #956
This is almost always due to multiple `graphql` installs in the `node_modules` directory.

I'm working on improving the error messages for these cases

[2017-12-07 08:34] #956 closed

[2017-12-07 08:35] leebyron commented on #1076
The fields themselves must not be a promise since they need to be immediately invokeable from the type definition, however you could have a promise which resolves the entire schema which does this work before hand.

[2017-12-07 08:35] #1076 closed

[2017-12-07 08:36] leebyron commented on #771
Now fixed in master and will be included in the next release

[2017-12-07 08:36] #771 closed

[2017-12-07 08:39] leebyron commented on #750
That line works great, as does the `isTypeSubTypeOf` function, which works not just for interfaces and objects but many other types as well.

[2017-12-07 08:39] #750 closed

[2017-12-07 08:40] #938 closed

[2017-12-07 19:32] #910 closed

[2017-12-07 21:19] IvanGoncharov commented on #941
@leebyron I'm already working on utility function to sort the result of introspection query.
I will try to submit PR in a next few days.

[2017-12-09 00:04] peterwj commented on #207
Hey all!  I've got a similar situation on my hands where a union input type would be handy.  In pseudocode using no particular syntax, the schema of the object I wish to upload via mutation looks something like this:
[code]

Basically, I've got a list of heterogeneous entries that together form a sensible collection, but whose internal structure differs.  I'd like to use GraphQL to enforce that ea

[2017-12-09 06:16] akhilaudable commented on #1016
Hi, I have the same error in graphiql
[code]

I tried  ```find node_modules -name graphql```.  But I have only one version of graphql.

schema.js

[code]

package.json

[code]

server.js

[code]
Any idea what is wrong in it?

[2017-12-11 02:14] yutin1987 commented on #894
maybe..., we can change this: https://github.com/graphql/graphql-js/blob/master/src/subscription/subscribe.js#L149
[code]

[2017-12-11 20:54] #821 closed

[2017-12-11 21:04] taion opened #1135 "Observables v async iterables for subscriptions"
There's a bit of annoying impedance mismatch between working with subscriptions in GraphQL.js and working with subscriptions in Relay.

While GraphQL.js internally uses async iterables for subscriptions, Relay instead uses observables to handle everything.

The semantics between the two are similar, but not identical, and we end up with different-looking code on the receiver side v. on the publish

[2017-12-12 01:19] machineghost commented on #290
@leebyron

Has anything happened with this since?  The 3rd-party JSON GraphQLType is a good workaround but an official GraphQL type would obviously be preferable.

[2017-12-12 02:51] leebyron commented on #1135
I don't think we should - GraphQL.js subscriptions use async iterables because it's an impending native syntactic JavaScript feature, while Observable seems unlikely to become native. Support for native syntax is going to be important for the long term sustainability of the feature.

Observables are probably a better fit for client-side observable programming where synchronous responses to observa

[2017-12-12 02:51] #1135 closed

[2017-12-12 02:54] leebyron commented on #406
Fixed in master, released shortly

[2017-12-12 02:54] #406 closed

[2017-12-12 02:58] leebyron commented on #410
Closing this aging issue, but I agree with @stubailo's recommendation.

Returning an object type from a mutation is always a good idea since in the future it's highly likely that some client will want to read after a write and converting from a boolean to an object would be a breaking API change. If you want to support a case where clients don't request anything other than whether the mutation suc

[2017-12-12 02:58] #410 closed

[2017-12-12 03:01] leebyron commented on #955
Closing this aging issue, however the master branch has been tested to work with the latest version of flow and will be released shortly.

Also, error messages in flow can be confusing sometimes - I find `flow check --traces 100` is a way to see flow's thought process which sometimes reveals a more compelling reason for an error.

[2017-12-12 03:01] #955 closed

[2017-12-12 03:07] leebyron commented on #743
Strange that you're not seeing the message of the syntax error, which is what I see when I run a test like `require('graphql').parse('{{')`:

[code]

Also, if you're calling `parse()` directly, then I recommend catching the parser errors and handling them in a more convenient way, such as:

[code]

[2017-12-12 03:07] #743 closed

[2017-12-12 03:08] #731 closed

[2017-12-12 03:12] leebyron commented on #732
I have seen some APIs support a "batch" operation where rather than some new GraphQL syntax, two separate GraphQL requests are included in the batch where some variables in the second request are fulfilled by part of the response of the first request. We use this sort of thing at Facebook for some rare cases like this.

Alternatively, it could be better if your `createOrder` mutation anticipated t

[2017-12-12 03:12] #732 closed

[2017-12-12 03:32] taion commented on #1135
Thanks!

[2017-12-12 04:10] #1016 closed

[2017-12-12 05:48] mattkrick commented on #894
FWIW, here's how i solved this:
- for each request, put a new dataloader in a bag of dataloaders
- Pass in the bag of dataloaders to the context instead of a single dataloader
- When your mutation publishes something, include the dataloader ID you're working with
- When the subscription resolves the payload, use the dataLoader ID that was passed to it.

Extra details:
- the data loaders created by

[2017-12-12 06:35] IvanGoncharov commented on #290
@machineghost Yes, here is PR to add `Any` type to the spec:
https://github.com/facebook/graphql/pull/325

[2017-12-12 07:26] ravenscar commented on #894
I have a function called `buildDataLoaders()` which returns an object keyed with the names of all the dataloaders I need, I call this the `loaderBucket`.

When I get a query or mutation over http then I call `buildDataLoaders()` to create a new `loaderBucket` and shove it in the context for the resolvers, the resolvers then use object destructuring to pull out the dataloaders they need.

Socket co

[2017-12-12 12:00] YoungPeanut opened #1138 "is type Case Sensitivity?"
is type in graphql Case Sensitivity? ....

[2017-12-12 18:45] leebyron commented on #1138
Yes it is

[2017-12-12 18:45] #1138 closed

[2017-12-13 00:00] YoungPeanut commented on #1138
@leebyron thx.   and type must begin with a capital letter？

[2017-12-13 00:27] leebyron commented on #1138
Types may be any valid name, however it is a common convention to start type names with a capital letter.

Read more about that here: http://facebook.github.io/graphql/October2016/#sec-Names

[2017-12-13 04:35] #546 closed

[2017-12-13 04:35] #1080 closed

[2017-12-13 22:52] damianopetrungaro opened #1142 "CustomScalarType validation and GraphQLError handling"
I am having a strange issue (or maybe it's just missing some documentation about it)

In this repo (few days ago) i was returning a GraphQLError when resolving a CustomScalarType if something went wrong and i retrieved the right error message by the playground client.
Here the "old" code
https://github.com/damianopetrungaro/graphql-node/commit/a9946a5df49845e80f80e1d0a29ed10b6339ac4c#diff-2878e9a9

[2017-12-14 02:45] jasonbahl commented on #207
It seems like the pattern for the web at large is to have more controlled, structured inputs for html content, but there’s not really any good way to validate blocks of html input right now. GraphQL input unions would allow for structured inputs AND true server side validation on the “blocks” as they are stored and converted into something like html.

WordPress, for example, is in the process of b

[2017-12-14 23:09] klebba commented on #497
@ffxsam What approach did you land on? I agree that it is bizarre that there is no obvious solution beyond going outside the library.

[2017-12-15 18:24] waheed25 opened #1151 "multiple query response needed"
i needed a response two queries in a file one is node query and the other is viewer query. I wrap it with graphql like that
`export default graphql(nodeQuery)(graphql(viewerQuery)(Component));`
but i always getting response of first query mean which query is written first and i didn't get response of second one.please suggest me some solution.

[2017-12-16 00:38] kbrandwijk opened #1154 "Passing field arguments to type definition for multiple representations"
I have a number of use cases where data can have multiple representations. For example: numbers can have a decimal, hexadecimal, binary, etc. representation. Temperatures can have a Celcius or Fahrenheit representation, measurement units have different representations.

The only way to implement this right now, is by adding a parameter to the fields, and implement the conversion/formatting in the

[2017-12-18 09:54] andrewmclagan commented on #150
Normalisation would be an insanely useful feature.

[2017-12-18 17:41] leebyron opened #1168 "Flow types under-specified for visit() `enter`/`leave` methods under a specific kind."
Example which should not encounter a type error, but does:

    visit(doc, {
      FragmentDefinition: {
        enter(node) {
          console.log(node.name.value);
        },
      })

[2017-12-18 23:33] leebyron commented on #1154
Arguments are properties of the fields they're attached to, not the types they return. I'd be interested in seeing a PR which implements what you propose, but I have a feeling it may look messy due to the concepts being unrelated in semantics and implementation.

[2017-12-20 17:21] taion commented on #491
This was resolved in v0.12 and should be closed

[2017-12-20 19:08] jquense commented on #491
hmm it is technically resolved but doesn't really solve the issue. It still uses instanceof checks but moves it to a utility function. The issue is still that this will fail if you have two instances of graphql installed

[2017-12-24 07:10] oney commented on #672
I believe my package is the best way to achieve nested mutations.
Check it out https://github.com/oney/graphql-mutate

[2017-12-24 07:10] oney commented on #221
I believe my package is the best way to achieve nested mutations.
Check it out https://github.com/oney/graphql-mutate

[2017-12-24 14:35] lgraziani2712 opened #1177 "Issue with Flow 0.61.0 and graphql function"
### Description

When I'm trying to excecute graphql (I'm writting my first grapqhl test), Flow reports this error:

[code]

I'm doing something wrong?

### Extra information

- Flow version: v0.61.0
- graphql-js version: v0.12.3

Thank you!

[2017-12-25 07:06] mrtnzlml commented on #955
I confirm that it's fixed in the last version! Thank you very much, good job! 🙂

[2017-12-26 20:12] asci opened #1182 "Getting realm related error in console if using webpack.UglifyJsPlugin"
Hello,

I have a bit strange situation. If I build my project with UglifyJsPlugin I get this error:
[code]

I checked node_modules and I have only one `graphql` module installed and during development, I don't have this error. Moreover, my app still works fine and makes requests.

When I debug `instanceOf` I see something like this:
[code]
Any ideas what it could be and how to avoid it?

Versions:

[2017-12-26 20:21] asci commented on #1182
So, as far as I can see the problem is that `GraphQLScalarType` and `GraphQLObjectType` constructors both get `e` as a shortcut during the minifying. And when graphql-js tries to compare them — condition is `true` and it throws an error.

[2017-12-26 20:30] asci commented on #1182
So, I found how to avoid the issue:
use
[code]
option for `UglifyJsPlugin`, but the problem is that get additional **37Kb** (124Kb -> 161Kb) on output bundle size for vendors. Any ideas? Maybe there is a production version of `graphql`, like for `react` or `react-dom`?

[2017-12-26 21:17] IvanGoncharov commented on #1182
@asci Didn't try this myself but https://github.com/graphql/graphql-js/pull/1174 should solve your problem. This fix is not released yet but you can test it with a local build.

[2017-12-27 15:39] dschnare commented on #41
@leebyron Hmm. This doesn't sit well with me. Directives are a great way for graphql server administrators to provide custom functionality to their graphql users.

From the spec:

```GraphQL servers define what directives they support. For each usage of a directive, the directive must be available on that server.```

This seems to be that so long as a directive can be found on the server the users

[2017-12-27 15:53] alloy opened #1184 "Consider turning validation of fields with dunderscore prefix back into warning."
Based on some old discussion (not sure where anymore so can’t provide links) we decided to use `__id` for global object IDs in our schema.

Recently, an initial change to the name validation [started throwing errors](https://github.com/graphql/graphql-js/commit/379a3084392179d2cae92c211a4559f9836299c6#diff-8cc58e6f9e7daaea6d65e16ce1d35b16) for fields starting with a dunderscore. This was then [tur

[2017-12-29 11:39] vjeux opened #1186 "Is this supposed to not parse anymore?"
I'm trying to upgrade prettier to the latest version of the GraphQL spec (from 0.10.5 to 0.12.3) and the following no longer parse:

[code]

Is this supposed to not parse anymore or is it a mistake? It happens in a few places in prettier test suite.

[2017-12-29 11:56] vjeux commented on #1186
All those syntax error after the `on` keyword

[code]

[2017-12-29 11:57] IvanGoncharov commented on #1186
@vjeux It's invalid since `FIELD1` is not a correct location, here is list of supported locations:
https://github.com/graphql/graphql-js/blob/master/src/language/parser.js#L1413-L1433

This error message looks confusing and it would be great if someone improves it.

[2017-12-29 12:12] vjeux commented on #1186
I'm trying to write something that parses but I'm miserably failing :( Would you be able to write me an example of something that parses after `on`? Thanks!

[2017-12-29 12:14] vjeux commented on #1186
Nevermind, the things commented with backticks were not types but literals. This works:

[code]

[2017-12-29 12:14] #1186 closed

[2017-12-31 15:26] vjeux opened #1188 """"\nabc\n""" and """abc""" are not distinguishable from the ast"
Both of then look exactly the same. I would expect \n to be part of the value.

[code]

[code]

[2017-12-31 17:11] IvanGoncharov commented on #1188
@vjeux It's intentional:

https://github.com/facebook/graphql/blob/master/spec/Appendix%20B%20--%20Grammar%20Summary.md#lexical-tokens

[2017-12-31 17:17] vjeux commented on #1188
Thanks for the quick reply. This is unfortunate as it means I have to read from the raw input to print it as it was entered... I can live with it though!

[2018-01-02 16:02] lydell commented on #1188
I’m not 100% sure this is an issue: https://github.com/prettier/prettier/pull/3605#discussion_r159255170

[2018-01-02 22:09] IvanGoncharov commented on #1188
@vjeux I saw you [removed workaround](https://github.com/prettier/prettier/commit/5356db0e696b970bff91a42bc644cf90c267b685#diff-e6e272291fd4f200aa8617e6548d62b3L129) from `prettier`.
Does it mean that your problem is solved and this issue could be closed?

[2018-01-02 22:10] vjeux commented on #1188
Yes, sorry!

[2018-01-02 22:10] #1188 closed

[2018-01-06 17:59] jedwards1211 commented on #361
I just realized that this isn't much of a problem for me anymore because I'm now using Sequelize and doing most of my field validations in Sequelize itself.

Which makes me think:
* Many servers will at some point need to operate on their model layer directly, aside from any GraphQL requests.
* So the model layer should already perform validation itself, lest any server code write invalid data to

[2018-01-07 12:12] wmertens commented on #361
Extra verification is not really a problem is it?

Also, in my experience, having the GrapQL schema be auto-generated from the DB paints you in a corner for later DB changes.

The schema your client app uses is very similar to the schema the server app uses, but not the same.

[2018-01-08 09:32] axetroy opened #1192 "Custom error property"
I am doing i18n translation after GraphQL done if it throw an error.

With the information of Error, I have ``code``, ``prefix``, In my dictionary, easy to translate it.

Unfortunately, the property are missing.

[code]

Koa-graphql **formatError**

[code]

Here is the output in terminal

[code]

The custom property **code** have been drop

Is anyone can help me found it back?

### Related

- #295

[2018-01-08 10:00] axetroy commented on #1192
Finally, I found the way.

[code]

[2018-01-08 10:00] #1192 closed

[2018-01-08 20:31] leebyron commented on #1177
Definitely strange! This library uses Flow 0.61 and has all tests passing right now, so it's possible something else is wrong. Can you include a full output of any Flow errors?

[2018-01-08 20:32] leebyron commented on #1182
Really sorry about this issue! I'm glad you were able to find a temporary work around, and I'm working on getting a new release out shortly that disables the check in mangled production bundles

[2018-01-08 20:33] leebyron commented on #1182
Thanks for sharing your diagnosis and debugging details. I found a similar conclusion which led to #1174. I'm going to close this issue since we have a fix that is release-ready

[2018-01-08 20:33] #1182 closed

[2018-01-08 20:35] leebyron commented on #1151
Try:

[code]

This will run both queries in parallel and get both responses at the same time.

[2018-01-08 20:35] #1151 closed

[2018-01-08 20:44] leebyron commented on #1184
Thanks for highlighting this - I agree there should be an escape hatch for this.

For some context on that discussion you're referring to, `__id` is specifically the case that is problematic - there have been discussions about it to the spec as a defined form for internal identifiers but allowing user-defined schema to use the field name makes it impossible to introduce such a change. We decided t

[2018-01-08 20:53] leebyron commented on #1142
Sorry for the delay getting to this, but it looks like your master branch has moved considerably since you opened this.

Some general feedback from looking at the code, you shouldn't need a try/catch/return pattern, just allow the error to be thrown.

I also suggest ensuring you're using the latest version of this library, since the most recently released version fixed some issues with handling er

[2018-01-08 20:53] #1142 closed

[2018-01-08 20:56] leebyron commented on #1087
This looks like it may simply be a circular import issue. I suggest doing some research on circular node requires. The solution is usually replacing `module.exports = something` with `exports.something = something`.

[2018-01-08 20:56] #1087 closed

[2018-01-08 20:57] leebyron commented on #1095
Syntax for this exists, however `extendSchema` needs additional logic for these cases. This would be a great task for someone to pick up who seeks to learn about this library

[2018-01-08 21:07] alloy commented on #1184
Makes total sense 👍

I’d be happy to make a PR for this. Would you want it to work the same way as previously? (Upside is that the env var that people may already have set would continue to work.)

[2018-01-08 21:15] leebyron commented on #1184
I've got one in progress I'll put up in a couple minutes and ping you for your thoughts

[2018-01-08 21:34] leebyron commented on #491
After gathering more insight on this issue over the recent months, I think it's time to close this issue.

The problem here is that `instanceof` check is really a sort of "canary in the coal mine". Including multiple copies of graphql-js in a bundle is almost never what you want. It doubles the byte-weight of the library in your bundle. Even if `instanceof` was replaced with a duplicate-safe brand

[2018-01-08 21:34] #491 closed

[2018-01-08 21:38] leebyron commented on #966
Sorry for allowing this issue to sit, but I'm going to close it since it is aging.

Flow library definitions are included in the npm bundle, if you use flow then it should report mistakes in using the GraphQL.js API - I recommend looking at the definitions of functions (some IDEs will allow you to command-click to jump to them) for descriptions of how functions in the library expect to be called.

[2018-01-08 21:38] #966 closed

[2018-01-08 22:04] jquense commented on #491
my main problem with this is that there is no way to solve this without using poorly documented feature in `yarn, and there is no recourse with `npm`. On top of that almost _everyone_ that consumes `graphql-js` does so as a direct dependency.

I don't understand this rationale AT ALL. why do care about the byte size of my http server or tool.  I don't care about `npm link` either. It's frustrating

[2018-01-08 22:39] #1184 closed

[2018-01-09 01:15] felixfbecker commented on #491
Yeah I don't really understand that argument either. This is mostly about GraphQL _tooling_, which you have as devDependencies, and I don't care at all about how many KB I am downloading for that. I am not bundling them.

I see the point of not wanting to allow different arbitrary versions of graphqljs to work with each other. But currently, it's not possible to even have multiple installations of

[2018-01-09 01:33] chrbala commented on #491
I've had the most luck with using a monorepo setup and yarn's resolutions field. I've had no issues with this configuration.

For non-monorepos that I needed to ``yarn link`` together, what worked best for me (for dev, of course) was globally installing graphql and ``yarn link``ing graphql to each package that required graphql. This would probably not work when a different version of graphql is a

[2018-01-09 01:41] felixfbecker commented on #491
Well the last three releases (0.10, 0.11, 0.12) with breaking changes where in May, August and December, so on average a breaking release every few months. If you use yarn's `resolution` field then that puts a significant burden on package maintainers to always stay compatible with the latest version, because you will only be able to upgrade once _all_ your packages work with the new version. You

[2018-01-09 12:38] axos88 commented on #451
@dschafer: Just ran into this, thanks for the explanation! :+1:

[2018-01-09 14:00] dkuznetsov44 opened #1195 "graphqlSync doesn't support mutations"
**executeFields** (for queries) returns MaybePromise
**executeFieldsSerially** (for mutations) returns Promise and this is not "sync"

https://github.com/graphql/graphql-js/blob/master/src/execution/execute.js#L399

Could you please rewrite executeFieldsSerially to return MaybePromise also?

Thanks! :)

[2018-01-09 19:29] tgriesser commented on #207
Just [opened a PR](https://github.com/graphql/graphql-js/pull/1196) proposing an inputUnion type - would love to get feedback from anyone on the idea!

[2018-01-09 19:40] mike-marcacci commented on #207
@tgriesser it looks like there's [a related issue on the GraphQL spec](https://github.com/facebook/graphql/issues/202) but no actual RFC. I'll bet that any insight you gained while working on your implementation would be helpful over there as well!

[2018-01-10 04:19] Fi1osof commented on #1182
Good day!
@leebyron, is this fixed? I got this error on production from verrsion 0.12+. Before upgrade all works fine. Reason for upgrade: moved DirectiveLocation into ../language/directiveLocation https://github.com/graphql/graphql-js/blob/740b7fae02368b1ea24f9e12a62502c49cd9fb95/src/type/directives.js#L19-L22

I update my component https://github.com/MODX-Club/react-cms/commit/80b111aecf7669c978

[2018-01-11 12:18] Cito opened #1202 "Issues with the dedent string tag used for testing"
GraphQL.js has a ES6 string tag helper function under `jsutils/dedent` that removes indentation from strings so that the unit tests can look nicer.

One undocumented side effect of the `dedent` function however confused me when reading some of the tests: The tag also adds escape sequences to the dedented string. Take for example this test:

[code]

The output actually contains escape sequences, li

[2018-01-11 14:45] IvanGoncharov commented on #1202
@Cito I think you right, only a handful of tests contains escape symbols so they can be changed to:
[code]
This form is more explicit and less confusing.

It's very easy to add tab support so I think it should be added even though this function only used in tests and they are indented only with spaces.

[2018-01-11 15:55] Cito commented on #1202
Right, I would also prefer the `dedent+String.raw` form which is more explicit. Or you could just use double backslashes in the string which also makes it clear that the output is expected in escaped form.

And yes, adding tab support is probably as easy as changing the regex in the first line of `fixIndent()`.

Do you want me to create a PR that changes this behavior of dedent, i.e. returns the n

[2018-01-11 16:06] IvanGoncharov commented on #1202
I'm for it 👍
But PR still needs to be approved by @leebyron

[2018-01-11 19:30] razor-x commented on #1005
Just stumbling on this thread and wondering what ever happened with this as according to the above comment this should have already happened sometime in October / November. Thanks.

[2018-01-11 19:37] Cito commented on #1202
Ok. See PR #1203 for the discussed changes and unit tests.

[2018-01-12 00:57] #1195 closed

[2018-01-13 05:13] lastmjs commented on #1075
So, I went to install this and try it out in the browser. The code installed into my node_modules does not look like the code here in the repo. I was hoping this wouldn't be the case. The source code uses ES modules and should work great in the browser without any kind of build step. The built code installed into node_modules is filled with requires, making it unusable in the browser without appro

[2018-01-13 05:30] lastmjs commented on #1075
Also the source code has flow syntax...there is not a suitable preparation for use in the browser, the source code has flow types, the built code has requires, can we consider an option that is platform agnostic?

[2018-01-13 18:59] lastmjs commented on #1075
Why would the project compile from ES modules, which are more universal
than CommonJS, to CommonJS? Bundlers also understand ES modules.

On Jan 13, 2018 5:46 AM, "Christoph Zwerschke" <notifications@github.com>
wrote:

[2018-01-13 20:41] IvanGoncharov commented on #1075
@lastmjs `graphql` already publish as ES module since `0.12` just look for `module` directory inside the package. More details in #1105.

[2018-01-13 23:03] Yogu commented on #723
I also wanted to find out which part of the graphql engine is responsible for this performance penality. For this, I first let R2D2 have 100000 friends and then used the `HeroNameAndFriendsQuery` of the `starWarsQuery-test.js` (adding `id` of the friend to query two fields). To narrow the source of the latency down, I first disabled the biggest chunk (`completeListValue`) and then gradually allowe

[2018-01-16 18:14] lastmjs commented on #1075
@IvanGoncharov Thank you!

[2018-01-18 19:54] #1202 closed

[2018-01-19 01:29] #1177 closed

[2018-01-19 23:17] bartclaeys commented on #524
So, is it possible or not to combine two queries like that?

[2018-01-19 23:40] jonaskello commented on #1099
Is there some existing function to convert SDL and/or GraphQLSchema into introspection JSON?
My use-case is that I want to generate typescript types by having a JS script that transforms the  introspection JSON into typescript code. There are already tools to do codegen but I think this approach would be more flexible but perhaps it is not a good idea?

[2018-01-20 11:37] janhancic commented on #524
@bartclaeys I ended up doing the following (note that I use my own logic for fetching graphql on the client):

- FE captures any fetch requests for graphql that are triggered in a certain time window
- after the time window it combines them into an array `[{query: ..., variables: ...}, ...]` and sends one HTTP request
- the backend (graphene in my case) then checks if the request is an array, and

[2018-01-21 01:00] tuxsudo commented on #23
The `types` property of a `GraphQLUnionType` [can also be thunk](http://graphql.org/graphql-js/type/#graphqluniontype), so the previous error might be fixed with:

[code]

I was also getting an error like:

It was fixed by changing `types` from an array to a function that returns an array.

[2018-01-22 17:53] leebyron commented on #1099
@jonaskello - yes this library can do both of those things. To convert SDL to a GraphQLSchema: `buildSchema(schemaSDLText)`, to convert a GraphQLSchema to introspection JSON: `introspectionFromSchema(schemaInstance)`

There are a lot of other utilities for operating with a schema and using them to do interesting things like code-generation - check them all out here https://github.com/graphql/graph

[2018-01-22 18:47] jonaskello commented on #1099
Thanks, `introspectionFromSchema` was exactly what I was looking for :-).

[2018-01-26 10:36] caub commented on #154
What is unclear to me is the role of `rootValue` with those 'computed' fields:

for example

[code]

but using `rootValue` and `buildSchema`:

[code]
the computed field `custom` are nulls, I guess Stuff in the `rootValue` isn't even invoked

Is this what `makeExecutableSchema` in [graphql-tools](https://github.com/apollographql/graphql-tools) aims to solve?

(Bascially I would prefer the second ap

[2018-01-26 12:02] IvanGoncharov commented on #154
@caub It's better to use stack overflow for such questions: https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLATE.md#questions-regarding-how-to-use-graphql

------------------

It uses a different approach to the problem.

 But here is a short answer:

You return new root value from `stuffs` and it was missing `custom` property. Here is fixed version:
[code]

[2018-01-26 19:16] gaberudy opened #1210 "SourceLocation exported incorrect and breaks rollup in npm package"
I use rollup with the commonjs plugin to pull in node_modules with tree-shaking.

I get the following error with graphql 0.12.3 (but do not with 0.11.3)
![image](https://user-images.githubusercontent.com/872263/35456259-18f0e286-0292-11e8-8700-5caa79ecfe21.png)

Error here for search indexing:
[code]

`SourceLocation` is a TypeScript type and is not defined (nor should be) in this JS module and th

[2018-01-26 23:31] leebyron commented on #1210
Thanks for the report

[2018-01-26 23:36] #1210 closed

[2018-01-27 00:02] avrono commented on #700
If I may follow on from this, I have inherited a Graphql based API. Whilst it is very neat looking code, the database Postgres and the SQL queries that are generated are some of the most convoluted I have seen. I can't do much caching, as the data is real-time. I am finding it difficult to find ways of breaking these complex SQL queries (which paralyse the DB) into smaller manageable ones.

With a

[2018-01-27 00:07] leocavalcante commented on #219
Any plans to open-source the Hack/PHP implementation? Is this the used version inside Facebook?

[2018-01-28 12:53] baeby opened #1214 "Sourece"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](http://stackoverflow.com/questions/tagged/

[2018-01-28 13:22] IvanGoncharov commented on #1214
@baeby If you want to report an issue or request a feature please open a new issue with proper description.

[2018-01-28 13:22] #1214 closed

[2018-01-28 17:05] damianopetrungaro commented on #1142
@leebyron i confirm that a lot of issues has been fixed, now i can throw error as i were doing before the library started to have strange behaviours

[2018-01-29 15:43] carneiror commented on #732
I was looking for this but had no luck on my search. I could only find examples for nested queries and never for two separate GraphQL requests. Could anyone provide an example on how this could be achieved?

[2018-01-29 17:03] intellix commented on #732
@carneiror Most of the batch stuff I've seen is from Apollo. I believe the server supports batching out of the box and you can send multiple using their batch link: https://www.apollographql.com/docs/link/links/batch-http.html

[2018-01-29 18:48] mattecapu commented on #700
@avrono yes, unfortunately it is pretty much the standard situation I think, But the good thing is GraphQL is really easily cacheable, so...

[2018-01-29 20:08] #291 closed

[2018-01-29 22:18] monojack commented on #150
You can give [graphql-normalizr](https://github.com/monojack/graphql-normalizr) a try

[2018-01-30 07:47] jaydenseric opened #1217 "Provide .mjs enty for native ESM"
This will make it possible for packages dependant on `graphql` to in turn do the same for their consumers, without encountering https://github.com/babel/babel/issues/7294.

[Node.js with `--experimental-modules` can run ESM in .mjs files](https://nodejs.org/api/esm.html#esm_ecmascript_modules).

Essentially, package.json needs to go from this:

[code]

To this:

[code]

Sibling `index.js` (CJS) an

[2018-01-30 13:40] avrono commented on #700
@mattecapu that's great, however for more real-time applications that becomes a problem

[2018-01-30 16:00] leebyron commented on #1217
I'm happy to entertain PRs that add this functionality to the build process. We already produce module files, which are used by rollup and other ES6 aware bundlers. Is all that necessary is changing file extension?

[2018-02-01 08:26] nodkz opened #1221 "0.13-rc.1 notice for maintainers who build tools around graphql-js"
If your tool uses AST type checks something like:
[code]

You need to change your code in following manner:
[code]

According to last [improvements for v0.13.0](https://github.com/graphql/graphql-js/commit/17a0bfd5292f39cafe4eec5b3bd0e22514243b68#diff-fc9da17436b6ffdf301f6e41e53fc207) by @IvanGoncharov you not able to import desired AST types directly from `graphql/language/kinds`.

And if you wan

[2018-02-01 12:09] IvanGoncharov commented on #1221
If possible you should use:
[code]

 I didn't think it will break any 3rd-part code since `graphql/*` files are treated like private API.
@nodkz Did you use `graphql/*` files to minimize bundle size or you need to import some private APIs?

[2018-02-01 12:15] nodkz commented on #1221
It breaks my graphql-compose, already fixed.
And 82 other repos https://github.com/search?l=JavaScript&q=%22graphql%2Flanguage%2Fkinds%22&type=Code&utf8=%E2%9C%93

[2018-02-01 12:17] nodkz commented on #1221
It's our problem, that we use internals imports.
So don't worry. Your work is amazing!

[2018-02-01 22:10] leebyron commented on #1221
Thanks for highlighting this! I'm going to close the issue, but reference it as a potentially breaking change from the release notes!

[2018-02-01 22:10] #1221 closed

[2018-02-03 21:02] joshribakoff opened #1223 "unhandled promise rejection"
In my resolver I return a native Promise, in the executor function I access a variable that was not declared. When I make requests from graphiql that invoke my resolver, I get errors in my terminal about unhandled promise rejections & my http request is left spinning (unterminated). After 60s I get a 504 timeout from nginx which I have reverse proxying traffic to my nodeJS process. Using express-g

[2018-02-05 13:00] brabeji commented on #522
@leebyron There seems to be slight inconsistency. I believe these test cases are up to the spec:
https://github.com/brabeji/graphql-js/commit/af5b3a737482907e361321dbc9ea42fe10e98483

But I can't wrap my head around how the argument about strongly typed languages adds up for object types. How is that different from enums? Obviously, I would like the case with enums to also be safe. 😇

I know I'm v

[2018-02-05 14:26] IvanGoncharov commented on #1223
@joshribakoff  `graphql-tool` is built on top of `graphql-js` but it also adds some custom logic so I'm not sure that you issue related to this lib. I would suggest you to [report this issue to graphql-tools repo](https://github.com/apollographql/graphql-tools/issues/new).

[2018-02-05 15:50] leebyron commented on #1223
We have some pretty comprehensive test coverage for returning Promises within the executor, but it's always entirely possible we haven't covered some case.

Could you provide some minimal failing test case?

[2018-02-05 23:14] IvanGoncharov commented on #522
@brabeji Query results are strongly typed based on possible field values:
http://facebook.github.io/graphql/draft/#sec-Field-Selection-Merging

TL;DR; Only field values are conflicting with each other. In your test case:
[code]
You can think as it stong-typed with following unnamed type:
[code]
In you enum test case you can think as it stong-typed with:
[code]

[2018-02-06 02:25] joshribakoff commented on #1223
Here is a minimalist example that replicates the problem, I actually also have graphql-errors in addition to graphql-tools in the play, I realized. I will try to narrow it down more & post back with more details.

I cloned my demo repo from when I first learned graphQL:

https://github.com/joshribakoff/graphql-demo

I added this resolver to replicate the issue:
[code]
Here is the issue itself:
[co

[2018-02-06 02:44] leebyron commented on #1223
Cancellation of pending backend requests to a connection is a general problem beyond GraphQL, but I think whatever solution the community agrees upon will be happily adopted. I see promise in cancellation tokens (https://github.com/tc39/proposal-cancellation) and abort controllers (https://developers.google.com/web/updates/2017/09/abortable-fetch) - both of which can be implemented in user space (

[2018-02-06 02:53] leebyron commented on #1223
There are a couple problems with your resolver that is resulting in the issue you're seeing.

[code]

First, resolvers should be provided as functions, which a Promise is not. GraphQL.js should be asserting this during construction, however graphql-tools might not be giving you the right error messages since I believe it mutates an existing schema (cc @stubailo)

Secondly, and to get to the root o

[2018-02-06 02:53] #1223 closed

[2018-02-06 17:18] joshribakoff commented on #1223
Which community? I see packages like rxjs, redux-overservable & angular are already using observables, which are conceptually a super-set of promises.  I'm not just talking about canceling the backend requests initiated in the executor function, but also the resources consumed by a promise that is kept around in memory that may never resolve or reject... and pending http requests that do not get t

[2018-02-06 17:27] leebyron commented on #1223
The general JavaScript community. Promises are a native feature of the language and runtime while Observables are not. GraphQL.js seeks to interact smoothly with the JavaScript language. Most Observable libraries support a `toPromise()` API that should allow them to be converted to Promises should you prefer to use Observables in your backing code. Since the discussion around AbortControllers is f

[2018-02-06 17:33] joshribakoff commented on #1223
Ok thank you, just for anyone reading this who is confused & facing the same issue, the correct way to mix them is probably something like this:

[code]

It just stinks a little that if you accidentally wrap them the other way around you get such drastic consequences, I guess that is more of an upstream issue that should be filed with TC39 or something, I feel like if its unintended then it should

[2018-02-07 05:51] tvvignesh opened #1224 "Generating GraphQL GUI from Schema and Schema from GUI"
I had a question on GraphQL schema & UI generation. I have added my question at Stack Overflow:
https://stackoverflow.com/questions/48656816/generating-graphql-gui-from-schema-and-schema-from-gui

Kindly let me know if you have any simpler solution to this problem.

[2018-02-07 15:19] hisapy commented on #361
@jedwards1211 I was thinking the same but there might be a problem. I think that tools like GraphiQL rely on the GraphQL types to validate input, including arguments for mutations. That said, I'm trying to find a way/function that I can provide an object representing an input object for a mutation to validate the input before submitting it to the server.

[2018-02-07 15:27] jedwards1211 commented on #361
@hisapy even if GraphQL types don't throw any validation errors, your query/mutation resolvers can check whatever they want and if they throw any error it will show up in GraphiQL and any other consumers of your API.
I like to validate objects in my resolvers with [`flow-runtime`](https://github.com/codemix/flow-runtime), check it out.

[2018-02-07 15:45] hisapy commented on #361
I mean that those tools, validate input (not data) _as you type_, because they know the schema so they don't have to send a request to the server render schema GraphQL errors locally.

I'm using Relay and I'd like to re-use the GraphQL types to validate the input object for a mutation. Currently mutation only shows a warning but submits anyway. I would like to avoid commit if the args don't pass t

[2018-02-07 15:53] jedwards1211 commented on #361
@hisapy oh, that's an interesting point, I can definitely see the value in better validation as you type!  Though even if the schema supports custom validation functions for input types I don't think it would work, because there's not really a good way for GraphQL to serialize those functions into the schema that GraphiQL requests.
As far as Relay, that's not something I can comment on, I've only

[2018-02-07 18:34] hisapy commented on #361
For example, GraphiQL gets to know the schema via an introspection query. The relay-compiler compiles the queries and fragments in the components based on a schema file provided to the compiler. I don't know Apollo but it would be great if we could validate an object based on schema rules in Relay, given the .graphql.js files the compiler generates. Of course this is not something for this thread

[2018-02-07 18:53] leebyron commented on #1224
Let's keep the issues as bug reports only, thanks!

[2018-02-07 18:53] #1224 closed

[2018-02-07 21:23] BerndWessels opened #1227 "module initialization error with uglify mangle=true"
Using name mangling results in much smaller output which is highly desirable especially when running the graphql server in AWS Lambda to reduce cold start time.

But using `uglify` with `mangle=true` results in this error:

[code]

[2018-02-08 15:35] nikolasburk commented on #799
For those who are still stumbling upon this issue, I've written an article that documents the internals of the `info` object and explains its role in the query resolution process. You can find it [here](https://blog.graph.cool/graphql-server-basics-demystifying-the-info-argument-in-graphql-resolvers-6f26249f613a).

[2018-02-08 19:22] leebyron commented on #1227
@BerndWessels can you share more information about what version of the library you're using? This issue was [presumed fixed](https://github.com/graphql/graphql-js/pull/1174) in the [last release](https://github.com/graphql/graphql-js/releases/tag/v0.13.0), but it would be great to get your confirmation of this.

[2018-02-08 19:42] felixfbecker commented on #1005
Don't really see the problem. Why would it not be obvious that 1.0.0 is greater than 0.13.0? I mean, it's also obvious that 0.1.0 is greater than 0.0.2. That's just how version numbers work

[2018-02-08 19:44] felixfbecker commented on #1005
Also relevant quote from the semver spec:

[2018-02-08 19:47] leebyron commented on #1005
Just trying to remove the psychological connection to "version 1" which can create the misleading picture that up until this point the library wasn't ready and now it is, or that it's the "first" version, which clearly isn't the case. That same psychological connection makes moving from v1 to v2 feel more painful than v123 to v124, even though they're semantically identical. The linked ava issue a

[2018-02-08 20:03] felixfbecker commented on #1005
Well either follow semantic versioning or [sentimental versioning](http://sentimentalversioning.org/) 😄

People need to stop attaching feelings to version numbers. Big projects not following semver because of these feelings only makes the issue worse.

If you want to make clear that this release is not different than the previous ones that is better done in the release notes, a blog post or a twee

[2018-02-08 20:09] leebyron commented on #1005
I don't see moving to v14 instead of v1 as necessarily breaking semver, or at the very least it does not break from the spirit of semver. https://reactjs.org/blog/2016/02/19/new-versioning-scheme.html#what-happened-to-100 is a great articulation of why this is important for people as well as machines.

[2018-02-08 21:07] IvanGoncharov commented on #1005
@leebyron Totally agree about releasing `v14.0.0` 👍
This library exposes soo many public API functions that breaking changes some time necessary so it's better to avoid the pain of `v1` to `v2` migration.

I also think it would be great if release notes for v14 would contain deprecation notice and define sunset dates (or versions) for:
  - legacy SDL syntax
  - allowedLegacyNames
  - [onOperation,

[2018-02-09 23:23] mikeparisstuff opened #1236 "Allow for legacy comment descriptions in `parse` like is supported in `buildASTSchema`"
The implementation of *buildASTSchema* allows you to pass the options object with the *commentDescriptions* key set to true to enable legacy description comments. It would be great if this were exposed in both the *parse* and *print* functions that operate on the AST as well.

[2018-02-10 01:32] j opened #1238 "parseType check if is GraphQLScalarTypes"
I want to be able to dynamically create GraphQLString / other GraphQLScalarTypes from simple strings.

I was trying to use parseType and it seems to get close.

How can I get to this result: `parseType('String!') is object like new GraphQLNonNull(GraphQLString)`?

Thanks!

[2018-02-10 13:31] IvanGoncharov commented on #1238
@j You should use `typeFromAST`:
https://github.com/graphql/graphql-js/blob/98751e473fd7a02c514af48218d87d26daadb5f5/src/utilities/typeFromAST.js#L20-L28

[2018-02-10 17:02] up9cloud commented on #960
memo for who wanna use other client with `import { GraphQLUpload } from 'apollo-upload-server'`

[code]

[2018-02-11 11:42] pratibha2 opened #1239 "input type mutation for"
mutation {
    createCourse(title:"react",description:"happy",
      courseCode:"white",courseCategory:{name:"happy"}){
      id
     courseCode
     title
     description
    courseCategory{
      name
    }
    }
  }

[2018-02-11 11:44] orta commented on #1005
+1 on `v14.0.0`, think it better represents the state where this library is at.

[2018-02-12 02:49] timhuff commented on #733
I was helped by this page so I figured I'd share alike. Inspired by @southpolesteve, I wrote the follow. It's a little different.

One thing that differs is that it doesn't assume a resolve method. It instead creates two Schema templates - one for a normal schema and one for a list schema. If you decide to use these, then it's assumed that you've defined the appropriate methods on that subclass (a

[2018-02-12 11:29] IvanGoncharov commented on #1239
@pratibha2 Can you please provide the more detailed description for your problem?
Please note that issues in this repo are intended for bug reports and feature requests if you have a question regarding how to use graphql [please post it to stackoverflow](https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLATE.md#questions-regarding-how-to-use-graphql).

[2018-02-12 14:29] southpolesteve commented on #733
@timhuff interesting approach!

Fwiw we've actually started moving away from this at Bustle. We saw some big benefits from splitting resolvers entirely from the schema definition. When I wrote the above doing that wasn't really possible since things like `graphql-tools` didn't support all the features of full JS defined types/schemas. Going forward our preference is to write schemas as `.graphql`

[2018-02-13 10:35] pratibha2 commented on #1239
error while performing 2 queries simultaneously in apollo react
const  LOCATION_QUERY = gql`
query {
  allLocations {
        city
  }
}
`;
const  INSTRUCTOR_QUERY = gql`
query {
  allInstructors {
    id
        name
  }
}
`;
export default compose(
        graphql(LOCATION_QUERY,{name:'allLocations'}),
        graphql(INSTRUCTOR_QUERY,{name:'allInstructors'})

      )(AddBatch);

[2018-02-13 13:34] IvanGoncharov commented on #1239
@pratibha2 Can you please post the error message here?
Also please use [code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) in your comments, it makes them more readable.

[2018-02-13 14:50] IvanGoncharov commented on #1238
@j Did I answer your question or do you need additional help?

[2018-02-13 14:58] IvanGoncharov commented on #1236
@mikeparisstuff To work with legacy comment descriptions you can use this function:
https://github.com/graphql/graphql-js/blob/81db4101853924327c53b2fe389b4ab032cd178d/src/utilities/buildASTSchema.js#L470-L482
It's the same function that `buildASTSchema` schema uses internally so by passing `{ commentDescriptions: true }` as options you would get the description from comment.

[2018-02-13 19:56] karloluis commented on #599
Has there been any further development on this discussion? It seems like it has been agreed upon by the community to keep input output types separate for all intents and purposes.

This drives me to question could the type definitions for both scenarios be structured so that they are easily maintainable? How does that look like at scale?

[2018-02-14 20:52] leebyron commented on #1239
Please bring issues like this to the appropriate repository

[2018-02-14 20:52] #1239 closed

[2018-02-14 20:56] leebyron commented on #1236
@mikeparisstuff - comments as descriptions vs the spec compliant block strings does not affect the behavior of parse. No option is needed there.

For printing, you're likely looking for the `printSchema()` function which accepts  `commentDescriptions` as an option as you're looking for.

[2018-02-14 20:56] #1236 closed

[2018-02-14 20:56] leebyron commented on #1238
typeFromAST is definitely what you're after!

[2018-02-14 20:56] #1238 closed

[2018-02-14 20:58] j commented on #1238
Hey @IvanGoncharov and @leebyron.  Yep!  It was definitely typeFromAST.  Thanks.

[2018-02-14 21:53] kbrandwijk commented on #1005
I think it is important to move to major, whichever version number you want to put to it. I'm personally getting very tired of using `graphql` in packages and having breaking changes in minor versions. Minor versions are supposed to be _safe_, but they never are, causing a lot of issues in many libraries each and every time. I really don't get why this has already been brought up more than half a

[2018-02-14 22:01] leebyron commented on #1217
@jaydenseric I just put up a PR which seeks to support this case - would you might helping out with a test case? Even if you want to just pull down the PR and run the build to see if the resulting output solves things for you

[2018-02-15 04:27] hendrul opened #1245 "printSchema: not valid comments"
I must be doing something wrong, no one else seems to complain... my schema is being printed with comments with wrong syntax like...
[code]
the expected syntax is
[code]

[2018-02-15 04:39] hendrul commented on #1245
Ohh I see, it has an undocumented option "commentDescriptions"
[code]

[2018-02-15 07:17] galki commented on #1245
did that option work for you?

[2018-02-15 08:46] galki opened #1246 "printSchema relay-complier error"
After updating from `0.11.7` to `0.13.0` and adding the `{ commentDescriptions: true }` option to printSchema, relay-compiler produces the following error when compiling the printed schema:
[code]
#### error line from 0.13.0 generated schema:
`type Hub implements HubInterface & Node {`

#### same line from 0.11.7 generated schema:
`type Hub implements HubInterface, Node {`

[2018-02-15 10:26] IvanGoncharov commented on #1246
@galki Version `0.13.0` introduced breaking changes into SDL syntax, see here:
https://github.com/graphql/graphql-js/releases/tag/v0.13.0

Master branch of relay was updated to work with it: https://github.com/facebook/relay/commit/c433f8b5a7a0482c3b12fb045b4fa56ba083ee32
But as I understand it wasn't released yet.
I would suggest report it to Relay repo.

[2018-02-15 10:32] IvanGoncharov commented on #1245
@hendrul Version `0.13.0` introduced some breaking changes to SDL syntax, see here:
https://github.com/graphql/graphql-js/releases/tag/v0.13.0

`commentDescriptions` was added as an option to provide the backward compatible format of descriptions.

[2018-02-15 15:40] hendrul commented on #1245
Ok I see, cool!, now this option needs to be known

[2018-02-15 16:29] jdachtera commented on #594
I'm facing this problem today using yarn. I believe the source of this is that graphql-js is still using alpha versions (0.x...) and therefore the normal semver ranges don't apply. So #1005 needs to be fixed.

[2018-02-15 16:39] leebyron commented on #1227
Closing this issue, but feel free to reopen if you encounter the same issue in the most recent release

[2018-02-15 16:39] #1227 closed

[2018-02-15 16:42] leebyron commented on #1245
This behavior has been around since v0.12 and was documented in the release notes!
https://github.com/graphql/graphql-js/releases/tag/v0.12.0

Note that the block string is the correct syntax for descriptions in the SDL - we used to use comments before we had a completed specification for this feature.

[2018-02-15 16:42] #1245 closed

[2018-02-15 22:14] #1217 closed

[2018-02-16 01:39] galki commented on #1246
waiting for relay support https://github.com/facebook/relay/issues/2323

[2018-02-16 11:34] joshuanutmeg opened #1248 "[Bug] (Create React App) Issues with resolving an .mjs file instead of an .js file leading to test failures"
Running tests on a local project get's the following errors since the publish of 0.13.1

[code]

[2018-02-16 12:03] IvanGoncharov commented on #1248
@joshuanutmeg Can you please provide more details on how you building `bundle.umd.js`?
Do you have the same problem with `0.13.0`?

Not sure but maybe it's related to changes from #1244

[2018-02-16 12:05] joshuanutmeg commented on #1248
0.13.0 works fine, changing the package.json to `"graphql": "0.13.0"` _solves_ the problem for now

[2018-02-16 12:06] joshuanutmeg commented on #1248
The only thing I could think of that had impacted it was the mjs change as you outlined ^^

[2018-02-16 12:08] joshuanutmeg commented on #1248
I'm not building anything, the bundle should be built as part of the npm install process afaik

[2018-02-16 12:32] andykenward commented on #1248
Having a similar issue with this version on my Jest test setup. Previous version  `0.13.0` is fine.

[code]

[2018-02-16 15:18] ryota-murakami commented on #1248
I've got similar issue(at Jest). `0.13.0` is work fine.

[code]

[2018-02-17 09:18] DogPawHat commented on #1248
I had a similar issue with a `react-apollo` project. I was using TypeScript which can be a bit weird sometimes, so is that an issue for you guys?

[2018-02-17 09:24] DogPawHat commented on #1248
Actually, all these projects seem to be Apollo, not servers or anything else.

[2018-02-18 17:36] BRMC888 commented on #1101
I've just used the master build, a few months on, the problem is still there, however the message has changed slightly, the same error as my original post now reads:

    &nbsp;&nbsp;&nbsp;&nbsp;at asErrorInstance (/Users/..project../node_modules/graphql/execution/execute.js:545:43)
    &nbsp;&nbsp;&nbsp;&nbsp;at \<anonymous\>
    &nbsp;&nbsp;&nbsp;&nbsp;at process._tickCallback (internal/process/

[2018-02-18 18:31] patrick91 commented on #1248
I'm having a similar problem with this version, here's the traceback:

<img width="1035" alt="screen shot 2018-02-18 at 18 30 08" src="https://user-images.githubusercontent.com/667029/36355355-d2bb1a20-14d9-11e8-9a00-78e3d9f96dab.png">

Text version:

[code]

[2018-02-18 21:38] leebyron commented on #1101
A PR is how open source projects evolve! It’s how we share code. Check out https://help.github.com/articles/about-pull-requests/

With what I know from your report as is, it’s hard for me to tell you what might be wrong with your code. If you can reduce the code with a problem down to the smallest case causing an issue, then you can share it as a PR to help illustrate what might be a bug you’ve fo

[2018-02-19 19:41] brabeji commented on #522
Btw I've just found that a very nice explanation is given in the reference code itself:

https://github.com/graphql/graphql-js/blob/5fe39262a308df944a87cc85b225228e7556aaa4/src/validation/rules/OverlappingFieldsCanBeMerged.js#L665

`rankObject` being a composite type and `rank` being a leaf type.

[2018-02-20 10:05] mxstbr commented on #461
I'm hitting this bug too.

[2018-02-20 12:47] IvanGoncharov commented on #461
@mxstbr Bug that @DxCx reported was fixed in 714ee980aa17a4de42013d49a9839d43493d109e and released in `v0.12.0`.
See test case:
https://github.com/graphql/graphql-js/blob/86d33b49a92eda05ee9ca7b3a6fe3a449a21de4c/src/utilities/__tests__/buildASTSchema-test.js#L520-L530

Do you still experience the same issue or did you meant another scenario?
What version of GraphQL do you using?

[2018-02-20 12:53] mxstbr commented on #461
Ohh thanks @IvanGoncharov! I'm still on `v0.11` so that's why I'm experiencing that bug. Let's close this issue then 👌

[2018-02-20 14:19] stevensacks commented on #1248
Broken here, as well.
[code]

[2018-02-20 15:02] IvanGoncharov commented on #461
@denneulin Can you please test if your problem was fixed in `v0.12.0`?

[2018-02-20 19:07] IvanGoncharov commented on #1246
@galki Since there is nothing we can do in `graphql-js` can I close this issue?

[2018-02-21 03:18] leebyron commented on #1248
Could someone encountering this issue share more details about their environment? I've yet to reproduce any issue, but it sounds like a commonality is Jest test environments and Apollo clients.

Can someone link to the code for a jest environment that's causing these issues?

[2018-02-21 03:24] leebyron commented on #1246
Relay v1.5.0 was released today which supports the latest changes in GraphQL.js v0.13.0. If you're updating to v0.13.0 make sure you're using this latest version of Relay.

[2018-02-21 03:24] #1246 closed

[2018-02-21 04:12] stevensacks commented on #1248
Yes, I'm using Jest and Apollo.

[2018-02-21 08:43] teckays opened #1256 "`formatError` error ignores custom error properties"
I've opened an issue in the `express-graphql` but the bug is actually inside the this package
Please see: https://github.com/graphql/express-graphql/issues/421

[2018-02-21 09:00] teckays commented on #1256
Found the solution here: https://github.com/graphql/graphql-js/issues/1192

[2018-02-21 09:00] #1256 closed

[2018-02-21 11:05] ryota-murakami commented on #1248
@stevensacks Me too exactly same  stack.

@leebyron i'll comment some infomation by my personal project ...

↓ circleci build faild log with this issue.
https://circleci.com/gh/ryota-murakami/clock-up/478

↓ entire repository of commit when facing this issue.
https://github.com/ryota-murakami/clock-up/tree/bb76468b017ffa85058b13223ea9b2fb2f96522b

↓ faild specific jest test file
https://github.com

[2018-02-21 12:14] vanwalj opened #1258 "Potential CVE, need to discus with a maintainer"
Hello,

I'm not a hundred percent sure if this is by design or if it can be consider as a CVE, but I found a pretty bad exploit vector (which I'm able to reproduce in the wild).

Is it possible to chat with a maintainer ?

Thanks ! :)

[2018-02-21 22:37] IvanGoncharov commented on #1258
@vanwalj I would suggest writing email to Lee. You can find his email here:
https://github.com/leebyron

You can also report it to Facebook's bounty program:
https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLATE.md#security-bugs

[2018-02-22 00:32] vanwalj commented on #1258
Thanks ! I will do this

[2018-02-22 15:47] joshuanutmeg commented on #1248
@leebyron why'd you change the title?

it looks like it is looking for mjs files when they don't exist - they're all .js files in the src

[2018-02-22 16:16] fdelacruzsoto opened #1260 "Help needed on Graphql objects"
If I have  `var obj = { name: 'Bill', ... etc}` and a GraphQLObjectType like  `const Person = new GraphQLObjectType({name: 'person', fields: { ...some fields with graphql types ... }});`

How do I get a hydrated GraphQL object like the ones that are returned from the server:  `{ name 'Bill', age: null, __typename: 'Person' }`

Note: I need to get this object on the server.

[2018-02-22 18:28] IvanGoncharov commented on #1260
@fdelacruzsoto Not sure that I fully understand your question, but here is a good example of how you should register field resolvers: http://graphql.org/graphql-js/object-types/

Also please note that issue in this repo are intended for reporting issues and feature requests so it's better to ask questions on the StackOverflow:
https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLAT

[2018-02-23 06:12] nodkz opened #1262 "How to set directives for fields when creating GraphQLObjectType?"
Can somebody share proper way how to pass `directives` for fields when creating type via `GraphQLObjectType`? I want to integrate [graphql-cost-analysis](https://github.com/pa-bru/graphql-cost-analysis) to our GraphQL Schema.

A [astNode](https://github.com/graphql/graphql-js/blob/499a75939f70c4863d44149371d6a99d57ff7c35/src/type/definition.js#L757): [FieldDefinitionNode](https://github.com/graphq

[2018-02-23 15:56] DogPawHat commented on #1248
I wouldn't say Jest is an issue, all of these issues are going though `graphql-tag` so it will break in both tests and running code.

[2018-02-23 16:24] thataustin commented on #1260
Actually, that's a pretty good question regarding the documentation.  I've noticed that the resolvers will take a normal JS object and a GraphQL return type and then fill in any missing fields and add the __typename.

I'm not sure about that mechanics of how they do that, but I think it would be pretty cool to have some documentation to how how to go from a POJO + GraphQLObjectType to get the sort

[2018-02-23 17:26] IvanGoncharov commented on #1260
@thataustin I still suggest to discussing such issues on StackOverflow. Since after this issue is closed it would be impossible to find. So it doesn't benefit GraphQL community as Stackoverflow question would.

It's documented in the spec http://facebook.github.io/graphql/October2016/#sec-Executing-Selection-Sets
And implemented here:
https://github.com/graphql/graphql-js/blob/499a75939f70c4863d44

[2018-02-23 18:53] leebyron commented on #1248
"0.13.1 is broken" isn't a great title - the version is working correctly outside of this particular issue and we need to narrow down what's going on.

The cause, as I see it is that when the file "parser" is being required, that this resolves to "parser.mjs" instead of "parser.js" despite the mjs import syntax not being understood.

Node's module resolution will always resolve "parser" to "parser

[2018-02-23 19:00] IvanGoncharov commented on #1262
@nodkz It was already discussed in my PR that added `astNode` feature and @leebyron had the following position: https://github.com/graphql/graphql-js/pull/746#issuecomment-301554231

Also, I think this question is connected to the topic discussed on the last WG: [Exposing schema metadata](https://github.com/graphql/graphql-wg/blob/master/notes/2018-02-01.md#exposing-schema-metadata). So I think we

[2018-02-23 19:12] leebyron commented on #1260
Closing this issue - please keep issues for bug reports and move questions to stack overflow where they can build up a corpus of knowledge over time.

[2018-02-23 19:12] #1260 closed

[2018-02-23 19:16] leebyron commented on #1262
Yeah - I stand by that comment.

You can include any arbitrary data on a GraphQLObjectType that you like - it's just a JS object after all. Directives are a language-level feature, not a structural property of a type.

Typically tools which use directives in the SDL are adding properties to the created underlying type objects to track within their runtimes.

[2018-02-23 19:16] #1262 closed

[2018-02-23 19:50] thataustin commented on #1260
@leebyron / @IvanGoncharov - I'm not sure why documentation shouldn't live with the code though.  Why is SO inherently better than Github?

Stackoverflow doesn't even have data available regarding which version of which repo an issue was filed against.  At least in Github you are in the right context to do that research.

SO is not an idea place for library documentation.  Can't tell you how many

[2018-02-24 18:05] leebyron commented on #1260
I agree with you, documentation is important! More than happy to consider PRs which improve the documentation in this repo.

We encourage general questions on Stack Overflow since once answered they are easily searchable and it keeps github issues focused on actionable bugs and improvements

[2018-02-26 04:59] mikehazell commented on #1248
Hi there, I'm also seeing this issue. As with the other reporters, this is a Create React App application testing with the default configuration.

See this repo for an example with the failing test:
https://github.com/mikehazell/graphql-jest-issue
This is a Create React App with the only change being to add `graphql-tag` as a dependency and import it in the main App.js file.

Run `yarn test src` t

[2018-02-26 05:12] mikehazell commented on #1248
Also, I can confirm that forcing graphql  back to version 0.13.0 resolves the issue.
ie. in the repo above add `"graphql": "0.13.0",` to `package.json` under `dependecies` and re-install.

[2018-02-26 12:39] moimael commented on #1248
It also causes a bunch of issues with webpack 4

[2018-02-27 11:18] navneetgarggate6 opened #1264 "How to check null value in query"
I want to get where id is null how can I write the query for this?

[2018-02-27 12:06] andrewmclagan commented on #585
I believe a really well documented and clearer example of the approaches to this issue as Lee Byron outlined can be gained from reading the Github GraphQL API documentation.

It really does require a rethink of your actually approach to your API query language. Essentially it should not be fetching data as your would fetch data from your storage engine: MySQL, MongoDB, Elasticsearch ... whatever..

[2018-02-27 12:17] DogPawHat commented on #1248
@mikehazell you'll have to add `graphql@0.13.1` as a dependency to your test repo, `graphql-tag' uses it a peer dependency:
[code]

[2018-02-27 12:44] DogPawHat commented on #1248
@leebyron I like the new title, only thing is the failures are not restricted to a testing envionment, but otherwise I think your bang on with the .mjs issue :+1:

@moimael I think webpack 4 from what I read (your comment is the first I heard of webpack4 :stuck_out_tongue_winking_eye: ) should be supporting .mjs files.

[2018-02-27 12:58] joshuanutmeg commented on #1248
New title is more fitting :) thanks

[2018-02-27 16:50] leebyron commented on #1264
GraphQL does not have an IF style syntax like SQL

[2018-02-27 16:50] #1264 closed

[2018-02-27 17:12] leebyron commented on #1248
I think I've found the source issue, this arrives when using `create-react-app` (which uses `react-scripts`)

`react-scripts` looks for `.mjs` files when resolving files ahead of `.js` files and regardless of the use of `require()` vs `import` or what transforms are in place.

https://github.com/facebook/create-react-app/blob/next/packages/react-scripts/scripts/utils/createJestConfig.js#L56

This

[2018-02-27 17:14] leebyron commented on #1248
Also - if you're encountering an issue and *not* using create-react-app or Jest, let's please open new issues so we can diagnose those as well.

[2018-02-27 17:23] leebyron commented on #1248
I've opened https://github.com/facebook/create-react-app/pull/4085 to solve this issue. I'll keep this issue open to track progress.

[2018-02-27 20:41] leebyron opened #1265 "Memory leak during buildASTSchema"
Something between v0.12.0 and v0.13.1 has introduced a memory leak when building a schema from SDL - on large schemas this can result in the node process running out of memory and exiting early.

I'm not sure yet what the blame is since I haven't found a consistent repro, but I suspect #1230

Will share what I find here

[2018-02-27 22:42] IvanGoncharov commented on #1265
@leebyron Can I help somehow?

[2018-02-27 23:05] leebyron commented on #1265
I'm still working on getting a consistent repro of the leak :/

[2018-02-28 00:48] leebyron commented on #1265
Ok, I think this was actually a false report - I've done some analysis of heap size after using buildASTSchema to construct a very large schema (facebook's schema) in a loop. There does not seem to be a leak and there does not seem to be any meaningful change in heap size after each construction between versions v0.12.0, v0.13.0, or v0.13.1.

We should still try to do as best as we can to limit th

[2018-02-28 00:48] #1265 closed

[2018-02-28 11:46] smithaitufe commented on #550
Please what is the state of this issue?
Has the date feature been implemented?
If so, where do I find the documentation?
If not, what is holding it back?

Thanks

[2018-03-02 02:40] simonhaenisch commented on #1005
yes, please bump to `1.0.0` or `14.0.0` or `99999.0.0` or whatever asap, we really don't want to deal with breaking changes "hiding" in minor/feature version bumps.

[2018-03-02 04:59] leebyron opened #1266 "Migrate to Babel 7"
Following React's move to Babel v7, GraphQL.js should do the same. The babel config for this project is not that complex, so hopefully this is an easy transition.

[2018-03-02 05:05] leebyron commented on #1266
Something to consider is Babel v7 may not build correctly on Travis CI's Node v4 subjob. Technically we don't care about Babel builds on Node v4, but we do want the npm distributed bundle to be Node v4 safe - at least through the LTS window (end of April)

We could either:
* drop the CI job early and keep our fingers crossed and eyes open,
* wait to do this migration until May
* write a slightly c

[2018-03-02 07:26] Thezone1975 commented on #1266
I agree, this was dragged and dropped on my Facebook page while I was at work today, by a "friend" who happens to be a girl, it has 3 or more mistakes that I found, but my pages that I have have gone out of control. System Prune?  Any input.

[2018-03-04 11:38] jayhasyee commented on #207
Why cannot we use `resolveType` or `isTypeOf` method to resolve the input polymorphism, similar to output polymorphism. I think that the most relevant way should be giving chance to the developer to decide which type would they cast.

[code]

In most of cases we use some meta-property for distinguish polymorphism, and usually we persist this property in database too, so a `resolveType` implementat

[2018-03-05 09:14] itilitymaarten opened #1271 "Entire result thrown away after error on part of the query"
I have a query like the following:
[code]

The way I understand the GraphQL spec (http://facebook.github.io/graphql/October2016/#sec-Response), if an error occured in resolving `root3`, I should still be getting the results from `root1` and `root2` in my `data` field, with the error from `root3` in `errors`.

The error from `root3` is properly returned, however the `data` field is empty.

It seems

[2018-03-05 09:38] IvanGoncharov commented on #1271
@itilitymaarten Please make sure that `root3` is a nullable type.
If it's wrapped with non-null then it's expected behaviour:
http://facebook.github.io/graphql/draft/#sec-Errors-and-Non-Nullability

[2018-03-05 10:17] itilitymaarten commented on #1271
@IvanGoncharov Ah...it was indeed non-nullable, I hadn't realized that. I had expected that a second error would be raised to indicate that the non-nullable `root3` had received the value null, but the spec says that shouldn't happen :)

Thank you for your response, and my apologies for not knowing the spec well enough to expect this behaviour!

[2018-03-05 10:17] #1271 closed

[2018-03-05 11:01] moimael opened #1272 "Compile error with webpack 4"
Hi,

After updating to webpack 4, compiling graphiql doesn't work because of the graphql-js dependency.

I get a bunch of those errors:

[code]
(and a million more)

Seems like forcing the downgrade to a graphql-js version that doesn't have .mjs files fixes the issue.

[2018-03-06 18:29] Jannis opened #1275 "Circular import breaks building with Google Closure Compiler"
There is a circular dependency between `type/definition.js` and `type/wrappers.js`, which breaks building graphql-js with the Google Closure Compiler (which has no solution to breaking circular imports yet, see [this issue](https://github.com/google/closure-compiler/issues/1883)).

The affected code is located here:

https://github.com/graphql/graphql-js/blob/master/src/type/definition.js#L35

and

[2018-03-06 20:05] IvanGoncharov commented on #1275
The simplest solution would be to just merge `wrappers.js` into `definitions.js`.
Or we can minimize changes somehow?

@Jannis Do you want to work on this PR?

[2018-03-06 20:17] Jannis commented on #1275
@IvanGoncharov Sure, I can cook something up.

[2018-03-07 02:07] mattkrick opened #1277 "Throw error if no possible concrete types found"
While using relay modern v1.5.0, I got the following when running relay-compiler (I promise this is a graphql issue):

[code]
Note that the error has no stack trace!

The `some` that it mentioned was:
[code]

Ultimately, this was caused because when graphql built my schema, it crawled & found the GraphQLInterfaceType, but it didn't find the concrete types that implemented the interface.
This didn'

[2018-03-07 08:50] jiawang1 commented on #1272
I think graphql should add "browser" field in package.json since webpack4 could resolve mjs
now, any usage to graphql in browser will compiled failed.

[2018-03-07 12:43] IvanGoncharov commented on #1277
@mattkrick Sounds very reasonable to me 👍
I think it should be fixed in 3 places:
1. `getPossibleTypes` should always return an array even if empty. It's required since schema validation is optional since #1132.
2. Add new validation here: https://github.com/graphql/graphql-js/blob/master/src/type/validate.js#L259
3. Add new validation to the specification, here: https://github.com/facebook/graphq

[2018-03-07 13:39] nicky-lenaers opened #1279 "GraphQLInterfaceType: TypeError: Cannot read property 'name' of undefined"
I have two types that implement an interface:

**1. project.type.ts**
[code]

**2. project-private.type.ts**
[code]

**project-interface.type.ts**
[code]

I also have the types declared in my schema:
[code]

Whenever I change the return type from the `resolveType` from `ProjectType` to `ProjectPrivateType` I get the following error:

[code]

## Update
I found out that it seems like some circular r

[2018-03-07 19:21] #1275 closed

[2018-03-07 19:29] IvanGoncharov commented on #1279
@nicky-lenaers You still can return object types if you would write:
[code]
Arrow function will break circular reference.

In general, it's circular dependency in JS that means the only thing that could be improved in GraphQL is producing a proper error message.

[2018-03-07 21:14] nicky-lenaers commented on #1279
@IvanGoncharov That's a shame! Your solution for the arrow function works, so thanks a lot! I've spent hours trying refactored version of the codebase, didn't come up with this.

Thanks again!

[2018-03-07 21:14] #1279 closed

[2018-03-08 02:59] mattkrick commented on #1277
Wow, thank you @IvanGoncharov that made the PR super easy!
After reviewing the spec, I saw it already mentioned this issue, so there was no need to update it:

Spec:

[2018-03-08 04:12] lacolaco opened #1281 "`getDescription()` doesn't treat argument's comments"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](http://stackoverflow.com/questions/tagged/

[2018-03-08 14:29] IvanGoncharov commented on #1277
@mattkrick Prevents you from writing without fields:
[code]
So it's different check.

[2018-03-08 19:13] jdolle opened #1283 "Feature Request - Allow Directives to Modify Query Description"
I would like to be able to expose directive usage through Graphiql. This would be incredibly useful for documenting field requirements/behavior. A good example would be authentication -- if I apply a custom `@authorized` directive to a field, I would like the description to mention that the user must be authorized.

[2018-03-08 20:51] IvanGoncharov commented on #1281
@lacolaco I can't reproduce this issue:
[code]

[2018-03-09 09:12] leebyron commented on #1248
Just an update:

Sorry to keep everyone waiting on this issue. I've confirmed that an issue in the default Jest configuration for create-react-app is the root issue and still have https://github.com/facebook/create-react-app/pull/4085 open to attempt to fix it. Please visit that issue if you're having issues with GraphQL and CRA together.

As a mitigation strategy, you can `eject` to gain access t

[2018-03-09 09:20] leebyron commented on #1283
Please open these kinds of issues on the GraphQL spec repository: https://github.com/facebook/graphql/

There's already active discussion about adding metadata to the introspection API, which you might want to take part in. Directives are purely a syntactical construction - which could be used to represent metadata in those discussions' proposals.

[2018-03-09 09:20] #1283 closed

[2018-03-09 09:24] leebyron commented on #1272
Thanks for the report, we'll follow up with the webpack team to understand why this isn't working as expected.

[2018-03-09 18:48] lastmjs commented on #223
@abhiaiyer91 Where is it in `graphql-tools`?

[2018-03-12 01:23] Didericis commented on #1272
Yep, downgrading to v0.13.0 fixed the issue for me.

[2018-03-12 11:18] johannpinson opened #1285 "language/printer not handle line break for comment inside args"
Hi guys,

I report you a bug find with the graph.cool team and about Prisma cli and the generation of the SDL schema.
You can see the initial discussion here: https://github.com/graphcool/prisma/issues/2047

The bug is about highlighting in VSC (maybe a bug about the GraphQL Syntax plugin), but in fact I see a difference between the function `printSchema` and `print`.
The problem is just about a m

[2018-03-13 18:02] IvanGoncharov commented on #723
@terencechow I edited your comment and hide `isolate-0x102004600-v8.log` under spoiler tag because it required me to scroll something like 10 screens to see the rest of the issue. If anyone else wants to post your profile log to this issue please use spoiler tag as described here: https://github.com/dear-github/dear-github/issues/166#issuecomment-252282315

@Yogu Since https://github.com/graphql/g

[2018-03-13 18:18] conatus commented on #297
We also have this use case. In general flattening  deeply nested queries in a similar syntax to Javascript destructuring would be brilliant. In the use case at hand it isn't to do with edges so much, though disposing of these as we aren't using Relay would be useful...

Thanks so much.

[2018-03-13 20:31] noone0012 opened #1287 "Inheritence or similar technique"
I've got `userType` that represents the viewer. I'm also using this type when getting viewer's friends.
But some fields are only related to viewer. For example, `chatMessageSound: bool, notificationsEmail: bool`. So it doesn't make sense to return those fields if it has been queried from `friends` field.

How to deal with this?
I can check it and return null for all those fields but it isn't best

[2018-03-14 15:51] joewoodhouse commented on #373
Going back to the original issue...

So I have split up my schema into a number of seperate files, but now seem to have hit a circular dependency issue I can't resolve.

Basically I want to keep each query and mutation in a separate file.

So at the top-level I might have a schema like:
[code]

With a projectType definition in a separate file
[code]

Now suppose that my definition of `updateProjec

[2018-03-14 16:52] #1287 closed

[2018-03-14 18:34] IvanGoncharov commented on #373
@joewoodhouse  Not necessary.

It's mean you have `Attribute` type with field called `field`, right?
Just convert `type` of this field to thunk.

Your example is incomplete since it missing `Attribute` type so it's hard to provide concrete advice. Please provide the minimal reproducible source code of all files involved.

[2018-03-14 18:51] joewoodhouse commented on #373
Ooo can a type be a thunk? I didn't even try that

[2018-03-14 19:36] IvanGoncharov commented on #373
@joewoodhouse Sorry got confused, not it can't :(
I checked the source code and only `fields`, `interfaces` and `types`(for Union) could be a thunk.

[2018-03-14 19:44] IvanGoncharov commented on #373
But allowing to be a Thunk `fields` should be enough for possible scenarios since fields can't depend on fields they depend on type as a whole.
Looking through the code you posted above I see this problem:
[code]

[2018-03-16 19:42] stevehollaar opened #1291 "Flow 0.68.0 compatibility"
Flow 0.68 added some changes that introduce some new errors:

[code]

[2018-03-16 19:54] IvanGoncharov commented on #1291
@stevehollaar It should be fixed by #1290

[2018-03-16 20:57] kassens commented on #1291
I just published 0.13.2 with #1290 merged which should fix this.

[2018-03-16 20:57] #1291 closed

[2018-03-18 02:32] BRMC888 commented on #1101
Thanks for the info,

I've made a repo with the bare minimum to see the error I'm getting in context

Again, I'm new to GitHub, not sure if this is what you wanted but hope it's useful

[2018-03-18 10:10] IvanGoncharov commented on #1101
@BRMC888 Your issue caused by `apollo-server`, here is the line that prints error messages:
https://github.com/apollographql/apollo-server/blob/master/packages/apollo-server-core/src/runQuery.ts#L80
Please report this issue to that repo.

[2018-03-19 17:19] caub commented on #373
Be also careful with an `index.js` that re-exports all the types (try uncommenting line 15 or 16 in the [src/index.js](https://codesandbox.io/s/2wl37mrppn)

[2018-03-19 17:41] acoreyj commented on #1272
@jiawang1

Hmm I'm a bit confused could you post your webpack config?

[2018-03-19 20:00] bhoriuchi commented on #869
If you want to reproduce the definition along with the directives you can just print all the astNodes.

[code]

[2018-03-20 14:15] acoreyj opened #1293 "Compile issue with Rollup"
Looks like the way index.js handles it's exports rolllup can't find it

{ Error: 'GraphQLObjectType' is not exported by node_modules/graphql/type/index.js
    at error (/Users/Corey/Documents/workspace/mkr/node_modules/rollup/dist/rollup.js:168:15)
    at Module.error (/Users/Corey/Documents/workspace/mkr/node_modules/rollup/dist/rollup.js:17602:9)
    at handleMissingExport (/Users/Corey/Document

[2018-03-20 19:30] nightCapLounge opened #1294 "Null is not treated as a value."
Hello, I have found what I believe to be an issue (v0.11.3).  I'm currently writing a custom type and have found that I cannot interact with `null` values.   The idea of this snippet is to convert incoming `null` values into -1 and to convert outgoing -1 values into `null`.  Here is a quick snippet of a basic implementation:

    new GraphQLScalarType({
        name: name,
        serialize : val

[2018-03-20 21:23] IvanGoncharov commented on #1294
@nightCapLounge It's expected behavior here is what spec says:

http://facebook.github.io/graphql/draft/#ScalarTypeDefinition

Here is direct analogy from JS, e.g. you have overridden `String` constructor and then you called `JSON.parse('{ a: "foo", b: null }')` you new constructor would be called to construct `"foo"` value but it would never be called for `null`.

It's absolutely legal but be cau

[2018-03-21 00:17] howdyhyber opened #1295 "Is there a groupby in graphql? If there is, how?"
Is there a groupby in graphql? If there is, how?

[2018-03-21 01:01] jgcmarins commented on #1295
Well, you can `"compose"` resolvers.

[2018-03-21 13:17] stomvi commented on #799
@odigity I know what you were talking about. I was confused just like you were. I am using the `buildSchema` function from the `graphql` along with the `express-graphql`.

I didn't dive into the source code. The following is just my guess. Part of them are not listed clearly in the document but just a sentence:

I think the reason that all the first argument `parentValue` aka `root` were all omitt

[2018-03-21 14:11] nightCapLounge commented on #1294
Thank you for the explanation, that tidbit from the spec explains the situation.

Though it seems to me that this is a flaw in the spec.  Why would it treat the value null exceptionally from other values?  This throws a real wrench in the works for any system that uses null as a standard value, (e.g. anything that uses SQL).  That wrench is particularly big for someone like myself who wants to imp

[2018-03-22 09:50] kejoRx opened #1296 "Query with variables return null"
[code]
Resolver func
[code]
Graphiql query:
[code]
Query Variables:
[code]
Output:
[code]
It should return items that have "3" (or any other number) as string in value in typename CustomArray (that's where is `category_ids`), but it returns null. Why?

This is the first item in api:
[code]

[2018-03-22 10:02] IvanGoncharov commented on #1296
@kejoRx Please consider posting your question to Stack Overflow.
If you think it's caused by some bug in `graphql-js` please provide a minimal example with all code involved.

[2018-03-22 10:09] #1296 closed

[2018-03-22 14:13] acoreyj commented on #1293
Just a follow up removing the mjs files fixes it, may be a similar issue to problems Webpack is having

[2018-03-22 15:41] LennyPenny commented on #1293
Removing the mjs files?
Is there a better way to work around this automatically?

[2018-03-22 16:40] razor-x commented on #1005
@IvanGoncharov I noticed a new version was released a few days ago. I'm a bit disappointed to see it was v0.13.2. Any reason this could not have been v1.0.0 or v13.2.0?

[2018-03-22 17:51] IvanGoncharov commented on #1005
@razor-x Disclaimer: I'm not a Facebook employee just an active contributor.
It was a maintenance release to quickly fix issues with flow v0.68

[2018-03-23 14:56] acoreyj commented on #1293
I don't know, I'm also having issues with graphql-tools rollup. I'm working with Stencil (https://github.com/ionic-team/stencil) so I don't have access to the typescript and rollup configs to try and get it to work.

I haven't setup a basic repo to replicate yet but I guess that would be the next step.

[2018-03-23 18:26] caub opened #1298 "Make null value configurable, to allow undefined"
`undefined` is practical in JS for destructuring default, so it would be great to allow graphql to avoid converting `undefined` to `null`

I see some `return null` or `return Promise.resovle(null)` frequently in the sources, how about using a `NULL` configuration variable, defaulting to `null`

[2018-03-24 18:49] ericclemmons commented on #723
It's been a _while_ since I looked into it (over a year it seems!), but IIRC for each returned property, it was checked against the requested schema.  For example, 100 items that had `me.profile.user.name.given` would all whitelisted against the requested query `{ me { profile { user { name { given } } } }`.

At the time, my take was that that path-whitelisting could only happen once, vs. for ever

[2018-03-25 14:58] langpavel commented on #550
@smithaitufe See my comment. Date and time is not easy to express, it mostly depends on context.
Even same system may use different (storage) formats by semantics:
 - string representation
 - number representing UNIX epoch timestamp in seconds or milliseconds or even nanoseconds.
 - even something more customized

I'm using this custom scalar: [GraphQLTimestamp](https://gist.github.com/langpavel/b

[2018-03-25 15:24] langpavel commented on #550
See also
 * #557 — Initial proposal for the experimental GraphQLDateTime scalar
 * facebook/graphql#315 — [RFC] Support DateTime scalar

[2018-03-25 15:41] smithaitufe commented on #550
@langpavel

I ended up using that package as well and it has been working great.

[2018-03-26 12:16] Alappin commented on #799
I have figured it out. If you do not explicity provide your own resolver, then then default resolver is used. This the behaviour when you use **buildschema**. What then happens is the default resolver will call your resolvers with (args, context, info). In order to access the root value, you would need to use the `this` object in you resolver as stated by @leebyron. Note that you need to use funct

[2018-03-27 17:04] felipellrocha commented on #151
Is the link above broken (the documentation one)? It doesn't send us anywhere, and I'm running into this same issue

[2018-03-27 21:40] konsumer commented on #207
I end up solving this more like protobuf, where I make a mega-type that has all the children, then just fill in the one I care about:

[code]

Then in my resolvers, I do something like this:

[code]

`AdminItem.__resolveType` can tell the difference between `User | App | Search | Experiment`, so it works ok. This seems like a bit of a hack, and it'd be nice to be able to just say "it's one of thes

[2018-03-27 21:48] konsumer commented on #207
**Note**: I left out the `User | App | Search | Experiment` and `UserInput | AppInput | SearchInput | ExperimentInput` definitions

Also, it has a few assumptions that if not correct would screw everything up:

* I can figure out `AdminItem` from the field-values
* My `models` in context are named the same as the types (`User | App | Search | Experiment`)
* Every record has an `id` field

[2018-03-28 03:33] gaberudy commented on #1293
Having this issue with rollup as well.

It looks like with the new `graphql/index.mjs` the sub-directories are not properly defining their exports in all cases.

`graphql/validation/index.js` properly defines `exports.VariablesInAllowedPositionRule = exports.VariablesDefaultValueAllowedRule = .... = undefined;`, but the other sub-directories`index.js` files do not.

My commonjs plugin looks like t

[2018-03-29 20:08] leebyron commented on #1285
Thanks for the report. This is definitely a bug in VCS's syntax highlighter, however I agree that the output of `print()` could be improved

[2018-03-29 20:20] caub commented on #1298
Sorry, so here's an example https://runkit.com/caub/5abd4916eef72b00127e27af

first case: `foos` is undefined, it's converted to `null` by graphql

seconds case, inner fields are filled with `null`

I'd be interested to keep undefined undefined

similar discussion: https://github.com/brianc/node-postgres/issues/1274 (where it ends up keeping `null` though, but I've hope)

<details><summary>code</s

[2018-03-29 20:31] #1285 closed

[2018-03-29 20:42] #1298 closed

[2018-03-29 21:18] leebyron commented on #1293
I'd love to see a complete `rollup.config.js` file encountering this issue - my guess is that `rollup-plugin-node-resolve` is to blame here.

I arrived at a repro by doing the following:

[code]

This fails with:

[code]

Which implies that rollup is inadvertently looking at the `.js` file when it requires ES Module syntax and cannot understand the Common JS format. To fix this, `rollup-plugin-nod

[2018-03-29 22:09] leebyron commented on #1248
@mbrowne could you clarify what else you're seeing? I've set up a small test that uses `graphql-tag` similarly to the example in that issue - and with the fix applied to create-react-app I can run `yarn test` and `yarn build` without any problem.

It would be helpful to see any additional context you have in reproducing other issues.

[2018-03-29 22:27] leebyron commented on #1005
See: https://medium.com/@leeb/graphql-js-preparing-for-v14-0-0-839f823c144e

Unless we need to do any other maintenance releases, the next release will be v14. I need help from other library authors to make the migration smooth.

[2018-03-30 04:05] gaberudy commented on #1293
@leebyron first of all, thanks for digging into this. It looks like more of a rollup issue than a graphql, so I appreciate it you taking it to the mattresses and finding a solution.

For some reason, my rollup config edited like yours to prefer `mjs` picks up the index.mjs file at the root of the package, but then resolves the sub-modules with `index.js` running into the export issue again:

[code

[2018-03-30 15:26] mbrowne commented on #1248
@leebyron did you try actually running the app? It compiles successfully but throws the `TypeError: parse is not a function` when you actually run it. Here's the stack trace that create-react-app displays in the browser when I try to run it:

[code]

[2018-03-30 15:27] joshuanutmeg commented on #1248
I concur with what @mbrowne has said

[2018-04-02 09:33] stomvi commented on #799
@Alappin you are right. I listed I'm using `express-graphql` along with the `graphq-js` utility `buildSchema` and tried to dive into the source code. I only described the symptoms and to whom wants to know why, here's my situation:

When we use `buildSchema()`, we don't define resolvers in the definition. The schema will use default resolvers:
[http://graphql.org/graphql-js/utilities/#buildschema]

[2018-04-03 00:09] gaearon commented on #1248
If your project is built with Create React App and not ejected, `react-scripts@1.1.2` should fix this.
Here is how to upgrade:

https://github.com/facebook/create-react-app/releases/tag/v1.1.2

Otherwise you can apply a [similar fix](https://github.com/facebook/create-react-app/pull/4085/files) yourself in your project config. Cheers!

[2018-04-03 00:35] mbrowne commented on #1248
Just to be clear (at least based on the "similar fix" link), the fix above fixes the Jest issue but not the compatibility issue with graphql-tag. Should I suggest to the Apollo team that https://github.com/apollographql/graphql-tag/issues/155 be reopened? Perhaps it's unrelated to this issue after all...

[2018-04-03 03:26] jnwng commented on #1248
I’ll re-open and re-investigate! Thanks for flagging
On Mon, Apr 2, 2018 at 5:36 PM Matt Browne <notifications@github.com> wrote:

[2018-04-04 03:53] #1277 closed

[2018-04-04 07:34] frantic1048 commented on #1272
Same issue here, trying to intgrate GraphiQL into project, but fails on build...

**webpack version**: 4.4.1

[2018-04-05 22:04] leebyron commented on #723
I think the TL;DR of this issue is that GraphQL has some overhead and that reducing that overhead is non-trivial and removing it completely may not be an option. Ultimately GraphQL.js is still responsible for making API boundary guarantees about the shape and type of the returned data and by design does not trust the underlying systems. In other words GraphQL.js does *runtime* type checking and su

[2018-04-05 22:07] cagdastulek commented on #723
I think this is a fair explanation. Thank you for that.

[2018-04-05 23:35] scniro commented on #1182
Closed? Getting the same error on `0.11.11`

[2018-04-05 23:45] IvanGoncharov commented on #1182
@scniro It's fixed in `0.13.0` and above.

[2018-04-06 15:42] tomyitav commented on #223
This [post](https://medium.com/@tomyitav/graphql-server-for-enterprise-development-675d2ff2d0ed) demonstrates how to modularize your graphql schemas. Hope it helps! :)

[2018-04-07 15:20] mxstbr opened #1308 "Create own context for mutation response resolvers"
Imagine a mutation top edit a users username, which has a signature something like this:

[code]

In said mutation resolver, I now have to load the user for whatever reason. (in my real use case for checking permissions) I'm using DataLoader to do so to avoid repeated database calls:

[code]

In my query resolvers I also use the same loader to resolve a user object:

[code]

The issue I'm running

[2018-04-07 19:33] stevvvn opened #1309 "mixing ES6 `import` and `require` triggers misleading error"
The following does not work, though it seems to me it should (node@9.8.0):
[code]

[code]

Creating a wrapper to `require` buildSchema instead:

**req.js**
[code]
And changing the initial example:
[code]

works as expected:
[code]

Arguably this is a problem with `express-graphql`; it could be resolved by their build including a `.mjs` file that `import`s GraphQL to match like-for-like module conv

[2018-04-07 23:02] IvanGoncharov commented on #1309
@stevvvn Thanks for reporting 👍

It's intentional, see here: https://github.com/graphql/graphql-js/issues/491#issuecomment-356103649

Would be great if you report this issue on `express-graphql` and I will try to fix it in the next release.

[2018-04-07 23:10] stevvvn commented on #1309
Thanks for the reference!

[2018-04-07 23:10] #1309 closed

[2018-04-11 16:54] Jackpot1135 commented on #1308
Build Ship

[2018-04-11 19:11] protodaniel commented on #1291
@stevehollaar, was this fixed for you?
I think it's still broken. Tried with both flow 0.68.0 and 0.69.0

[2018-04-11 19:47] stevehollaar commented on #1291
@protodaniel Yes - upgrading to `graphql-js: 0.13.2` fixed this for me (using `flow-bin: 0.69.0` right now)

[2018-04-11 20:13] protodaniel commented on #1291
I see, for some reason I was missing this line in the [options] of my .flowconfig
suppress_comment= \\(.\\|\n\\)*\\$FlowFixMe

I also saw that the fix is just to tell Flow to shut up ;)

Thanks for the help!

[2018-04-14 17:08] amilajack commented on #1272
@leebyron's [solution](https://github.com/graphql/graphql-js/issues/1272#issuecomment-377384574) worked for me

[2018-04-16 09:29] ZauberNerd commented on #1210
@leebyron would it be possible to cherry-pick this fix on the 0.12 branch?

[2018-04-17 12:50] mrdulin commented on #995
same issue.

[2018-04-18 04:59] eliw00d opened #1313 "Type.someField should provide "deprecationReason" instead of "isDeprecated""
So, I am trying to reuse some fields in other objects by spreading them like so:
[code]
Where Type has the fields I want to reuse.

However, I get the following error:
[code]
None of the fields have `isDeprecated` in my code, but I'm guessing those get added later internally. If I add `isDeprecated` to one of the fields I get the same error.

Is `isDeprecated` no longer used or am I not using `.ge

[2018-04-18 11:36] mrdulin commented on #497
@ffxsam Hi.
[code]
What does `value from the client` mean?

[2018-04-18 21:12] leebyron commented on #1308
Happy to entertain suggestions on how to do this, however I think the expectation is that since mutations definitionally are side-effectful on global state that doing things like clearing caches is totally within the expectations of the kind of work you would do in a mutation resolver

[2018-04-18 21:27] leebyron commented on #1103
Closing this aging issue, sorry

[2018-04-18 21:27] #1103 closed

[2018-04-18 21:43] leebyron commented on #1248
Just tested through this again and can confirm that using `graphql-tag` with the latest release of webpack, create-react-app/react-scripts, and graphql.js works for both `yarn test`, `yarn start` (dev) and `yarn build` (prod)

I tested this by making a new project `create-react-app testproject` and then writing an index.js which just contains the example code on `graphql-tag`'s readme, `console.lo

[2018-04-18 21:43] #1248 closed

[2018-04-18 21:45] joshuanutmeg commented on #1248
Before closing the thread, isn’t it better to confirm with the people that are reporting issues first?

[2018-04-18 21:48] leebyron commented on #1248
More than happy to reopen this issue or open new issues if there are additional reports of reproducible issues.

I closed this one since the original issue was diagnosed, patched, shipped, and confirmed fixed

[2018-04-18 21:52] leebyron commented on #1084
Currently, `extendSchema` only extends existing types and does not add new root types to the schema - however this is certainly something to be investigated

[2018-04-18 21:55] joshuanutmeg commented on #1248
I was unable to verify the fix after 0.13.2 was released - i will check the above tomorrow at work and let you know how it goes. Thanks for your help so far

[2018-04-18 23:29] mbrowne commented on #1248
The graphql-tag issue (https://github.com/apollographql/graphql-tag/issues/155) was reopened. It appears unrelated. So as far as I'm concerned it's fine to close this, thanks.

[2018-04-19 01:02] stevensacks commented on #1248
Sorry for not following up. I can confirm this has been fixed.

[2018-04-19 01:06] leebyron commented on #703
Closing this aging issues - my comments above continue to reflect my thoughts on this. Most importantly - schema definition language is designed to be read rather than written, and following partial types and interfaces to learn what fields are defined would be a step backwards for that goal in my opinion.

[2018-04-19 01:06] #703 closed

[2018-04-19 06:44] kachkaev commented on #703
I think that in some scenarios I can overcome the original issue using Apollo’s [schema directives](https://www.apollographql.com/docs/graphql-tools/schema-directives.html), so yeah, I’m OK with closing this.

[2018-04-19 10:46] thheller opened #1316 "graphql/jsutils/instanceOf fails in development builds that rename variables"
`graphql` version used is: `graphql@0.13.2`.

[shadow-cljs](https://github.com/thheller/shadow-cljs) is a build tool for ClojureScript + JS that among other things enables using `npm` packages directly (via ClojureScript). To achieve this it uses the Closure Compiler extensively  instead of the usual `babel` or `webpack`.

`Closure` will rename pretty aggressively and this causes some of the `grap

[2018-04-19 13:47] ffxsam commented on #497
@mrdulin The GraphQL client side. So, for example, if Apollo sends a mutation to the GraphQL server to update a date value.

[2018-04-20 09:59] IvanGoncharov commented on #995
@jeud @kazahara  @mrdulin Sorry for delay. Here is how it you should implement such APIs:
[code]

Here are the official docs with another example: http://graphql.org/graphql-js/object-types/

[2018-04-22 00:57] mgrenier opened #1320 "Development on Windows and VS Code"
*This is not an issue.* I just wanted to document how to get development started on Windows + VS Code and didn't think of a better place.

The graphql-js project forces Windows developers to jump through some hoops before they can do anything.

*This guide was written for `graphql-js v0.13.2` commit 54f631ff3238affdddb4dc736fc282b620d70b15.*

**1. Windows Subsystem for Linux (WSL)**
This repositor

[2018-04-22 01:02] wiktor256 commented on #723
I've created a simple example that shows performance degradation of GraphQL caused by returning a promise from a resolver. This issue doesn't seem o be related to type-checking, but rather actual GraphQL implementation. I understand the point about GraphQL not being the right tool for these type of queries, but still this seems like an actual issue.

Here is the code snippet:
https://gist.github.c

[2018-04-22 10:18] CoericK opened #1321 "Fragments don't get included after refetch using @include"
Here's what Im trying to approach:

**Im not sure if this should be handled in a different way and I'm over complicating my self.**

To begin with, my app is loading this query at the top:

[code]
the field `is_anonymous` will be false.

Then the user goes to the Account View, given that he is not authenticated I will render the component Visitor. Here he can sign in, calling a Mutation, after the

[2018-04-22 11:26] IvanGoncharov commented on #1321
@CoericKIt probably makes sense to report this issue to Relay repository.
Also, please consider asking this question on StackOverflow:

[2018-04-22 11:36] IvanGoncharov commented on #1320
@mgrenier Not a Windows developer myself, but I thought that installing https://gitforwindows.org/ is enough. Did you try it?

[2018-04-22 16:08] thheller commented on #1316
I finally identified the issue.

https://github.com/graphql/graphql-js/blob/60c03ab23852074896fd9134c24c46ba595bf014/src/jsutils/instanceOf.js#L34

`graphql` does not expect that a development build might rename things. Therefore the first `instanceof` check fails correctly but the second check then goes on to compare the constructor names. Since Closure renamed those to something short like `a` t

[2018-04-22 16:20] #1321 closed, assigned to nobody

[2018-04-22 17:55] mgrenier commented on #1095
I've began the work to add the logic to `extendSchema` to support enum, input and interface extension.

I'm preparing a pull request with my changes. Is there any guidelines on how to submit a PR or I just have to refer to the `contribution.md`?

[2018-04-22 18:33] IvanGoncharov commented on #1095
@mgrenier Great 👍 You can submit WIP PR and get some early feedback.
Also, don't forget to test for tricky use cases like this:
[code]

[2018-04-23 19:39] #1084 closed

[2018-04-25 10:12] spawnia opened #1324 "Spec Compliance: Strict input coercion for scalars"
The GraphQL specification defines strict rules for input coercion, especially of scalar types: http://facebook.github.io/graphql/October2016/#sec-Scalars

However, inputs that are passed in as variables are not validated accordingly, while literals are. `parseValue` mostly behaves the same as `serialize` - which allows for some loose coercion.

If i understand the specification correctly, such loo

[2018-04-25 13:50] jturkel commented on #207
To add another perspective to this thread, for me lack of input union support is less about enabling something that isn't possible with GraphQL via workarounds but more about removing objections to migrating the [Salsify](https://www.salsify.com/) APIs from REST to GraphQL. One of the really appealing things about GraphQL is the type system and everything it enables - client side type checking, be

[2018-04-25 18:27] shashikantChetu opened #1325 "Graph QL API for create and update data"
Hi guys

I do not found any document and reference for create and update data in to  graph QL. can you explain and give me some reference for create API .I have implement Graph QL with react js .

[2018-04-25 19:24] alifaff opened #1326 "GraphQL Error Swallowed Natively but works in Express-graphql"
Using Graphql 0.13.2

Executing graphql natively as follows through AWS Lambda:

index.js - calls
[code]
If the executing code throws an error, it usually returns message as string with [object, Object].  I suspect it wraps to GraphQLError.  If I wrap the above error object using GraphQLError then I do not get anything back and my response.errors is an empty object {}.  The only way I am able to g

[2018-04-25 19:47] IvanGoncharov commented on #1326
@alifaff You shouldn't wrap `params` into the object.

Not sure that I fully understand your question. Can you please provide a minimal example of the actual and expected output.
Also, do you use `JSON.stringify` to generate response string?

[2018-04-25 19:52] IvanGoncharov commented on #1325
@shashikantChetu Here is a link to official documentation: http://graphql.org/learn/
Also here is a good site: https://www.howtographql.com/

Please note you should open issue only for reporting issue or asking for features.
If you want to ask a question, please:

Please do not post general questions directly as GitHub issues. They may sit for weeks unanswered, or may be spontaneously closed witho

[2018-04-25 19:52] #1325 closed

[2018-04-25 20:39] alifaff commented on #1326
Sorry...the params was meant as a place holder for loaders and other context items (should have used different terminology).

See below a sample mutation:
[code]
The function createClient generates a custom error as below:
[code]

We would like the output to be as follows:
[code]
The above works fine with express-graphql however using it through Lambda and natively calling graphql graphql(schema,

[2018-04-25 21:39] IvanGoncharov commented on #1326
@alifaff Nothing prevents you from writing:
[code]
Which is exactly what `express-graphql` doing internaly see here:
https://github.com/graphql/express-graphql/blob/master/src/index.js#L316-L320

However, it's bad practice since GraphQL errors should follow the certain structure:
http://facebook.github.io/graphql/draft/#sec-Errors
So you shouldn't remove `message`, `locations` and `path` propertie

[2018-04-25 21:49] alifaff commented on #1326
Thank you for the quick feedback.  We have updated the code in Github to reflect the change to ApiError.  Unfortunately, that still does not return the error back properly.  We still get back empty errors:
[code]

Will you please take a quick look at the simple example project we have created to  https://github.com/marc-at/exception-graphql

To run locally: npm run dev
To run at AWS serverless: sl

[2018-04-25 22:33] IvanGoncharov commented on #1326
@alifaff Or should I call it differently?
Anyway I checked your code and you need to add:
[code]
Before returning result.
I'm not familiar with serverless but maybe you also need to call `JSON.stringify` somewhere.

[2018-04-26 13:53] alifaff commented on #1326
Hi Ivan!

That is correct that I have to stringify or return a string when throwing a GraphQLError for it to come through, however we used to use version 0.11.2 and that would return back the object.  Yes it works with express-graphql but not using AWS Lambda.  I believe something has changed in version 13.2 with GraphQLError that does not allow us to wrap the custom error with GraphQLError when r

[2018-04-26 14:04] alifaff commented on #1326
Quickly ran different versions and found the last version 0.11.7 worked fine, however in version 0.12.0, it returns empty.

[2018-04-26 14:43] alifaff commented on #1326
v0.12.0:seems to select 0.12.3
npm ls graphql:
exception-graphql@1.0.0 /Users/ali/microservices/exception-graphql
├── graphql@0.12.3
└─┬ serverless@1.26.1
  ├─┬ apollo-client@1.9.3
  │ ├─┬ apollo-link-core@0.5.4
  │ │ └── graphql@0.10.5
  │ └── graphql@0.10.5
  └── graphql@0.10.5
console.log is as follows:
{}

v0.11.7:
npm ls graphql:
exception-graphql@1.0.0 /Users/ali/microservices/exception-grap

[2018-04-26 16:44] IvanGoncharov commented on #1326
@alifaff You shouldn't wrap it with GraphQLError just `throw new ApiError(`

[code]
[code]

Why are you doing that: `super(...errors)`?
You should pass string with error description not an object.

This library works as expected. You shouldn't just randomly pass arguments to function/constructors please read documentation first.
For example first argument of `new Error(` should always be a string:

[2018-04-26 17:51] alifaff commented on #1326
I suspect a problem with serverless and possibly apollo-client and graphql versions where the graphql version differ and for one reason or another it drops everything but the message in errors.

├── graphql@0.12.3
└─┬ serverless@1.26.1
├─┬ apollo-client@1.9.3
│ ├─┬ apollo-link-core@0.5.4
│ │ └── graphql@0.10.5
│ └── graphql@0.10.5
└── graphql@0.10.5

[2018-04-27 13:44] alifaff commented on #1326
Thanks...I have tried everything you have provided however nothing seems to be working.  As mentioned it was working up until version 11.7 and something changed in version 12.0.  Anything that might ring a bell in terms of difference between the two versions that could have potentially altered the output.  Problem is related to throwing an error with an object as opposed to a string which works ju

[2018-04-27 14:09] IvanGoncharov commented on #1326
@alifaff From the result of:
[code]
I see that library works as expected. That mean problems are in your code.
I reviewed your sample project and point out all potential problem I saw there.

So the only way I can help you if you create sample code that I can run locally.
Since your sample project works as expected when I run it using `npm run dev` and I don't have the possibility to deploy/debug

[2018-04-27 14:36] alifaff commented on #1326
@IvanGoncharov  Tried to see if we can run it through serverless locally and it works, however when we run it through AWS Lambda the errors are empty.  I am not sure how we can get you test it locally without actually running it in Lambda.  For the time being I will close the ticket, but we will see what change is making Lambda break.  Thank you for all of your help, we really appreciate it!

[2018-04-27 17:58] sibelius commented on #1015
@southpolesteve can you share your solution?

can we close this?

[2018-04-27 18:47] IvanGoncharov commented on #1015
@southpolesteve @fredericnowak @sibelius It shouldn't work like that since field specific resolvers always take precedence over schema wide `fieldResolver`, see here:
https://github.com/graphql/graphql-js/blob/ae5b163d2e6c124107fa0971f6d838c8a7d29f51/src/execution/execute.js#L693
and all introspection types have assigned resolvers.

How did you construct your schema?
Did you use `new GraphQLSchema

[2018-04-27 19:44] southpolesteve commented on #1015
Sorry I no longer have access to the code where I solved this problem :/

[2018-04-28 12:11] negezor commented on #361
And how about adding the ability to install optional resolvers in the input? Because often you have to conduct more checks for the same actions. And the mutation handler is no longer so compact.
http://apollographql/graphql-tools#652

[2018-04-28 19:57] IvanGoncharov commented on #1015
I did some testing and you were right. There are a few introspection fields that don't have resolver attached. So I created #1329 PR which should fix this issue.

[2018-04-28 20:28] IvanGoncharov commented on #716
@l50741 Why can't you write something like this?
[code]

[2018-04-30 20:40] #1015 closed

[2018-05-02 18:58] MatthewHerbst opened #1334 "Server should skip validation of queries with include===false/skip===true"
Currently, the server validates all parts of a query, even parts that will be dropped due to `include` being `false` or `skip` being `true`.

For example:

[code]

In the above scenario, if the user is not logged in, then the `loggedInUserUid` will be `null` since there is no profile to pull a uid from. However, sending the above with `null` to the server will cause a validation error since the `u

[2018-05-02 19:28] IvanGoncharov commented on #1334
@MatthewHerbst It's impossible according to GraphQL design:

http://facebook.github.io/graphql/draft/#sec-Validation

If validation process will depend on query variables it will be imposible to validate quires during build time, e.g. `eslint-graphql` or validate submitted persistent queries.

You can create top-level `viewer` field simular to how it's done in GitHub API:
https://developer.github.

[2018-05-02 19:59] MatthewHerbst commented on #1334
We have a top-level viewer. Not sure I follow how that helps the issue at hand?

[Section 3.13](https://facebook.github.io/graphql/draft/#sec-Type-System.Directives) of the GraphQL spec says (bolding mine):

To me that seems that there is actually flexibility here, and that it would be perfectly valid to not validate part of a query based on a directive.

As to having tools being able to validate

[2018-05-02 20:28] IvanGoncharov commented on #1334
Meaning it should be possible to validate the query without executing it for example in build time.

Yes you are absolutely right directive can change validation but values for query variables shouldn't be required during validation.

Which is exactly what happing at the moment, GraphQL assumes that your query is:
[code]
And that's why it required to for you to specify `$loggedInUserUid` type as `

[2018-05-03 15:11] lucasconstantino opened #1335 "getPossibleTypes should return an empty array, not undefined"
`getPossibleTypes` returns `undefined` when no type implements the provided abstract type. It should probably return an empty array for consistency.

https://github.com/graphql/graphql-js/blob/5dc773eaf16180a68c9bfe720b0405c283883d94/src/type/schema.js#L195-L202

[2018-05-03 15:53] IvanGoncharov commented on #1335
It's fixed #1280 but not released yet.
Note: Spec was changed to require that every interface has at least 1 concrete type
https://github.com/facebook/graphql/pull/424
So now such schema will fail during validation.

[2018-05-03 18:14] lucasconstantino commented on #1335
@IvanGoncharov thanks!

[2018-05-03 18:14] #1335 closed

[2018-05-04 14:31] vieks commented on #207
Here you guys are facing to a huge design misconception | internal flaw to the assumption made by the GraphQL authors:
**validation = typing**

[2018-05-04 14:45] orefalo commented on #207
GraphQL authors: validation = typing

agreed on this one.. simplicity helps adoption but it has its limits.

[2018-05-04 14:57] benjie opened #1337 "Issue parsing printed GraphQL schema (documentation that ends in `"`)"
If a description in a GraphQL schema ends with a quotation mark `"` then you can no longer `parse(printSchema(schema))` - i.e. the printed schema cannot be parsed.

Here's a small script that reproduces the issue:

[code]

GraphQL version: 0.12.3

[2018-05-04 15:03] benjie commented on #1337
(This is solved in 0.13.2 but we can't use that because https://github.com/graphql/codemirror-graphql still requires 0.12. )

[2018-05-05 03:53] vektah opened #1339 "Language agnostic test cases"
I'm currently looking at writing a new parser in golang, and it would be great if we could easily import the tests.

At the moment I'm looking at  [lexer-test.js](https://github.com/graphql/graphql-js/blob/master/src/language/__tests__/lexer-test.js) which currently looks like:

[code]

Would you be open to a PR that refactors the test cases to use yaml (or json) instead, so they look more like:
[

[2018-05-06 02:55] vektah commented on #1339
I've used the format described above to test my lexer based on the tests in this repo. https://github.com/vektah/graphql-parser/blob/master/lexer/spec.yml

[2018-05-08 01:12] JCMais opened #1341 "Is it possible to make findBreakingChange return line numbers?"
This would help to create some tools, like github pull request checks.

[2018-05-08 19:20] 19majkel94 opened #1343 "Setting directives using ObjectType constructor (not IDL)"
I am reviving #1262 as I have an use case that is related to that discussion:

I agree that "directives are a tool for supplying additional intent" and "you have the full power of the host programming environment". But since the GraphQL ecosystem has grown, I think we should think about interoperability with 3rd-party libraries. The examples that I am thinking about is [Apollo cache control](https

[2018-05-09 14:33] lukewlms commented on #664
@DxCx In a large system, how would one avoid having a context with hundreds of functions?  Would the context be different depending on what part of the schema you're in?

[2018-05-10 04:10] IvanGoncharov commented on #1334
@MatthewHerbst Fully agree. `viewer` concept is not a part of GraphQL specification and just one of many best practices. So your schema perfectly valid without it.

However, you getting validation error not for a schema itself but for a particular query written against it.

GraphQL query is strong-typed so when you defined your query you explicitly specified that `loggedInUserUid` is non-null so s

[2018-05-10 06:25] HouCoder commented on #1075
This is a bit annoying, I just wanted to make a simple demo to explain GraphQL to my backend co-works without extra npm, webpack work involved, would be great if it could support browser directly without tooling.

For people who're looking for a **browser** client, try this - https://github.com/f/graphql.js

[2018-05-10 06:30] lastmjs commented on #1075
The biggest problem is bear specifiers, I don't see it in their best
interest to change that. The polymer team is hopefully working on a
standard for bear specifiers in the browser. If you want a really easy
solution, try https://github.com/lastmjs/zwitterion

On May 9, 2018 11:25 PM, "Tonni" <notifications@github.com> wrote:

This is a bit annoying, I just wanted to make a simple demo to explain

[2018-05-10 09:34] amitport opened #1344 "[bug] does not work with @angular/angular-cli@6.0.0"
The core issue is the same as https://github.com/angular/angular-cli/issues/10744
I'm not sure the fix should be only in `@angular-devkit`- to me it seems reasonable to expect that graphql lib provide a `.js` main file.

There is an additional complication. After editing `@angular-devkit` trying to fix `.mjs` issue according to https://github.com/graphql/graphql-js/issues/1272#issuecomment-3773845

[2018-05-11 04:17] MatthewHerbst commented on #1334
Yeah, default values I think are what we might end up doing.

I think that's the crux of what I'm trying to get at: does it striclty need to be in GraphQL's case?

Will be traveling for the next week. Will post full query/error when I get back if the team hasn't come up with some other solution by then (for now we split the queries until we find a better solution). Thanks for the continued thought

[2018-05-11 10:58] 19majkel94 commented on #1343
After 3 days, ping @leebyron as an author of the quotes and ping @IvanGoncharov as an author of #746 that have added support for directives 😃

[2018-05-11 11:28] IvanGoncharov commented on #1343
@19majkel94 My position is the same as I wrote in #1262

[2018-05-11 20:54] gferreri commented on #1182
I am using `0.13.2` and I still see this error.

[2018-05-12 09:16] IvanGoncharov commented on #1182
@gferreri Did you specify `production` enviroment to your bundler, here is how to do it for webpack:
https://webpack.js.org/guides/production/#specify-the-environment

[2018-05-12 15:46] gferreri commented on #1182
That was indeed my problem. NODE_ENV was not set to `production`

On Sat, May 12, 2018, 5:16 AM Ivan Goncharov <notifications@github.com>
wrote:

[2018-05-12 19:05] intellix opened #1347 "Support npm 5 prepare script for installing non-published references"
npm 5 added the ability to specify a `prepare` script inside package.json. It's basically how to prepare a package before you want to publish it (build it).

When a package has a prepare script and you depend on a git source, npm will:
 1) Install it's devDependencies
 2) Run the prepare script

With it, you can depend directly on git sources without the need to publish them to npm first, which me

[2018-05-12 20:15] IvanGoncharov commented on #1347
I have the exact same use case, I maintain my own fork of `graphql-js` to be used in my projects, e.g.:
https://github.com/APIs-guru/graphql-faker/blob/0c1dd3814c8bb5ad1582d3ad736b6f91696de0ab/package.json#L48

Main problem with this feature is that `prepare` script should work on ALL suported node versions and across ALL enviroments.
In reality it mean `prepare` should work on Windows and we can'

[2018-05-13 15:57] jedwards1211 commented on #525
I found the documentation for how to do this with `graphql-tools`:
https://www.apollographql.com/docs/graphql-tools/scalars.html#internal-values

[2018-05-14 16:35] AaronCCWong commented on #1266
Is this waiting on babel v7 to come out of beta?

[2018-05-14 17:43] intellix commented on #1347
The difference is that the `npm` branch is only master, and since npm5 you can point to ANY branch or commit, so once you submit a pull-request, it's instantly dependable without any hack

[2018-05-15 14:19] Ben305 commented on #1344
This is a blocking issue for us. Is there any ETA for a fix?

[2018-05-15 18:09] IvanGoncharov commented on #650
@swolchok @tcr It was fixed in https://github.com/facebook/graphql/pull/90/commits/bde02b9da4323eec50d72bf47e473f1add66a06d
By allowing allowing to omit curly braces, e.g. `type NoField`, `extend type Foo implements Bar` and `extend type Foo @onType`.

`graphql-js` was adapted to this change in #1117
So I think this issue can be closed.

[2018-05-15 21:37] leebyron commented on #650
Thanks for following up on this, @IvanGoncharov! I definitely intended to mark this issue fixed with that set of changes.

[2018-05-15 21:37] #650 closed

[2018-05-16 09:38] z3214965 opened #1351 "about mutation problem"
my code：
[code]
[code]

I do not know why？

[2018-05-16 10:06] IvanGoncharov commented on #1351
@z3214965 In your code `addUser` returns `type: GraphQLString` but in your query you expect it to object with `id` field.
You should rewrite your query as:
[code]

[2018-05-16 10:06] #1351 closed

[2018-05-16 11:42] amitport commented on #1344
@IvanGoncharov can we wait a couple of days until it will be included in some release? make sure everything is working OK together.

[2018-05-16 12:47] z3214965 commented on #1351
mutation {
  createMessage(input: {
    author: "andy",
    content: "hope is a good thing",
  }) {
    id
  }
}
this is official tutorial，why return id ？

[2018-05-16 13:02] IvanGoncharov commented on #1351
@z3214965 Because `createMessage` returns `Message` not a `String`:
[code]

Please use StackOverflow for questions regarding how to use GraphQL:

If you have a question on how to use GraphQL, please post it to Stack Overflow with the tag #graphql. Please do not post general questions directly as GitHub issues. They may sit for weeks unanswered, or may be spontaneously closed without answer.

[2018-05-16 14:50] IvanGoncharov commented on #1344
@amitport It looks like this was fixed in 60c03ab23852074896fd9134c24c46ba595bf014 but not released yet. Can you please run your test on `master`, you can use built version from here:
https://github.com/graphql/graphql-js#want-to-ride-the-bleeding-edge

[2018-05-17 03:14] z3214965 commented on #1351
I understand, thank you very much

[2018-05-17 06:03] amitport commented on #1344
Did work, though I got to say IMO it's missing the point made in https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814.

A library should not rely on a specific build tool, and in this case it relies on webpack to replace the `process.env.NODE_ENV === 'production'` block.  In this specific case, I would remove the `instanceof` wrap entirely for the same reason Angular removed `

[2018-05-17 06:03] #1344 closed

[2018-05-17 18:53] IvanGoncharov commented on #1324
@spawnia Can you please provide some examples?

[2018-05-17 21:06] spawnia commented on #1324
Sure. Given the following schema:

[code]

Now, if i send the following Query i get a type error:

[code]

However, if i pass the same value as a variable, the value gets converted into a string:

[code]

[2018-05-18 09:55] Ben305 commented on #1344
@amitport Can confirm this works with @angular/cli 6.0.3 and latest master branch. Can we get a new release on NPM please?

[2018-05-18 10:09] amitport commented on #1344
@Ben305 worked for me with `@angular-devkit/build-angular@0.6.3` (Angular 6+ version is irrelevant) and `graphql@master`. 👍 for new graphql release (@leebyron ? not sure who should be tagged here :/ )

[2018-05-18 10:18] samdenty99 commented on #662
For other people facing this issue, `graphqlHTTP` sends the variables in the params object:

[code]

[2018-05-19 07:15] Ben305 commented on #1344
Maybe @mjmahone could also publish a new release with this fix

[2018-05-21 15:52] dh94 opened #1354 "feature request export mapAsyncIterator"
I found the function really handy when dealing with subscriptions,
It will be nice and useful if that function would be exported 😃
[mapAsyncIterator](https://github.com/graphql/graphql-js/blob/master/src/subscription/mapAsyncIterator.js)

[2018-05-21 16:53] IvanGoncharov commented on #1354
@dh94 There is nothing GraphQL-specific in this function so I think it's better to move it into [iterall](https://github.com/leebyron/iterall). What do you think?

[2018-05-21 16:55] dh94 commented on #1354
@IvanGoncharov sounds good

[2018-05-22 18:12] MatthewHerbst commented on #1334
Alright, so here is our query, with the error messages from the GraphQL server:

(Note that I've removed the non-relevant fields from the query, so the below is only the relevant part of the query to this concern.)
[code]

In this scenario, if `fetchComparerProfile` is `false`, then we expect `compareKey` to be `null`, since the setting of `fetchComparerProfile` is based on the existence of `compa

[2018-05-22 22:44] IvanGoncharov commented on #1344
@Ben305 @amitport Update: @mjmahone working on `0.14.0` release, see here: https://github.com/graphql/graphql-js/pull/1346#issuecomment-391137211

[2018-05-23 18:17] IvanGoncharov commented on #1334
@MatthewHerbst Thanks for posting your query and error, now I'm 100% sure we are on the same page.

In your case query variables are validated against:
[code]
It's like you announced contract for acceptable query variables but allowed to break it in some case.
See my function example from: https://github.com/graphql/graphql-js/issues/1334#issuecomment-387946539

On purely practical side it will af

[2018-05-23 18:17] #1334 closed

[2018-05-23 18:22] IvanGoncharov commented on #716
@l50741 I think my previous snippet fully address your problem but feel free to reopen if not.

[2018-05-23 18:22] #716 closed

[2018-05-23 19:37] IvanGoncharov commented on #1334
@MatthewHerbst I forget to specify part of the spec that requires `graphql-js` to produce an error:

http://facebook.github.io/graphql/draft/#sec-Coercing-Variable-Values

[2018-05-23 21:09] IvanGoncharov commented on #461
Fixed in 714ee980aa17a4de42013d49a9839d43493d109e and released in `v0.12.0`

[2018-05-23 21:09] #461 closed

[2018-05-23 21:44] IvanGoncharov commented on #224
@sibelius You absolutely right 👍
It added both into the specification and `graphql-js`, see #846

[2018-05-23 21:44] #224 closed

[2018-05-24 12:54] brunoabreu opened #1356 "Misleading error in Internet Explorer 11"
It throws the following error:

Turns out this happens because this code compares two function names:

https://github.com/graphql/graphql-js/blob/f3ebab8f85e44d74064c557b88a3a44ee80aee92/src/jsutils/instanceOf.js#L33-L36

Internet Explorer does not have support to `Function.name`. Thus the comparison will be `undefined === undefined`.

In my case, I fixed that by adding a polyfill. But I think thi

[2018-05-24 18:28] venkat4541 commented on #1055
I have been facing this issue for a while. I've seen that there's a thread on this on the Apollo client page but thought it is more of a GraphQL one.
https://github.com/apollographql/apollo-client/issues/1812

I went through the response of @reconbot and the error object source but failed to understand how the error.message is being populated. If it is something that is explicitly thrown by my sch

[2018-05-25 14:05] terion-name opened #1358 "Problem of package development using GraphQL"
I develop a package that uses graphql. It has peerDeps:
[code]

Using standart package development flow, I make a repo of this package, link it with `yarn link`, then go to test project and add it via `yarn link package/name`.

And on `printSchema` in the package I get:

[code]

`resolutions` in both packages don't work.

And I see no options to suppress this behavior.

I think that there should b

[2018-05-25 14:11] terion-name commented on #1358
Ah, sorry, found pull request and understood, that this can be suppressed by seting node env to production

https://github.com/graphql/graphql-js/pull/1174

[2018-05-25 14:14] IvanGoncharov commented on #1358
@terion-name Note: that by disabling this check you don't solve underlying problem there is very high chance that `graphql-js` will start behave unpredictable.

[2018-05-25 14:30] terion-name commented on #1358
@IvanGoncharov yes, it didn't solve the problem :(
Now getting `Error: Unknown type: __Directive.` and nothing works.

Any ideas how to handle this?

[2018-05-25 15:28] IvanGoncharov commented on #1358
@terion-name Can you please run `npm ls graphql` and post the output here?

[2018-05-25 18:05] leebyron commented on #1358
You almost certainly have multiple instances of the GraphQL.js module being pulled in and interacting with each other. This can happen when you attempt to use multiple different versions.

Yarn's `"resolutions"` key in package.json is a good way to enforce a specific version for an entire installation, which can help you solve this problem

[2018-05-25 18:14] terion-name commented on #1358
@leebyron resolutions doesn't work. because, as I've written, I am linking a package that is in develop to project it . is developed for via yarn link. So they, are in different places and have different node_modules

[2018-05-25 18:16] terion-name commented on #1358
@IvanGoncharov in project:
[code]

in package (that is linked and which code causes error):
[code]

[2018-05-25 20:36] IvanGoncharov commented on #1358
@terion-name I see. I can't think of any good solution to this problem that we could implement inside `graphql-js` 😞
Possible workaround: copy `node_modules/graphql` somewhere and run `yarn link` in it and also link it in two projects you mentioned.

[2018-05-27 03:03] sepehr500 commented on #596
@stubailo Can you point me to a large project that uses `buildSchema`? The Apollo documentation does not show how resolvers are modularized along with the schema strings, and I am not convinced `buildSchema` is better than building the schema programmatically for large projects. .

[2018-05-28 03:16] DmitryEfimenko commented on #1344
when is this expected to be released?

[2018-05-28 10:34] terion-name commented on #1358
@IvanGoncharov ok, I've found a workaround: remove node_modules in developing package and add it to test project with `yarn add file:...`

This has drawbacks, like problems with build of package and need to re-add on each change, but this is better than nothing

[2018-05-28 10:34] #1358 closed

[2018-05-28 12:32] IvanGoncharov commented on #1337
@benjie Yes you right it was fixed in #1205
We are working on `14.0.0` that will include this fix.

[2018-05-28 12:32] #1337 closed

[2018-05-28 12:51] benjie commented on #1337
Is it possible to either get a fix for this backported to 0.12.x, or have codemirror-graphql support 0.13.2+?

[2018-05-28 13:18] IvanGoncharov commented on #1324
@spawnia You completely right, specification clear state that input coercion should be strict. Mover some behavior is ridiculous for example you can pass `{}` and it will be coerced to `'[object Object]'`.

Yes, it definitely a breaking change so it's important to include in `14.0.0` RC.
I will work on PR.

[2018-05-28 16:58] IvanGoncharov commented on #1337
@benjie Sorry, I completely missed that comment. Just trying to push `14.0.0` forward by cleaning up issues/PRs.

Codemirror depends on [graphql-language-service](https://github.com/graphql/graphql-language-service) so it should be updated first and I don't have commit rights to this repo.
I will try to make PR this week and ping someone who has commit rights.
Feel free to ping me in this issue.

[2018-05-29 12:28] alvis opened #1360 "defaultFieldResolver does not resolve field alias"
Currently `defaultFieldResolver` is used in `graphql-tools` as the default resolver. However, it doesn't work with aliased field. e.g. The first example works but not the second one. In the second case, `nickname` would be resolved to `null` rather than being identical to `name`.

[code]

[code]

The cause of the issue is that the current resolver only takes the `fieldName` from `info` rather than

[2018-05-29 13:29] IvanGoncharov commented on #1360
@alvis It works exactly as expected. If we use aliases, you can't return objects from your resolver. For example, in your query, your resolver can't return `{ name: 'IvanGoncharov' }` anymore.

Also note that current behavior is design to support wrapping your resolvers in classes, see here: https://graphql.org/graphql-js/object-types/

So using aliases make sense only for proxying request but abs

[2018-05-29 23:15] alvis commented on #1360
@IvanGoncharov Thanks for explaining.

I'm trying to understand this. You said the resolver can't return `{ name: 'IvanGoncharov' }` in my example if I use `info.path.key` instead of `info.fieldName`. Do you mean that `info.path.key` and `info.fieldName`are different if there's no alias? Becoz what I observe is that they're always identical for ordinary call, except the case of alias.

[2018-05-30 08:54] IvanGoncharov commented on #1360
@alvis Let's make a concrete example, I will use `graphql-tools` wrapper since it more familiar to you:
[code]
Let's apply proposed change and call this query:
[code]
Everything is good and you will get:
[code]
Let's send:
[code]
Since graphql will look for `firstName` instead of `name` you will get:
[code]

[2018-05-30 10:28] alvis commented on #1360
@IvanGoncharov Yes. It's a good example.

My question is: aren't we suppose to get
[code]
since `firstName` is an alias of `name`? This is the reason I open this issue.

May be I'm wrong, but as far as in my expereince with Prisma, `obj` received in `resolve(obj, args, ctx, info)` becomes
[code]
in the 2nd example. That's why I thought using `info.path.key` is a better idea.

[2018-05-30 11:48] IvanGoncharov commented on #1360
@alvis I'm confused, so let's go step by step based on my example:
1. Resolver called for `me` field it returns `{ name: 'Ivan' }`  and this value becomes `source`.
2. `name` doesn't have resolver so `defaultFieldResolver` is called with args:
  * `source` - `{ name: 'Ivan' }`
  * `info` - where `fieldName` is `name` but `info.path.key` is `firstName`.
3. Here is where current and proposed behavio

[2018-05-30 11:53] IvanGoncharov commented on #1360
Ok, I think I understand now. You right because `Prisma` is proxy but as wrote previously:

[2018-05-30 11:53] #1360 closed

[2018-05-30 12:56] alvis commented on #1360
Thanks for explaining. It's clear to me now.

[2018-05-30 13:15] IvanGoncharov commented on #1360
@alvis Great to hear! Proxying GraphQL requests are a pretty new field, so not everything works as expected. For example, you can break the majority of proxies with a query like that:
[code]
And it's not a `graphql-js` or GraphQL specification problem it just one more case that proxy needs to handle.

[2018-05-30 23:09] joshjcarrier opened #1361 "Fragment safe divergence does not consider field nullability"
Types on the same union are expected to have matching nullability constraints even when the fragments can never converge.

Given this schema:

[code]

and this operation:

[code]

The execution results in a validation error:

Related issue: #53

Repro script:

`node test.js`

`test.js`
[code]

`package-lock.json`

[code]

[2018-05-31 02:34] WorldOfCode22 commented on #1272
adding .mjs to the list of extensions worked for me after I went back and set everything back to import {} from "graphql"

[2018-05-31 10:36] IvanGoncharov commented on #1361
@joshjcarrier Thanks for very detailed issue 👍

It's implemented according to the specification:
See `3.a` at: http://facebook.github.io/graphql/draft/#SameResponseShape()

However, specification doesn't set in stone so if you think that it should be changed please submit an issue in this repo: https://github.com/facebook/graphql
Also please don't forget to describe your use case in more details a

[2018-05-31 10:36] #1361 closed

[2018-05-31 13:47] bessey opened #1363 "[SDL] Deprecation reason cannot be just any string"
I just upgraded a repo to use the latest graphql-js (0.13.2 at time of writing) and have found that my SDL cannot be parsed, because my deprecated reason strings have commas in them:

[code]

Which leads to error:

[code]

This isn't mentioned in the spec as being invalid as far as I can see.

[2018-05-31 14:53] bessey commented on #1363
Hmm, perhaps this isnt a `graphql-js` bug. My GraphiQL works fine even when I go and look at these deprecation messages in the Docs. but it does crash my `apollo-tools` `makeExecutableSchema`

[2018-05-31 14:58] IvanGoncharov commented on #1363
@bessey You right it's valid.
But I can't reproduce it using your snippet 😞

You can try to find where error catched and do `String(error)` when you will get error like this:
[code]
It can help you to locate error in your SDL.

If it doesn't help please try to minify your SDL file and post it here.

[2018-05-31 16:30] IvanGoncharov commented on #1363
I think you should report it in their repo.

[2018-06-01 09:06] jordantogether commented on #640
I think I stand on the same side as @smolinari. I thought it was a glaring omission for GraphQL, but with it supporting data from multiple sources, it's bound to be extremely slow (a la oData for CRM) if it starts doing that filtering logic after it's received data from the various sources.

In my case, the solution was simple: the parameters that go through to the GET query (i.e. `my_url.com/quer

[2018-06-01 14:47] jatsrt commented on #1272
For anyone else who stumbles into this, I found the following to solve the problem by adding to rules:
[code]
and to resolve:
[code]

[2018-06-03 15:51] marano commented on #844
Four arguments makes it very difficult to compose resolvers. I am sad to see this proposal was dismissed without much discussion.

[2018-06-04 18:09] #1356 closed

[2018-06-05 13:57] kitsunekyo opened #1368 "Improve Lackluster Documentation"
# Documentation

i've so far seen quite a lot of questions revolving around documentation, specific to the graphql-js implementation and how to translate graphql schemas to the graphql-types.

- the onepager on https://graphql.org/graphql-js/ does not even use `GraphQLObjectType`, or `GraphQLSchema `to define schemas but uses a template string instead.
- the class `GraphQLDirective` is not even me

[2018-06-08 13:19] swernerx opened #1375 "Pre-Release was published as latest"
I think there is an issue happened with the last published package. 14.0.0-rc.1 is clearly a pre-release - even the changelog is saying so, but was published as "latest" which leads some automatic update tools to go to this version. Any chance to get this fixed?

[2018-06-08 13:20] swernerx commented on #1375
Check yourself here: https://www.npmjs.com/package/graphql?activeTab=versions

[2018-06-08 15:34] IvanGoncharov commented on #1375
@swernerx I tested `npm install graphql` and `yarn add graphql` and they both installs `14.0.0-rc.1`.
It's pretty bad I think we need to unpublish this package:
https://docs.npmjs.com/cli/unpublish

@mjmahone Can you please unpublish package?
I think we still have a couple hours.

[2018-06-08 15:45] IvanGoncharov commented on #1375
@mjmahone Also looks like `14.0.0-rc.2` from #1374 wasn't published to NPM at all.

[2018-06-08 15:54] IvanGoncharov commented on #1375
Here is an article explaining what happened: https://medium.com/@mbostock/prereleases-and-npm-e778fc5e2420

NPM has very strange behavior by default.
As I understand Lee used `npm publish --tag rc` for previous RC releases that's why it `latest` wasn't changed.

[2018-06-08 15:56] IvanGoncharov commented on #1375
NPM reports that package was published:

So we still have 13 hours to find someone with NPM keys.

[2018-06-08 16:09] IvanGoncharov commented on #1375
@mjmahone No need to unpublish anything we can simply change NPM tags:
[code]

See `Whoops, I accidently published without a tag!` from here:
http://jbavari.github.io/blog/2015/10/16/using-npm-tags/

[2018-06-08 16:20] IvanGoncharov commented on #1363
@bessey Can I close this issue?

[2018-06-08 16:27] IvanGoncharov commented on #1266
Implemented in #1350 by @AaronCCWong 👍

[2018-06-08 16:27] #1266 closed

[2018-06-08 16:30] IvanGoncharov commented on #1095
Implemented by @mgrenier and merged as #1373 🎉
Available in `14.0.0-rc.1` 📦

[2018-06-08 16:30] #1095 closed

[2018-06-08 21:35] IvanGoncharov commented on #1375
@mjmahone Can you please set correct tag?
It's a major issue since a lot of developers start to use RC versions unintentional by just doing: `yarn add graphql`.
Also, every new RC triggers update bots/scripts e.g. https://github.com/danger/peril/pull/309

[2018-06-08 23:36] mjmahone commented on #1375
Shoot sorry I missed this. Trying to update tags now, though I'm not sure whether I have the right permission to do this. Figuring out how things make it to npm has been a bit of a struggle. Thank you @IvanGoncharov for providing much needed resources, and @swernerx for identifying the issue!

[2018-06-08 23:54] mjmahone commented on #1375
It seems like the main issue is that I don't have write access to npm. It seems like only TravisCI is allowed to publish to our npm package. I'm not sure how to force the tag to be correct, but I'm trying to figure out who has the ability to update the tag. @leebyron might?

[2018-06-08 23:57] IvanGoncharov commented on #1375
@mjmahone Here is complete list:
[code]

[2018-06-09 00:03] IvanGoncharov commented on #1375
@wincent @kassens @asiandrummer Can you please assist in resolving this issue?
It's a critical issue for all `graphql-js` users and we can't resolve it without write access to `graphql-js` on NPM.
You only need to execute following two commands:
[code]

For detail explanation please see `Whoops, I accidentally published without a tag!` from here:
http://jbavari.github.io/blog/2015/10/16/using-npm-

[2018-06-09 00:15] mjmahone commented on #1375
Alright I got permission to update the npm registry and it seems like the issue is fixed. I promise to do better on these publishes/releases going forwards. To anyone who accidentally added the rc version: please downgrade if possible.

<img width="657" alt="screen shot 2018-06-08 at 8 12 16 pm" src="https://user-images.githubusercontent.com/1741248/41185633-4edc3f6a-6b58-11e8-84b5-bbff931354ae.pn

[2018-06-09 00:21] IvanGoncharov commented on #1375
@mjmahone I think it's critical to make Travis script:
  1. PR friendly so it publishes on version change and creates branches
  2. Support setting RC tag
I would try to setup Travis in such way on a fork of this repo and do testing with `graphql-js-publish-test` NPM package so we would be sure that it doesn't break anything.

[2018-06-09 03:00] jaydenseric commented on #1347
@intellix wow how did I not realise this before, about using `prepare` to enable Git dependencies, thanks! There have been times I tried installing a fork/PR as a Git dependency and gave up, most recently with [a graphql-relay PR](https://github.com/graphql/graphql-relay-js/pull/209#issuecomment-394578821).

I've begun rolling it out for all my packages, [starting with graphql-api-koa](https://git

[2018-06-09 07:44] Franco992 opened #1379 "Improve doc: graphl-js does not support interfaces and enums with buildSchema"
As far as I understand, it is the recommended approach to use a root object when we build the schema with  buildSchema, because we cannot associate resolver functions when using buildSchema. With this approach the default resolvers are used (AFAIK). The problem is, that we can not use interfaces or union types (defined with SDL), because we can not associate the resolveType function - is that corr

[2018-06-09 09:57] bessey commented on #1363
Yes

On Fri, 8 Jun 2018, 17:20 Ivan Goncharov, <notifications@github.com> wrote:

[2018-06-09 16:48] #1363 closed

[2018-06-11 03:15] leebyron commented on #1375
Sorry for missing this - @mjmahone if you want to release RCs in the future feel free to ping me on messenger if you need any assistance. We should be careful not to break people's expectations of versions over npm

[2018-06-11 04:26] leebyron commented on #1316
This name checking behavior only occurs in non-production environments, since like you're encountering - other build tools can rename source code.

Setting `NODE_ENV=production` before running a CLJS build or any other kind of minifying/obfuscating build is absolutely the right thing to do

[2018-06-11 04:26] #1316 closed

[2018-06-11 04:32] leebyron commented on #1320
Hey @mgrenier this is great, but we're trying to keep issues focused on tasks to complete.

I'm going to close this issue as part of triage, but I'd highly recommend you resubmit this as a PR in something like `WindowsSetup.md`

[2018-06-11 04:32] #1320 closed

[2018-06-11 04:37] leebyron commented on #1354
See my comment on leebyron/iterall#47 but you're probably looking for https://github.com/ReactiveX/IxJS

[2018-06-11 04:37] #1354 closed

[2018-06-11 07:31] thheller commented on #1316
In a CLJS development build I want to use development mode JS dependencies. Forcing `production` mode kind of defeats the purpose of having a `development` mode in the first place.

Many packages provide useful extra information in dev mode and I don't want to miss that. You are also attempting to provide useful information but just rely on a broken assumption to do it.

The problem you are trying

[2018-06-11 07:47] leebyron commented on #1266
Great work, @AaronCCWong!

[2018-06-11 07:55] leebyron opened #1383 "Release v14.0.0"
Let's coordinate on releasing this final version, @IvanGoncharov and @mjmahone.

I believe #1382 is the final blocker based on previous discussions I've had with you all about what we'd like to include. If there's anything else we should have blocking this release let me know.

Next steps are to write up the full release notes with special mentions of breaking changes, then finally push the versio

[2018-06-11 09:33] IvanGoncharov commented on #1383
@leebyron There is a couple issue I think we need to dissucss:
1. After #1373 merged we still have a few related issues:
    1. `validateSchema` doesn't use nodes from new `extensionASTNodes` properties.
    2. `extend scalar` is not supported
1. I also think it's very critical to add validation of directives in SDL since as [noted here](https://github.com/facebook/graphql/issues/429#issuecomment-

[2018-06-11 14:09] IvanGoncharov commented on #1379
Right 👍

Default `resolveType` is looking for `__typename` inside object so you either assign such property to rootObj or use getter function if you are using ES6 classes.
You actually motivated me to rewrite SWAPI example from this repo see #1384
https://github.com/APIs-guru/graphql-js/blob/432adaea861d649c47c89b95ad2d0ffd4ab50e37/src/__tests__/starWarsSchema.js#L142-L144

What is the recommended

[2018-06-11 15:02] IvanGoncharov commented on #1383
@leebyron I also forget to mention one more breaking change which is not super important but a huge quality of life improvement. `parseLiteral` should throw on invalid values similar to `parseValue`.
https://github.com/graphql/graphql-js/blob/f2070c8169617b949b17c1929d27e46454a1d90a/src/type/scalars.js#L56-L64
Same goes for enums:
https://github.com/graphql/graphql-js/blob/f2070c8169617b949b17c192

[2018-06-11 19:31] Franco992 commented on #1379
@IvanGoncharov Thank you very much for you detailed answer!

Ah ok, that makes it "useable" again. Thanks for the clarification

I formulated that a little bit complicated. Sorry for that. What I meant was, that there is no way to provide explicit resolvers, when using graphql-js (using the SDL approach).

AFAIK not graphl-tools has some kind of default resolver approach, it "just" attaches the gi

[2018-06-11 21:27] IvanGoncharov commented on #1379
@Franco992 Before we go deep into GraphQL specification. Also lets state a few points:
* You can register `resolver` if you create your schema using `GraphQL*Type`.
* You can't do the same with schema defined in SDL without hacks
* Until yesterday SDL was an experimental feature and not included in the specification:  https://github.com/facebook/graphql/releases/tag/June2018
* Personaly I think it

[2018-06-11 21:33] IvanGoncharov commented on #1379
@Franco992 Bonus materials 😄 Here is PR that enable SDL schemas to be executable:
https://github.com/graphql/graphql-js/pull/469
Also `graphql-tools` wrapper was announced in the same PR 😉

[2018-06-12 01:56] leebyron commented on #1383
@IvanGoncharov want to open a new issue for throwing from parseLiteral? Not sure I totally understand the use case and want to discuss further but don't want to hijack this issue

[2018-06-12 04:31] leebyron commented on #1383
To follow up on point 3, changing "ie 9" to "ie 11" has no impact on compiled output (tested with `diff -r`), only removing both `ie` and `ios` entries causes any change - for example then `const` is not compiled to `var` - however I don't think this is something we want to do, so I'll suggest leaving that configuration as is for now.

[2018-06-12 04:33] leebyron opened #1387 "validateSchema doesn't use nodes from new extensionASTNodes properties"
As mentioned in #1383 - validateSchema currently misses extended properties added in #1373