[2018-06-12 04:34] leebyron opened #1388 "extend scalar is not supported"
The spec describes this extension but this library does not yet implement it. We need this to comply with the spec for the next release, as mentioned in #1383

[2018-06-12 04:35] leebyron opened #1389 "add validation of directives in SDL"
From #1383:

[2018-06-12 04:37] leebyron commented on #1383
I created new tasks for the remaining issues you brought up and created a milestone so we keep track of them: https://github.com/graphql/graphql-js/milestone/1

If you (or anyone else who might be reading this? @mjmahone?) is interested in helping work through these that would be a huge help in getting this release out this week.

[2018-06-12 13:53] amneacsu commented on #1272
Had the same issue, but I didn't want to mess with webpack config. My fix was to change imports.

[code]

[2018-06-12 15:59] felippenardi commented on #560
@stubailo Sashko, is the RFC you wrote here supposed to be written as part of our schema? facebook/graphql#230

On my mutation, should I be adding to the schema the Error property with `message` and `path` on it?

[2018-06-12 17:54] #1324 closed

[2018-06-13 09:38] Franco992 commented on #1379
@IvanGoncharov Thanks for your clarification.

You are right - I was too focused on the SDL approach. The manual creation supports to assign resolvers. You are absolutely right.

`Personaly I think it should be possible to attach resolvers to SDL schema but I don't think we should replicate makeExecuteableSchema design.`

What would be the difference? Do you have any information on this (Didn't fi

[2018-06-13 12:18] tahnik commented on #260
@ivawzh did you find a solution for this?

[2018-06-14 10:12] #1388 closed

[2018-06-15 07:47] geogeim opened #1393 "Handling non Error instance errors is broken"
Currently graphql handles resolve error as follows:
[code]
This is problematic because if the error is not a string or an instance of `Error` then the error will be serialized as `[Object object]` and the workaround (filling up the code with try-catch statements and converting them to `Error` instances) defeats the purpose of handling errors at the graphql library level.

Please provide a configur

[2018-06-16 12:08] IvanGoncharov commented on #1393
@geogeim Can you please describe your use case in more details?
What kind of error object is throw from resolver?
Why it can't be a subclass of `Error`?

[2018-06-16 13:05] geogeim commented on #1393
it's a plain object thrown from a third party npm module

[2018-06-18 14:23] Ben305 opened #1394 "14.0.0-rc.2 cannot be used in Angular app"
I tried to use the prerelease version in an Angular 6 app, but the app could not be compiled:

<pre>
ERROR in ./node_modules/graphql/index.mjs
34:0-49 Can't reexport the named export 'graphql' from non EcmaScript module (only default export is available)
ERROR in ./node_modules/graphql/index.mjs
34:0-49 Can't reexport the named export 'graphqlSync' from non EcmaScript module (only default export i

[2018-06-18 15:53] IvanGoncharov commented on #1394
@Ben305 Can you reproduce the same issue with `0.13.2`?

[2018-06-19 14:09] leovanhaaren commented on #1394
I'm facing the same issue and it also happens with `0.13.2`

[2018-06-19 17:14] Ben305 commented on #1394
@IvanGoncharov This snippet from `package.json` is working fine with Angular 6.0.3

[code]

[2018-06-19 17:34] IvanGoncharov commented on #1394
@Ben305 Looks like I found root cause: https://github.com/angular/angular-cli/issues/10744
So it's the issue with `angular-cli` and should be fixed in `v6.1.0-beta.1`.
Can you please try it?

[2018-06-19 17:50] Ben305 commented on #1394
@IvanGoncharov Thanks for pointing me in the right direction.

Working with these `devDependencies`

[code]

[2018-06-19 17:50] #1394 closed

[2018-06-22 00:03] JCMais commented on #1341
I will try to work on a POC for this and open a PR to receive feedback

[2018-06-22 11:01] alexmylonas commented on #1383
Excuse my ignorance, but why you jumped from v0.13 -> v14? Is this misname or is this a common practice, just curious!

[2018-06-22 11:03] jgcmarins commented on #1383
@alexmylonas -> https://github.com/graphql/graphql-js/issues/1005

[2018-06-22 11:19] alexmylonas commented on #1383
Thanks for the response. Solid read and discussion

[2018-06-22 14:16] IvanGoncharov commented on #1341
@JCMais Sounds great 👍 I would recommend you to open WIP PR.

I think such tests would benefit from using SDL and they were written using `GraphQLSchema` just because SDL was the experimental feature at that time.
Also instead of `buildASTSchema(parse(sdl))` you can call `buildSchema` that accepts SDL string directly.
To make such changes easier to review can you please submit tests conversion as

[2018-06-23 05:39] jarnoux commented on #146
I've encountered this same error when using a `type` a a member of an `input`. The mistake was that only an `input` can be member of an `input`. I'd suggest returning a message to that effect instead.

[2018-06-23 11:16] highskillzz opened #1403 "Problem with GraphQLList"
I am getting this error
Error: Expected [object Object] to be a GraphQL type.
whenever I try to use GraphQLList in this type file and this is how my type file is

const graphql = require("graphql");
const ProjectType = require("./projectType");

const { GraphQLObjectType, GraphQLString, GraphQLList } = graphql;

const UserType = new GraphQLObjectType({
  name: "UserType",
  fields: () => ({
    id

[2018-06-23 11:16] highskillzz commented on #1403
Removing the GraphQLList makes the error go away

[2018-06-23 13:22] Cito commented on #1403
The error is caused by the cyclic dependency between your modules defining the UserType and the ProjectType. See my answer on StackOverflow.

[2018-06-23 13:55] highskillzz commented on #1403
Yes, it solved it. Thank you very much

[2018-06-23 13:56] #1403 closed

[2018-06-23 17:30] IvanGoncharov commented on #146
@jarnoux Can you please try it with `14.0.0-rc.2` and if you manage to reproduce issue can you please post the minimal example here?

[2018-06-23 20:16] OlegIlyenko opened #1404 "CATs support"
[GraphQL Compatibility Acceptance Tests](https://github.com/graphql-cats/graphql-cats) (or `graphql-cats`) is a project that aims to provide a set of compatibility acceptance tests for libraries that implement the [GraphQL specification](https://github.com/facebook/graphql).

We discussed this at several [GraphQL WG](https://github.com/graphql/graphql-wg) meetings and there was a general consensus

[2018-06-25 12:12] JCMais commented on #1341
will do that this week, thanks for the feedback.

[2018-06-25 12:37] micrajesh commented on #146
Actually a common type like this

const StatusType = new GraphQLObjectType({ ..

can be used in multiple resolve functions to reuse, in this case it is getting this error

Schema must contain unique named types but contains multiple types named, if not possible have to duplicate

[2018-06-25 16:29] benwaffle opened #1405 "Default values for Non Null types"
When supplying a default value for a required field, it is not used and instead throws a validation error.

[code]

Produces:
`GraphQLError: Field "hello" argument "x" of type "Int!" is required but not provided.`

[2018-06-25 17:04] IvanGoncharov commented on #1405
@benwaffle Should be fixed in #1274
Can you please try it on `14.0.0-rc.2`?

[2018-06-25 17:08] benwaffle commented on #1405
it works on 14.0.0-rc.2

[2018-06-25 17:08] #1405 closed

[2018-06-26 15:31] murrayju opened #1407 "Website broken"
https://graphql.org goes into an infinite redirect loop... totally unusable.

[2018-06-26 15:34] murrayju commented on #1407
Sorry, this is a duplicate of  graphql/graphql.github.io#516

[2018-06-26 15:34] #1407 closed

[2018-06-27 12:31] PowerKiKi commented on #1383
This issue should probably be part of milestone v14.0.0.

[2018-06-27 18:20] IvanGoncharov commented on #1055
@giraudvalentin Can you please try `14.0.0-rc.2`?

[2018-06-29 00:32] nakleiderer commented on #1383
I'm new and likely missing some context, but wouldn't the next version be v0.14.0?

[2018-06-29 21:48] leogoesger commented on #146
I ran into similar issue when I move files around and change the casing. I solved it by naming the file to something else, then change it back. Everything worked after!

[2018-06-30 05:38] taion commented on #1135
@leebyron @robzhu @Urigo @davidyaha @jedwards1211
cc @jquense

At this point, we've done quite a bit of extra work with subscriptions, playing around with async iterables. While async iterables have a number of nice syntax advantages, we've discovered them to be quite painful to use and full of pitfalls in this scenario.

Consider the simple case of adapting the messages on a Redis topic to an asy

[2018-06-30 05:48] taion commented on #1135
To summarize, the core issues are:
- Finalization semantics on async iterables are _much_ easier to get wrong than to get right
- "Async-iterable-ify" from an event emitter, unlike promisify, is also complicated and fiddly, and is also easier to get wrong than to get right

The current situation might be okay if the expectation is that the vast majority of users will use some library that wraps up

[2018-06-30 15:29] jedwards1211 commented on #1135
@taion on the other hand, implementing transforms like `map` and combinations of async iterables using `for await` statements provides automatic finalization, whereas it would be more work to finalize with observables...

[2018-06-30 15:31] jedwards1211 commented on #1135
I'm also not exactly convinced that people wouldn't make the same mistake as https://github.com/apollographql/graphql-subscriptions/issues/143 if using observables.

[2018-06-30 19:00] taion commented on #1135
@jedwards1211 Not exactly – with observables, because you control the cleanup explicitly, the error condition where the teardown function never gets called is much more difficult to write. As long as `.unsubscribe()` actually unsubscribes, there's nothing to worry about. By contrast, the try-catch pattern with async generators is much more error-prone.

[2018-07-01 14:30] jedwards1211 commented on #1135
@taion Well, `zen-observable` at least was written carefully enough that I doubt someone could cause a leak with it.

Definitely you have to jump through some hoops to get events from an EventEmitter or redis into an async generator.  But there are cases where transforming async generators is quite elegant:

[code]

[2018-07-02 10:13] nodkz commented on #1343
The new Apollo Server v2 introduce requirements for graphql-compose (and graphql-js) users to somehow provide directive via `GraphQL*Type` classes for providing an info for CDN cache. Without providing directives via `GraphQL*Type` we have no way to use Apollo Server v2.

Another use case was with [graphql-cost-analysis](https://github.com/pa-bru/graphql-cost-analysis) which allows rejecting compl

[2018-07-02 14:04] shtanton commented on #484
Is it possible to have `obj instanceof Object //true` but still have `obj.toString //undefined` etc.

Some libraries use instanceof to check the type of arguments and this prevents them from functioning correctly.

If a query had an object with a type 'toString' surely the toString method is simply overwritten and so there is no problem, this seems like a better solution though I haven't thought a

[2018-07-03 23:29] bwyss commented on #748
double backslash worked for me

[2018-07-09 11:05] CrocoDillon opened #1413 "ObjectType implementing InterfaceType doesn't end up in the schema"
Consider this code:

[code]

Which gives this output:

[code]

This is a very simplified demo of the problem I'm running in to. Cars (in this case) don't have their own queries so they don't end up in the schema even though you can query for them by the interface they implement.

How can I make them appear in the printed schema?

[2018-07-10 15:01] IvanGoncharov commented on #1413
@CrocoDillon You need to write this:
[code]

[2018-07-10 15:14] CrocoDillon commented on #1413
Thanks, do you think it might be a good idea to add this to the documentation? I couldn't find it and I looked everywhere (except in the code itself, where it is pretty obvious... silly me)

For example here https://graphql.org/graphql-js/type/#graphqlschema

If so, I can make a PR for [`graphql/graphql.github.io`](https://github.com/graphql/graphql.github.io/blob/source/site/graphql-js/APIReferen

[2018-07-10 18:06] IvanGoncharov commented on #1413
@CrocoDillon Yes, it would be extremely helpful.
One problem through `graphql.org/graphql-js` was handwritten for the first release of this lib and severely outdated.
The current plan is to generate docs from code so it would be great if you extend this comment: https://github.com/graphql/graphql-js/blob/master/src/type/schema.js#L53-L78

[2018-07-11 12:41] wmertens commented on #1272
@jatsrt I didn't have to include that loader once I put `.mjs` before `.js` in my `resolve.extensions`. Mine is now `extensions: ['.wasm', '.mjs', '.js', '.jsx', '.json'],`

[2018-07-11 20:51] ryangueraa opened #1415 "master"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](http://stackoverflow.com/questions/tagged/

[2018-07-12 18:34] JimChengLin opened #1416 "[Feature requests]Allow resolve function returns a custom deferred object in order to do decent query optimization."
I have read https://github.com/graphql/graphql-js/issues/26 , https://github.com/graphql/graphql-js/issues/700 and https://github.com/graphql/graphql-js/pull/304 . It seems like there is no well-agreed way to combine GraphQL and database. GraphQL.js loses a certain amount of chances to do query optimization. Am I right? I have a simple proposal. In the `resolve` function, we can return a DeferredO

[2018-07-12 18:59] brysgo commented on #599
@leebyron - you say the main reason for input types is to disambiguate required fields. Could this problem be solved by having a different operator to specify if a field is required for input or output?

[2018-07-12 19:02] brysgo commented on #599
Or having type definitions be input and out put by default, but have some operator like:

[code]

[2018-07-14 10:46] terion-name opened #1419 "Typed arguments in resolvers"
It's kinda feature request. I've [posted a question](https://stackoverflow.com/questions/51337630/detecting-argument-types-in-resolver) how to do this using existing tools (btw I'l be very grateful if someone can help with this), but I think this really should be in a spec/ref implementation.

Resolver accepts arguments as plain javascript object, already combined from inline arguments and variabl

[2018-07-14 12:58] IvanGoncharov commented on #1419
@terion-name It's pretty easy taking query from StackOverflow as an example:
[code]

Is it something close to what you are trying to do?
If not can you please provide more details about your usecase?

[2018-07-14 16:10] terion-name commented on #1419
@IvanGoncharov thank you, after some fixes — yes, it is close to desired. Just need to tweak it for recursion, I will dig in this.

And my point that this is very, very useful data for input processing and it would be great to have something like this in core library. Sort of `TypeInfo` but for arguments.

[2018-07-15 00:09] dandv commented on #550
@langpavel: plans to make that gist into an easy-to-import npm package, like @excitement-engineer's [grapql-iso-date](https://github.com/excitement-engineer/graphql-iso-date)? Or does that package already subsume yours?

[2018-07-15 09:36] wmertens commented on #747
How about just supporting `resolve` on input types? Conceptually simple, right?

[code]

The resolvers would get called right after the value is parsed, so depth-first.

[2018-07-15 14:18] terion-name commented on #1419
@IvanGoncharov thank you for help, I've written a rough draft of function I speak of:

[code]
And some examples:
[code]

[2018-07-16 08:44] garyrutland opened #1420 "Setting type via object directly and object through a function has different results"
Hi,

I'm not sure if this is a bug can't see any obvious reason as to why it wouldn't work, the other issue I'm facing is that I'm not getting any errors returns and just an empty object.

[code]

Being able to use a function would be ideal as I can then pass a database connection through which is proving difficult with a "static" object.
Is there any obvious reason why this wouldn't work as they

[2018-07-16 08:54] IvanGoncharov commented on #1420
@garyrutland It's hard to understand your problem from code snippets you posted,
can you please provide the full example?
Like put the content of different files in separate code snippets and provide code that constructs `GraphQLSchema` object.
Or alternatively, you can create a GitHub repo with the minimal example.

[2018-07-16 10:30] lisbetfalero commented on #1420
You are terminated🤗

[2018-07-16 13:17] IvanGoncharov commented on #747
@wmertens I think this issue partly overlaps with https://github.com/graphql/graphql-js/issues/361#issuecomment-217597957
I agree with @leebyron comment in #361 that input validation should be done before calling resolvers.

But for argument transformation, I think it should be done inside resolvers. The resolver should receive arguments that match field definition especially since it's documented

[2018-07-16 13:36] IvanGoncharov commented on #1419
@terion-name Makes sense 👍 Validation and transformation of complex argument is definitely something that we need to improve. Moreover, I just realize that you can use something like this to generate SQL query based on your args similar to how `print` uses `visit` to convert AST to string: https://github.com/graphql/graphql-js/blob/master/src/language/printer.js

So I think it would be extremely u

[2018-07-16 13:50] terion-name commented on #1419
seems reasonable. then it will be useful to add a function that will extract arg defs from info, to prevent writing `info.parentType.getFields()[info.fiedName].args` construction in resolvers

yes, I've thought about this but didn't find a bulletproof interface for this. Your variant also has a flaw with potential `types` input type (that is very common). Maybe it should be prefixed with something

[2018-07-16 14:05] IvanGoncharov commented on #1419
@terion-name Great 🎉 Just open WIP PR after you stabilize API so I could provide an early feedback.

[2018-07-16 14:50] IvanGoncharov commented on #1416
@JimChengLin Problem is that `graphql-js` needs some runtime information in order to call correct resolvers. For example, if you use interfaces or unions than without knowing the actual type of every object you can't decide what resolvers you should call:
[code]
Moreover, in the case of arrays, you need to know the exact size of array and type of every item.

Taking the above limitations into acco

[2018-07-16 17:07] JimChengLin commented on #1416
@IvanGoncharov
The type can be known from some meta attributes. My proposal is simply "lazy-evaluation". When you really need it, you can still call `await someDerferredObject.execute()`. **It wouldn't harm anything.**

Example taking from https://github.com/iamshaunjp/graphql-playlist,
[code]
In the resolve function of `AuthorType`, why do we know everything of parent? Ideally, if parent is a def

[2018-07-16 18:58] garyrutland commented on #1420
I think I've found the problem, it was just quite well hidden.
`Schema must contain unique named types but contains multiple types named "Object".`

I need to rethink how to structure this to work AWS Lambdas as the DB connection gets closed after the first execution which is why I was trying to use `module.exports = () => new GraphQLObjectType({...});`.

Sorry for the trouble.

[2018-07-16 18:58] #1420 closed

[2018-07-16 19:17] wmertens commented on #747
@ivangoncharov there is no overlap because that issue is about output types and there is even a workaround possible by decorating the schema.

However, input types have no transformation possibilities besides creating a scalar type per resolver, which would even cause the schema to change.

I also disagree that this is precluded by the spec, since the spec is purely about the schema and this is im

[2018-07-16 19:21] garyrutland commented on #1420
Also, turns out if I had wrapped my schema creation in a try/catch I would have seen the missing error.

[2018-07-16 21:08] IvanGoncharov commented on #747
@wmertens If we allow changing types of arguments than resolvers will stop being type-safe. For example, you lose the ability to generate typings for your arguments, like this: https://github.com/nknapp/graphql-typewriter/blob/master/test/schemas/arguments.ts#L8

It also a problem for any GraphQL middleware that will try to wrap `resolve` functions since it can't expect that `args` value will matc

[2018-07-17 11:12] wmertens commented on #747
* not everybody uses typescript
* the type of the InputType will be whatever the resolver returns, or if there is no resolver, the same graphql type as before

Types are nice, but now you're using them as an argument against something that would improve code quality?

[2018-07-17 11:18] wmertens commented on #747
Actually I'm not sure that we're on the same page. I am only requesting a nicer way to map graphql inputs to their server-side equivalents, just like output resolvers are a nice way to map server-side data to graphql.

[2018-07-17 15:23] terion-name commented on #1419
@IvanGoncharov some thoughts during proofing. It became obvious that this function should be async, to allow async visitors that will perform remote calls for validation or other async actions (uploading files or interacting with S3).

One thing I am confused of — is should it respect NotNull type. E.g. should the function trigger visitor for `MyType` on `MyType!` input. As for now it does, but ma

[2018-07-17 17:47] #1387 closed

[2018-07-17 19:35] IvanGoncharov commented on #1419
@terion-name Using Promises will absolutely kill performance for people who want to use them for simple validation/transformation. Not sure about your use case but can you use external promise like that:
[code]
If not can you please give some simplified example of your usecase?

Yeah, that's tricky 🤔. The alternative idea: can you bind callbacks to fields instead of types:
[code]
As a bonus, it wo

[2018-07-18 19:42] bd82 opened #1426 "Parser for Language Services and Editor Tooling"
Hello.

I was wondering if supporting/enabling editor tooling and language services is in the scope of this project.
More specifically I was wondering if **having a Parser that has low level capabilities for supporting editor tooling is within the scope of this project.**

Such capabilities may include:
* Fault Tolerance and reporting multiple syntax errors to the user.
* Syntactic Content Assist

[2018-07-18 19:47] bd82 commented on #1426
pinging @wincent @asiandrummer due to their work on the graphql-language-service package.

[2018-07-20 10:45] IvanGoncharov commented on #1426
@bd82 AFAIK they both switched to new projects not related to GraphQL.

My 2¢: It would be great to extend the current parser to support this features if you can do that without compromising `graphql-js` main purpose: to provide a reference implementation for GraphQL server libraries. That means it should be fast, use a minimum of memory and source code should be simple enough to easily port it to

[2018-07-20 12:32] bd82 commented on #1426
### Context
The reason I am asking is because I've recently created a [GraphQL sample grammar](https://github.com/SAP/chevrotain/blob/master/examples/grammars/graphql/graphql.js)
using the [Chevrotain parsing library](https://github.com/SAP/chevrotain) I've authored.
So I may be able to provide some tentative answers regarding the constraints raised.

* That sample grammar is not productive qualit

[2018-07-20 14:22] IvanGoncharov commented on #1426
Yeah, in this particular case, we can't force people to reimplement `Chevrotain` before they even start working on implementing the actual parser in their language of choice.
+ Another very important constraint: `Apollo`, `urql` and other front-end libraries bundle GraphQL parser so it should be as small as possible.

That said I see a lot of potential in having `advanced parser` for GraphQL tooli

[2018-07-20 15:20] bd82 commented on #1426
[Minified Chevrotain](https://unpkg.com/chevrotain@3.7.2/lib/chevrotain.min.js) it is around 140k
I suppose it may be reduceable by not loading parts we don't need (e.g the lexer engine).

Yes. unless there is something really unique here, we can build whatever data structure we want
Either in embedded actions or in a Parse Tree Visitor. It is really important to not modify the existing AST
to lim

[2018-07-20 16:22] bd82 commented on #1426
Yes, Chevrotain grammars can be extended using inheritance semantics.
With a bit of hacking mixins should also be possible.

* See [Grammar Inheritance example](https://github.com/SAP/chevrotain/blob/master/examples/parser/inheritance/inheritance.js).

There are also some dynamic extension abilities for Lexers,
such as Matching against an abstract "Token Category" instead of a concrete Token.
And

[2018-07-20 17:46] brainkim commented on #1426
Chiming in just to say I’ve had a pretty good experience with chevrotain. I consider it to be a hidden gem of the JavaScript ecosystem, and would love to see it adopted in a larger project like this. It‘s easily one of the best parser libraries in terms of performance, the API is intuitive, its error recovery features can’t be found in (any?) other JavaScript libraries, and the the source code is

[2018-07-20 19:10] IvanGoncharov commented on #1426
@brainkim @bd82 Just to clarify: I personally think current `graphql-js` parser is good enough solution for a server library so I don't think it worth to replace it with `chevrotain` or any other generic parser.

That said I think it definitely worth to have to have a separate NPM package with compatible (API and AST format) parser that supports advanced features outlined in the initial comment an

[2018-07-20 19:20] bd82 commented on #1426
Yeah, The requirement for easy portability would be mutually exclusive with it.

Should this separate library really produce the same AST?
Should the output structure be more general to allow building different "final" output structures
for different scenarios?

[2018-07-20 20:05] IvanGoncharov commented on #1426
Not the same, but would be if it would compatible so we reuse `print`, `visit`, `valueFromAST` and other useful functions from `graphql-js`. If for some reason it couldn't be compatible than it should be at least convertible.

Don't have a lot of experience with parser myself, but I think community usually settles on some AST format as standard e.g. `ESTree`.

[2018-07-20 22:35] bd82 commented on #1426
I will keep this in mind, but we need to remember that the AST used in graphql-js may not be suitable for all editor purposes (I don't know, I have not checked yet...).

In terms of conversions I am not worried because the most basic level structure (Parse Tree)
From which the AST is constructed is low level enough and contains virtually all the information from the text, So practically any higher

[2018-07-20 23:07] bd82 commented on #1426
@IvanGoncharov Where can I get many samples of GraphQL source code?

I'd like to increase the quality of the parser I wrote and need samples for it.
I'll happily use even tens of thousands of lines of samples or more.

[2018-07-21 14:25] terion-name opened #1428 "merge ast trees"
# Feature request

Another feature that is extremely useful and utils are lacking it: merging ast trees.

Primary use case: merging two queries (selections) to dynamically construct queries. There are plenty of cases where it is needed, mainly in libraries and in cases of  graphql to graphql communication.

PS
It would be great if somebody can say how to do this properly now (simple deep merge doe

[2018-07-22 10:44] IvanGoncharov commented on #1428
@terion-name Merging is pretty easy by itself if you don't need to handle conflicts:
[code]
[code]
Would be merged into:
[code]
Which is invalid query constructed from two valid ones.

So do you need conflict resolution or simply merging ASTs would be enough?

[2018-07-22 10:49] IvanGoncharov commented on #1426
@bd82 Probably the most extensive and up to date source would be lexer/parser tests:
https://github.com/graphql/graphql-js/tree/master/src/language/__tests__

[2018-07-22 11:06] terion-name commented on #1428
@IvanGoncharov common scenario: I have an application that utilizes a backend that has graphql interface (it could be a remote api, a service alike prisma or postgraphile).
I have a type that has calculated fields. Let's assume `Home { avgRating }`. `avgRating` is calculated from `ratings { stars }`. So to calculate `avgRating` I need to have `ratings { stars }` in request that is passed to remote

[2018-07-22 18:09] IvanGoncharov commented on #1428
@terion-name It's pretty complex to handle all corner cases even in such small example, e.g. user sens following query:
[code]
Or he provide different parameters to the same field:
[code]
In both cases, you can simply merge and you need to do some tricks with field aliases.
AFAIK, `graphql-tools` and `graphql-bindings` have some functionality to do that.

Would be great to have something like that

[2018-07-22 18:30] ivome commented on #1428
I have thought about this too quite a bit.

Here is an approach that could work IMO:

1. Merge the AST trees of the query while automatically aliasing fields that have naming conflicts. In this step you would have to store the mapping of the queried fields to the original query fields per query to later be able to construct the response objects.
2. Run the resulting query against the GraphQL serve

[2018-07-25 10:14] sibelius commented on #574
@gtkatakura is using conditional mapped types to improve types: https://github.com/gtkatakura/fullstack-challenge/commit/36cc1050768e29824f7c7114d22c131d43aefef9

[2018-07-26 03:52] jedwards1211 opened #1433 "Please make subscription value structure consistent with query value structure"
So imagine the following basic schema:

[code]
My resolver for `Query.foo` can return a `Promise<MetadataItem>`.
You would think my `subscribe` resolver could return an `AsyncIterable<MetadataItem>`.
But noooo...
For whatever reason it has to return an `AsyncIterable<{foo: MetadataItem}>`.
Why do I have to wrap the values I yield in an object?
Is there a good reason for this or is it just a mistak

[2018-07-26 10:14] IvanGoncharov commented on #1433
@jedwards1211 It's actually very consistent with `query` if you have the right mental model. You yield root value for the entire query (not just for `foo` field) and then it executing exactly the same as a query:
http://facebook.github.io/graphql/June2018/#ExecuteSubscriptionEvent()

Actually, it's so consistent with a query that if you register `resolve` on `Subscription.foo` it would be called w

[2018-07-26 10:14] #1433 closed

[2018-07-26 15:08] jedwards1211 commented on #1433
Oh.  Is this documented anywhere?

[2018-07-26 15:11] jedwards1211 commented on #1433
I thought the resolution was just happening on the types of objects I yield, not the root query.

Is there an example of what would actually be the point of having a resolve next to subscribe on food?

[2018-07-26 18:55] IvanGoncharov commented on #1433
It's documented in GraphQL specification:
http://facebook.github.io/graphql/June2018/#ExecuteSubscriptionEvent()
Currently, we have big problems with the documentation and if you want to help you can volunteer in this issue:
https://github.com/graphql/graphql-js/issues/1368

From the top of my head:
1. Events are yield by code that can't/shouldn't be coupled with GraphQL and you want a single `res

[2018-07-26 19:12] jedwards1211 commented on #1433
Okay, great!  So to be clear what you really mean by

Is

i.e., the value you yield is resolved against the `Subscription` type in the schema, not against the `Query` type in the schema, right?

[2018-07-26 19:20] IvanGoncharov commented on #1433
`query` can mean three things:
1. query document - all operations + fragments
2. query operation
3. query root type

I meant `query document` here

[2018-07-26 19:37] IvanGoncharov commented on #1433
@jedwards1211 Not sure it's a good idea but nothing prevents you from doing:
[code]

[2018-07-26 19:42] IvanGoncharov commented on #1433
@jedwards1211 Not sure about Apollo but in Relay caching is based on object ID so it should be updated automatically without requiring matching path in a query.

[2018-07-26 19:46] jedwards1211 commented on #1433
Oh I see, good point.

[2018-07-26 22:57] mjmahone commented on #1389
Currently working on a PR for this issue. I am going to make it more strict, for now. So we will validate all of:
- directives are not defined more than once
- directives are only used once per location in the schema
- directives used on the schema are defined
- directives are used at a valid location: can't use a `SCHEMA` directive on a type definition.

My plan is to add this within the `validat

[2018-07-26 23:44] IvanGoncharov commented on #1389
I'm also working on it for a couple of weeks and I tried a few different approaches. Currently, I'm working on creating `validateSDL` and an accompanying set of rules. Idea is to share the majority of code with `validate` function and reuse some of the existing rules. For example:

https://github.com/graphql/graphql-js/blob/master/src/validation/rules/UniqueDirectivesPerLocation.js

A few benefits

[2018-07-27 00:40] mjmahone commented on #1389
@IvanGoncharov that sounds like you're further along than me. I want basically everything you described, but I am willing to take a shortcut and just extend `validateSchema` to get this out sooner. I've got all the validation (I think) working as-is (putting up a PR imminently).

On thing is that I really want to have us push `14.0.0` as soon as possible. I keep reaching for the "schema directive"

[2018-07-27 04:43] IvanGoncharov commented on #1389
`validateSchema` is part of public API and people using it:
https://github.com/search?q=graphql+validateSchema+-filename%3AvalidateSchema&type=Code
Also some 3rd-party implementations synchronise their codebase with `graphql-js` after each release, e.g. `graphql-php`.
It's not a super big problem but still moving functionality from one public function to another is a breaking change.

Can you wait

[2018-07-27 13:07] terion-name commented on #1419
Moving files for example. Two variants:
1. with apollo upload server I get promises with file streams in args and need to process them
2. or an external uploader sends me path in s3 storage in args and I need to move these files (also async operation)

[2018-07-27 15:52] IvanGoncharov commented on #1419
@terion-name Make sense.
However be cautious of Promises performance since even if you do `Promise.resolve(0)` is still scheduled through the event loop.
So in your implementation, you need to propagate Promise only if it's returned from visitor fn, see `execute` for example on how you can do that:
https://github.com/graphql/graphql-js/blob/master/src/execution/execute.js

[2018-07-27 16:17] IvanGoncharov commented on #1389
I'm trying to figure out if it's possible to reuse the same context for buildSchema and extendSchema since they are totally different use cases so I'm mostly figuring API for ValidationContext. I will reuse tests from your PR and I will try to push WIP PR after I have stable API to get feedback from you.

[2018-07-29 12:37] bd82 commented on #1426
## Update
So I've created a separate project [graphql-advanced-parser](https://github.com/bd82/graphql-advanced-parser). Currently it only produces a low level Concrete Abstract Tree (no AST yet)
And I don't think I even enabled error recovery yet.

## Benchmark
This project also includes a [benchmark](https://github.com/bd82/graphql-advanced-parser/blob/master/benchmark/bench.js) you can checkout

[2018-07-29 13:58] IvanGoncharov commented on #1426
In some applications speed is important. AFAIK Relay stores GraphQL schema as SDL file and for some API such schemas can be extremely big, e.g. Facebook claims to have more than 15000 types in their schema.

But as you initially pointed out current parser lack features that are critical for some applications. It would be ideal to have a parser which is both feature-reach and a fast however if it's

[2018-07-29 15:55] bd82 commented on #1426
In such an extreme scenario I would expect to avoid parsing graphql **text** (everytime) altogether and instead optimize by **serializing** the huge schema AST in an easier (faster) to read format (e.g JSON).

Also keep in mind that parsing is just one step in the whole process, so parsing performance regressions do not translate directly to same percentages of overall performance regressions.

It

[2018-07-29 19:42] mjmahone commented on #1426
@bd82: I work at Facebook and have run benchmarks on parsing: the actual parsing of GraphQL text is not much worse than just reading in a JSON AST. It's also a more compact and readable representation, so we often serialize to GraphQL's SDL instead of JSON when we have the choice between the two.

But we frequently do operations on thousands of query and fragment definitions, in addition to our te

[2018-07-29 22:51] bd82 commented on #1426
Interesting that the de-serialization of the GraphQL text is so fast.

I am still a little unsure about the actual speed requirements (parser vs rest of the compiler ) but I don't have these inputs to bench and profile and **it does not really matter** from my perspective as portability concerns makes using Chevrotain as the default parser irrelevant.

I'll be looking into this, if I can create an

[2018-07-30 18:28] IvanGoncharov commented on #1389
@mjmahone Update: I finally figured out the last major problem.
I will open a couple of PRs implementing this feature in the next few hours.

[2018-07-31 13:10] mrdulin commented on #500
@helfer thx. I am clear

[2018-07-31 19:02] thomassuckow opened #1442 "Improve error for "Subscription field must return Async Iterable. Received: undefined""
The error thrown "Subscription field must return Async Iterable. Received: undefined" should include where in the schema it called the subscription field and it returned undefined.

[2018-08-01 15:58] thomassuckow commented on #1442
I had a slight misunderstanding about how subscriptions work so the solution is probably slightly different:
In my case I didn't provide a subscribe method on the field. So the error should actually complain that the subscribe method is missing and not that it returned undefined.

In either case, it should include the field name.

[2018-08-05 00:29] viztor commented on #922
Does extend work now? @leebyron
or do we expect them to work maybe in the future?

The upside I'm seeing is as such allowing people building graphql application to modularize their application schema

[2018-08-05 02:46] IvanGoncharov commented on #922
@viztor Not at the moment but I plan to implement it for `14.1.0` release.
Currently, `buildSchema`/`extendSchema` is under heavy refactoring with the goal to implement #1389.

[2018-08-10 03:13] taion commented on #1135
Coming back to this... this is even more aggressively broken than I thought, given https://github.com/tc39/proposal-async-iteration/issues/126.

It's simply almost impossible to safely use async generators in cases where we need cleanup. Consider https://babeljs.io/repl/#?babili=false&browsers=last%202%20versions&build=&builtIns=usage&spec=false&loose=false&code_lz=MYewdgzgLgBADgJxAWwJYQKYwLwzBgdx

[2018-08-10 04:58] jedwards1211 commented on #1135
@taion to be clear, after reading through that thread, I realized this is a problem with *async generators*, not *arbitrary async iterables*, i.e. ones where you define the `next()`, `return()` and `throw()` methods yourself.  With arbitrary async iterables, the call to your `return()` or `throw()` will not be blocked if `next()` returns a hanging promise (provided that the upstream code calls `re

[2018-08-10 05:05] taion commented on #1135
The issue is that this essentially becomes a minefield.

If any unsuspecting user accidentally passes the async iterable through an async generator, then cleanup may become arbitrarily delayed.

[2018-08-10 05:26] jedwards1211 commented on #1135
Yeah that's very true.

`await Promise.race([observableProposal, cancelationProposal])` 😄

[2018-08-10 15:02] julmot commented on #297
I also have this issue with Drupal GraphQL responses, which often includes nested "entity" objects.

[2018-08-11 14:07] Cito opened #1461 "Inconsistent definition of value nodes"
I noticed that "value nodes" are defined differently in language/ast and language/predicates:

[code]
[code]

Shouldn't these two definitions be consistent with each other?

[2018-08-11 21:09] mjmahone commented on #1461
@Cito would you be interested in putting up a PR to fix this? If not I can take it.

It seems like you're correct, unless @IvanGoncharov intentionally wanted `isValueNode` to mean `is a constant value`. We may want to switch the naming to better match the type though.

[2018-08-11 23:01] IvanGoncharov commented on #1461
It's a pure typo on my side. My idea was to match `ValueNode` exactly.

[2018-08-12 00:07] IvanGoncharov commented on #1389
@mjmahone Sorry for the silence. I'm working on a PR that will add a few more rules.
I will push hard to publish it until Sunday morning your time so we can discuss the next steps.

Monday seems reasonable due date for RC release 👍

[2018-08-12 14:54] Cito commented on #1461
@IvanGoncharov I guess it happened because you copied the value nodes from [kind,js](https://github.com/graphql/graphql-js/blob/master/src/language/kinds.js). So maybe `kind.js` should be structured differently as well?

[2018-08-13 07:36] PedramMarandi opened #1464 "printType function to get GraphQLSchema object as a query string"
Hi everyone,
I've been struggling to mix Graphql query language with `GraphQLObjectType`  in `makeExecutableSchema` and I realized at the moment there is not any neat way to do so.

However, there is a function to print the schema object which is `printSchema` and I wonder if there is any functionality like a `printType` function or any other solution to implement such a transformation from `Graph

[2018-08-13 12:50] IvanGoncharov commented on #1464
https://github.com/graphql/graphql-js/blob/7cfd6865cebdca1c1760246a5c132babb791b7d7/src/index.js#L359-L360

[2018-08-13 12:50] #1464 closed

[2018-08-13 15:50] IvanGoncharov commented on #1461
@Cito Fixed in #1462 🎉
BTW. I saw your work on [graphql-core-next](https://github.com/graphql-python/graphql-core-next/) and it's great.
Maybe you have some suggestions on what can we improve in `graphql-js`?

[2018-08-13 15:50] #1461 closed

[2018-08-13 19:13] serendipity1004 opened #1468 "Excessive number of requests. Has to be a bug"
My graphql setup file looks like below

[code]
I have dataloader properly configured and working. However, the request was still taking too long to load mere 14 posts with simple texts so I tried logging the entry of the request and I get below

[code]

I get slightly over 30 request for a single request that I try to achieve. I thought it was the schema nesting problem; however, even after I have

[2018-08-13 19:37] IvanGoncharov commented on #1468
@serendipity1004 From your code sample it looks like you are using Apollo Server,
so please report it to the appropriate repo:
https://github.com/apollographql/apollo-server

If you still think your problem caused by `graphql-js` please reproduce your problem using [graphql](https://github.com/graphql/graphql-js/blob/master/src/graphql.js#L65) function and open a new issue.

[2018-08-13 19:37] #1468 closed

[2018-08-13 20:36] shriharidani opened #1469 "GraphQL issue with custom type"
Hi I am learning to use graphql and was facing an issue in mutation I am getting this error:
**Error: Mutation.signup field type must be Output Type but got: [object Object].**
whenever I am defining mutation like this.

user_type.js
[code]
mutation.js
[code]
and if I copy paste the code of user_type.js to mutation.js it is working fine. I am not able to understand why it is behaving like this.

T

[2018-08-13 20:54] IvanGoncharov commented on #1469
@shriharidani Please use StackOverflow for this type of questions.

Probably should be `module.exports`.

[2018-08-13 20:54] #1469 closed

[2018-08-15 04:46] Hendrixer commented on #1389
@IvanGoncharov not sure what other validations you have in mind. But validating input types on Directive args would be nice. Down to help with this if needed. Thanks for the hard work. 💯

[2018-08-16 12:02] mrdulin commented on #995
@IvanGoncharov thanks. Does this way lead `N+1` problem?

[2018-08-16 12:34] IvanGoncharov commented on #995
@mrdulin This repo issue reserved for reporting bugs and asking for features.
https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLATE.md#questions-regarding-how-to-use-graphql

[2018-08-16 12:34] #995 closed

[2018-08-17 16:30] psirenny commented on #1227
I just want to point out to others who run into this error that the fix only applies when `NODE_ENV=production`. If you are mangling your code in other environments (such as staging) then it will still fail.

[2018-08-18 14:08] #1086 closed

[2018-08-19 19:28] vishrantgupta opened #1474 "GraphQL returning empty response"
I am getting empty response from GraphQL server when connecting it with REST endpoint, however, I confirmed that I am getting response from REST endpoint. I have provided detailed explanation in SO.

https://stackoverflow.com/questions/51913873/graphql-returning-empty-response/51920269

[2018-08-19 20:17] IvanGoncharov commented on #1474
https://github.com/graphql/graphql-js/blob/master/.github/ISSUE_TEMPLATE.md

[2018-08-19 20:17] #1474 closed

[2018-08-21 15:11] acomito commented on #297
I have this use case. Would love to have one resolver that is flexible with params, then I can define one subfiled on a type, but alias it using params. Like etsy maybe could do a products resolver on a user like

[code]

[2018-08-22 11:47] Webman2000 opened #1475 "Create custom Root Type"
Hi I wonder if it is possible to create custom Root Type in GraphQL as following with the "Auth" Root type : ​

​

module.exports = new GraphQLSchema({
    query : new GraphQLObjectType({
    name: "Query",
    fields: queries
     }),
    mutation: new GraphQLObjectType({
     name: "Mutation",
    fields: mutations }),
    auth: new GraphQLObjectType({
     name: "Auth",
    fields: auth })
 });

[2018-08-24 04:33] craigsmitham opened #1478 "AST Printer vs Schema Printer?"
The schema printer renders description block strings differently than the AST printer renders block string descriptions. I imagine there are a few other differences between the printers as well.

I'm implementing a GraphQL server based on GraphQL JS. For printing the schema, I first convert the schema to an AST, then re-use the AST printer. This means I have to modify some of the test cases becaus

[2018-08-24 08:19] IvanGoncharov commented on #1478
@craigsmitham Can you please give concrete examples of such difference?

[2018-08-24 10:45] Pokute opened #1479 ""one instance of graphql" error when using esm package."
When using `esm` package (https://github.com/standard-things/esm) even most simple package.json configurations (only dependancies are `esm` and `graphql-yoga`) results in the `Error: Cannot use GraphQLSchema "[object Object]" from another module or realm.` error when using imports.

`node -r esm testWithImport.js` will fail while `node testWithRequire.js` and `node -r esm testWithRequire.js` will

[2018-08-24 12:40] IvanGoncharov commented on #1479
@Pokute Can you please setup sample repo to reproduce this issue?

[2018-08-24 12:42] IvanGoncharov commented on #1479
@Pokute Can you also run `npm ls graphql` and post the output here?

[2018-08-24 14:16] craigsmitham commented on #1478
@IvanGoncharov specifically, [`printBlockString`](https://github.com/graphql/graphql-js/blob/f0f791bc72a8c94bdf695c7667caf7341034118e/src/language/printer.js#L270) (AST printer), has different behavior than [`printDescription`](https://github.com/graphql/graphql-js/blob/f0f791bc72a8c94bdf695c7667caf7341034118e/src/utilities/schemaPrinter.js#L324).

I discovered this by implementing the `buildASTSc

[2018-08-24 15:27] craigsmitham commented on #1478
@IvanGoncharov I don't think there would be any code size increase, as printer.js already supports printing SDL. So, it would be a net decrease. With regard to performance, if printer.js supports SDL, the KISS *and* DRY approach would be to use it for printing. Even if it did cause a slowdown in performance, wouldn't the KISS and DRY gains be worth it? I don't think schema printing is on the criti

[2018-08-24 15:33] IvanGoncharov commented on #1478
`printer.js` supports printing AST nodes to SDL but you need to generate those AST nodes so you need to write code that creates AST from `GraphQL*` classes.

[2018-08-24 15:42] craigsmitham commented on #1478
@IvanGoncharov good point, forgot that. In my case I've found that code to be pretty trivial and I think having the schema -> AST capability seems reasonable so I've wondered why it wasn't already in GraphQL JS. My guess is that since SDL only became part of the spec recently, approaches to dealing with SDL were bifurcated early on but there is a lot of opportunity to consolidate and re-use existi

[2018-08-24 16:49] IvanGoncharov commented on #1478
@craigsmitham I took a closer look at `printSchema` implementation and it looks like you are right it's pretty easy to generate AST since it's structure is very similar to `GraphQL*` classes. We will still have a significant memory overhead but I agree that it's not a very critical path.
I think I found a real reason why it wasn't done previously:
https://github.com/graphql/graphql-js/blob/f0f791b

[2018-08-24 18:46] craigsmitham commented on #1478
@IvanGoncharov ah, that makes sense. I wasn't planning on implementing support for legacy features like comments as descriptions, so that's why that case didn't occur to me. OK, so I'm more confidant now in using the AST for printing now that I know that one of the reasons the schemaPrinter is needed is for legacy features, but is less likely to be needed post `16.0.0`.

Any thoughts on validation

[2018-08-24 19:42] IvanGoncharov commented on #1478
@craigsmitham You can split validation rules into a few different groups:
1. SDL specific. For example:
[code]
It's not affecting `GraphQLObjectType` since you provide fields as a map:
[code]
Another such example is that `GraphQLSchema` doesn't allow duplicating types:
https://github.com/graphql/graphql-js/blob/f0f791bc72a8c94bdf695c7667caf7341034118e/src/type/schema.js#L281-L282

Same goes for va

[2018-08-24 22:29] craigsmitham commented on #1478
@IvanGoncharov this all kind of makes sense assuming you don't have a schema -> AST function. If you did, your final example, you would simply construct the SDL AST from the final schema (or at whatever step in the process you need), and validate it on the appropriate SDL rules.

It seems the current approach favors using the schema validator unless AST validation is necessary. What I'm saying is

[2018-08-25 20:39] mjmahone commented on #1478
@craigsmitham I've had this same inkling: if you are operating with an AST schema and AST executables, then it would be nice to be able to do all validation without building up a `GraphQLSchema` class.

It's certainly not necessary, but might be a nice feature addition. Personally I would prefer us doing all validation on pure AST, but we'd probably want to improve our internal validation contexts

[2018-08-25 21:15] DmitryEfimenko opened #1480 "ExecutionResult type should have a generic type for its data property"
Today when you write a `mutation`, even if you provide generic types for it, the resulting object does not have `data` object strongly typed. Please see example:
[code]
In the example above `res.data` will be of type `any` instead of expected `CreateTodoMutation`.
I can submit a PR fixing the issue if nobody has objections.

[2018-08-25 21:39] DmitryEfimenko commented on #1480
Ahh, after a quick code poking, I realized it's not written in TypeScript and that's not where type definitions are coming from. They are coming from [DefinitelyTyped](https://github.com/DefinitelyTyped) and actually, latest version already [has this fixed](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/graphql/execution/execute.d.ts).

Closing

[2018-08-25 21:39] #1480 closed

[2018-08-26 13:43] IvanGoncharov opened #1484 "Enable Flow in test files"
Currently, tests are covering only runtime behavior and not testing Flow types.
So it's very easy to break Flow types for public APIs and have it to pass `yarn t`, e.g. https://github.com/graphql/graphql-js/pull/1483#discussion_r212811061

[2018-08-27 20:32] moonray commented on #1272
This "fix" proposed by jatsrt breaks a lot of things with, for example, antd library

[2018-08-28 07:28] Pokute commented on #1479
Repo for reproducing: https://github.com/Pokute/graphql-esm-bug

[2018-08-28 16:09] derek-miller opened #1488 "A union type cannot satisfy an interface even if each child type does"
Below is a simplified example of my schema that is failing to validate:
[code]

With error message:

[code]

It appears that the union type does not properly carry through that it implements the `Node` interface even though all its child types do. Is this expected behavior or an issue with the validator?

[2018-08-28 19:53] jdalton commented on #1479
This happens if you were to add a new npm script called
[code]
and a test file `serverWithImport.mjs`:
[code]
too.

The issue is that `graphql-yoga` is CJS _(and loads the CJS entry of `graphql`)_ but you're loading the ESM version of `graphql`.

Because `graphgl` is running two entry points they create 2 separate instances (a limitation of their current dual approach). The way around it is for `g

[2018-08-28 20:56] IvanGoncharov commented on #1479
@jdalton Thanks for detail response. I have a few questions about the proposed solution:

Is it something like this?
`index.mjs`
[code]

If so, it makes tree shaking impossible, right?
This library is pretty big and it's released as a single package so tree shaking is the only option to make it usable on the frontend.
So we can't make any changes that will break tree shaking support in Webpack or

[2018-08-28 21:15] jdalton commented on #1479
@IvanGoncharov

No. That wouldn't work in `.mjs` anyways since `require` doesn't exist. The idea is that the `GraphQLObjectType` is defined in CJS and then used by the ESM build as well.
[code]
The other option is to drop `instanceof` checks and move to a check for the existence of say a non-enumerable symbol property.

[2018-08-28 22:48] jdalton commented on #1479
core-js has a [shim for it](https://github.com/zloirock/core-js#ecmascript-symbol). You could also use any-other property to detect the instance `object.__COULD_BE_THIS_KIND_OF_PROPERTY__`.

This is not an `esm` issue as mentioned this presents itself with `--experimental-modules` too. The issue is that `graphql` has 2 entry points for the package.

FWIW I'm a Node core member and a member of the

[2018-08-28 22:58] craigsmitham commented on #1478
@mjmahone the approach I'm taking right now is to implement schema validation in the exact same pattern as the AST SDL validators. So far everything seems to be going well from a functional perspective, although it will take some time to see what the performance implications and remedies are. @mjmahone and @IvanGoncharov thank you for your comments and feedback.

[2018-08-28 22:58] #1478 closed

[2018-08-29 01:39] mjmahone commented on #1389
@IvanGoncharov I think with #1463, this release is ready for at least a public RC? If so, I can put up a PR to bump the version tomorrow. I should also be able to do the upgrade across Relay's packages as well, although we might wait to actually bump the Relay version (@kassens would know that process better than me).

[2018-08-29 12:09] IvanGoncharov commented on #1389
@Hendrixer You absolutely right, we still don't validate directives fully since this rule doesn't support SDL:
https://github.com/graphql/graphql-js/blob/master/src/validation/rules/ValuesOfCorrectType.js

But I think it less important and we could add this support later minor release.
Since breaking change is not about fully validating directives but about forcing developers to actually define th

[2018-08-29 17:03] eoneal89 commented on #448
We are using Apollo GraphQL to stitch several schemas into a central one, so that we separate applicable logic into micro services that feed a larger ecosystem.  One micro service that creates a schema might only have a mutation, but a query in a different micro service is the one that aggregates that data in a different way. Therefore, it would be very helpful to have the ability to have a mutati

[2018-08-29 23:05] mjmahone commented on #1383
I'm onboard with cutting the 14.0.0 release. I don't think there's anything we're waiting for that can't be pushed to a 14.1 release, but I want to make sure we have consensus with @IvanGoncharov too.

[2018-08-30 00:05] IvanGoncharov commented on #1383
@leebyron As for #1389 we currently validating that:
* directive is known
* it used on correct location
* all directive args are known
* all required arguments specified
* no directive duplication on the same location (but without checking `extend`s)
So we not checking only:
https://github.com/graphql/graphql-js/blob/master/src/validation/rules/ValuesOfCorrectType.js

My idea was to force develope

[2018-08-30 00:14] mjmahone commented on #1383
Given, as you've pointed out, that 90% of our code can't handle it as-is, I don't think it would be a real breaking change either way to do one of:
- drop support entirely (because no one could use it correctly anyways)
- do the hard work to actually support it

I'm really happy with the state things are in right now, but I will try to do the release tomorrow morning around 13:00 UTC to give time

[2018-08-30 00:28] IvanGoncharov commented on #1383
@mjmahone Sound good 👍
Since it's UTC+3 for me I will have time to go over all open issues one more time to see that we didn't miss anything.
Do you need any help with release notes?
I can create a list of commits and group them into by bug/feature.
We also need to write short instruction about two ways how you can specifying directives for your SDL.

[2018-08-30 12:05] yellowiscool opened #1495 "Parser/Lexer error with an empty query type"
Hei,

I have a very simple schema with only mutations. The server library I use requires a query type to be defined, so I defined an empty Query type.

This is my very simple schema:
[code]

And the error when I try to parse it:

[code]

GraphQL Version : 0.13.2

[2018-08-30 12:07] IvanGoncharov commented on #134
I think we stabilize our Type Definition API enough over the last 3 years.
So if someone wants to report any issue with it should be reported separately.

As for having separate `Types` I think schema definition methods are shifting towards SDL and `GraphQL*` classes as the internal mechanism and for advanced scenarios.

[2018-08-30 12:07] #134 closed

[2018-08-30 12:09] yellowiscool commented on #1495
Probably related to #937

[2018-08-30 12:10] IvanGoncharov commented on #393
Already implemented so you can specify types for both source and args:
https://github.com/graphql/graphql-js/blob/c2dfccf5a8777a5b6db45eeade63ecf08c86ab13/src/type/definition.js#L781-L785

[2018-08-30 12:10] #393 closed

[2018-08-30 12:17] IvanGoncharov commented on #1495
@yellowiscool It's expected behaviour.
You can pass parsing stage by omitting curly brackets `type Query` but you GraphQL still errors if you try to execute queries against such schema.

As Lee pointed our #937 is fixed: https://github.com/graphql/graphql-js/issues/937#issuecomment-349887736

The fixing problem that you describe requires changes to GraphQL Specification and actively disscussed her

[2018-08-30 12:17] #1495 closed

[2018-08-30 12:26] IvanGoncharov commented on #303
As Lee pointed out it required changes to the Specification and should be discussed in facebook/graphql#235

[2018-08-30 12:26] #303 closed

[2018-08-30 12:50] IvanGoncharov commented on #688
Many great suggestions here.
But I don't see any actionable items for `graphql-js` to implement so I'm closing this issue.

[2018-08-30 12:50] #688 closed

[2018-08-30 13:00] IvanGoncharov commented on #1293
Lee PR was merged but AFAIK not released yet so I don't see anything else we can do in `graphql-js` to help with this issue.

[2018-08-30 13:00] #1293 closed

[2018-08-30 13:02] IvanGoncharov commented on #490
I don't see any actionable item for `graphql-js` in this issue \+ discussion is stale so I'm closing it.

[2018-08-30 13:02] #490 closed

[2018-08-30 13:06] IvanGoncharov commented on #1014
We have deep documentation depth all around `graphql-js` and it's documented in #1368 so I will close this as a duplicate

[2018-08-30 13:06] #1014 closed

[2018-08-30 14:18] IvanGoncharov commented on #1154
I agree with Lee that scalar type should be independent of field arguments.
Plus it very easy to solve this problem with a very simple Higher-order function:
[code]

I don't see any PR or activity in the last 6 month so I close this issue but feel free to submit PR as Lee suggested.

[2018-08-30 14:18] #1154 closed

[2018-08-30 14:28] IvanGoncharov commented on #207
This discussion is very important not only for `graphql-js` but for the entire GraphQL ecosystem so it should be discussed in the context of GraphQL specification.
Please discuss it in: https://github.com/facebook/graphql/issues/488

[2018-08-30 14:28] #207 closed

[2018-08-30 14:39] #709 closed

[2018-08-30 14:40] IvanGoncharov commented on #1005
We are really close to this release and all actual discussion happening in #1383

[2018-08-30 14:40] #1005 closed

[2018-08-30 14:52] IvanGoncharov commented on #338
I don't see any actionable items for `graphql-js` in this issue \+ it's stale for the last couple of years so I'm closing it.

@WickyNilliams Thanks for suggestions. You can return names from `resolveType` as for providing interface names to `GraphQLObjectType` it will make constructed object to be dependent on `GraphQLSchema` (to convert the name into type) and will break a lot of functionality i

[2018-08-30 14:52] #338 closed

[2018-08-30 14:54] mjmahone commented on #1383
Alright, I'll do the release in ~10 minutes. @IvanGoncharov I know you've put up some last minute PRs: anything worth waiting for?

[2018-08-30 15:11] IvanGoncharov commented on #1383
@mjmahone No, I think we are good to go 🏁🏎
I think we could disscuss `undefined` as enum values beetween RC and `14.0.0` release.

Do you need any help with release notes?

[2018-08-30 15:13] mjmahone commented on #1383
@IvanGoncharov plan is to do a full 14.0.0 release, not an RC. This release has been baking for long enough, let's just rip off the band-aid.

I think I should be OK aggregating my previous RC release notes and the changes since then.

[2018-08-30 15:41] IvanGoncharov commented on #1383
@mjmahone Changes in directive validation can potentially break Relay or Facebook tools. Based on previous experience I'm worried that it will provoke reverts.
Can you please ensure that it doesn't break anything at Facebook.
Maybe it will make sense to create intermediate RC for a couple of days and agree that we don't merge anything in `master`.

[2018-08-30 15:45] mjmahone commented on #1383
I'm responsible for merging it into Facebook's tools, so I'll make sure. Using an intermediate RC doesn't actually help though: we can't do the Relay upgrade to an RC, though I can test a bit with an RC and find some potential issues (can't merge it into trunk as long as it's an RC, though).

If we need to do a quick, follow-on patch release, we will, but I don't think Relay currently has much pot

[2018-08-30 15:52] IvanGoncharov commented on #1383
@mjmahone In that case, I'm OK with the release.

[2018-08-30 15:57] mjmahone commented on #1383
Release: https://github.com/graphql/graphql-js/releases/tag/v14.0.0

[2018-08-30 16:26] IvanGoncharov commented on #1383
@leebyron Thanks Lee

@mjmahone It also missing #1284 and migration strategy:
https://github.com/graphql/graphql-js/pull/1284#issuecomment-377811537

[2018-08-30 19:08] mjmahone commented on #1383
That was one of the easiest major releases to upgrade in my living memory: there were flow errors anywhere there were problems, and it was immediately clear what the issue actually was. Some of the ease may be due to having fixed a lot of super-clowniness earlier when I was testing the "rc" release.

As a summary of things we ran into internally at FB with the upgrade:
- A few queries were of the

[2018-08-30 20:06] leebyron commented on #1383
That’s great to hear! For your last point, I’d think AST nodes would be the easiest to type implicitly since they have the “kind” field, making them a disjoint union. No big deal to add an explicit type, but that seems like a warning light to me that something else is wrong

[2018-08-30 21:15] IvanGoncharov commented on #1383
@mjmahone I agree with Lee it either problem with our typings or Flow.
Is it part of open source project? If not can you please split it out into separate example so we can together figure out what's the problem?

[2018-08-30 21:58] mjmahone commented on #1383
I'm pretty sure it's sketchy code we're doing internally that no one should copy. It was really easy to fix.

It's something like:
[code]

Flow can't figure out how to disambiguate this. The error is:
[code]

However, it's trivially solved by doing:
[code]

[2018-08-30 22:32] IvanGoncharov commented on #1383
@mjmahone Thanks for sharing
Agree, it's probably too much for a flow since it's hard to figure out exact type after spread and also `definitions` accept the long list of possible types.

[2018-08-30 22:37] IvanGoncharov commented on #1383
Also `OperationDefinitionNode` is not exact type and it probably makes it harder to figure out the type of spread:
https://github.com/graphql/graphql-js/blob/6eec989f89a81bf81b8f0cdb6ceebf55d6edd93a/src/language/ast.js#L210-L218

[2018-08-31 15:37] someoneinatree commented on #1368
Would happily contribute to improve this, is my current sticking point coming back to gql after a long break, but not even sure I know how to do it "right". Does anyone know where the relevant info currently is, and what format it *should* be in?

[2018-08-31 17:27] leebyron commented on #1368
For API-level documentation, I would love to see an automated tool which extracts flow types and comments to produce good documentation. The biggest issue with API docs is keeping them in sync with code. Having the docs live in the code solves this problem and makes the code easier to read. Any contributors who want to take this on will have my support and respect.

A slightly less ambitious but s

[2018-09-03 18:50] IvanGoncharov commented on #1168
Can't reproduce on master with Flow `0.79` looks like it was fixed by Flow update.

[2018-09-03 18:50] #1168 closed

[2018-09-03 19:05] IvanGoncharov commented on #486
Problem is that "types" part also use some of "runtime" parts so instead of solving issues it will likely introduce the new ones.
Moreover "runtime" part can't work with a different version of "runtime" part.

IMHO, the multipackage setup works for projects with a loose coupling like core and "plugins", e.g. Babel.

I'm closing this issue since we released a first stable version(`14.0.0`) and don'

[2018-09-03 19:05] #486 closed

[2018-09-04 05:52] chaitanya11 commented on #1004
Does anyone has anything on this issue ?

[2018-09-06 19:59] IvanGoncharov opened #1512 "14.0.1 is missing on NPM"
Latest version on NPM:
https://www.npmjs.com/package/graphql
![image](https://user-images.githubusercontent.com/8336157/45181422-188a8500-b227-11e8-9d87-bb59ea241c34.png)

This happened because of this:
https://travis-ci.org/graphql/graphql-js/jobs/424976995#L491-L493
[code]

Details: https://blog.npmjs.org/post/175824896885/incident-report-npm-inc-operations-incident-of

[2018-09-06 20:02] IvanGoncharov commented on #1512
@leebyron Can you please update your key here:
https://github.com/graphql/graphql-js/blob/d1c4e7d0c86bcc921c778ad692e644c828d017bd/.travis.yml#L40-L44

[2018-09-06 20:07] IvanGoncharov commented on #1512
@mjmahone @leebyron It makes sense to either manually publish `14.0.1` to NPM.
Or to publish `14.0.2` since we didn't add any major or minor change since `14.0.0`.
But the first step would be to update NPM key.

[2018-09-06 20:12] IvanGoncharov commented on #1512
@leebyron Can you please also update a few other keys in `graphql/*` repos:
* `experess-graphql` https://github.com/graphql/express-graphql/blob/750cfd5e803ce5aa4bd4be69d1a76472f4d439de/.travis.yml#L40-L43
* `graphiql` https://github.com/graphql/graphiql/blob/b777e07ccdfb7f3bbbba7b9d3be8f30674cc4498/.travis.yml#L11-L15
* `codemirror-graphql` https://github.com/graphql/codemirror-graphql/blob/8eb39

[2018-09-06 21:00] mjmahone commented on #1512
I don't have the ability to update the API key, but I can try to publish `14.0.1`. Give me a few minutes.

[2018-09-06 21:13] mjmahone commented on #1512
:/ I made the mistake and didn't check out the correct commit, so `14.0.1` was published off the latest commit rather than the tagged commit.

So I published `14.0.2` just now on a correct, tagged commit. Sorry about that.

[2018-09-06 21:23] kylezinter opened #1513 "String coercion broken for Float Scalar type in 14.0.0"
I was noticing in the release notes that there is stricter coercion introduced with this release per the spec. But I believe there might be an issue with the Float scalar.

Per the spec.

To my understanding, that is saying the Float scalar should handle a string that is a valid number such as "123". I'm receiving errors after upgrading when entering a value like that now. Is my understanding inco

[2018-09-06 21:25] #1513 closed, assigned to nobody

[2018-09-06 21:29] #1512 closed

[2018-09-06 21:30] leebyron commented on #1512
I unpublished 14.0.1 from the registry since it's on the wrong commit

[2018-09-06 21:44] IvanGoncharov commented on #1512
@leebyron Can you please update keys, especially for `express-graphql` (I was planning to make a release on the next week).

[2018-09-06 21:47] IvanGoncharov commented on #1513
@kylezinter No problem. Thanks for the investigation.

[2018-09-06 22:48] leebyron commented on #1512
Yes. I’m looking into those today
On Thu, Sep 6, 2018 at 2:44 PM Ivan Goncharov <notifications@github.com>
wrote:

[2018-09-06 23:10] IvanGoncharov commented on #1512
@leebyron Thanks a lot 👍

[2018-09-07 19:18] dereklavigne18 opened #1516 "[Feature Request] Resolver Middleware"
I'm interested to hear how others feel about the idea of using middleware installed on resolver functions to allow all resolvers in a schema to perform common functionality.

As my schema grows I've found more and more of a need to add some of the same logic to all my resolvers. It would be nice if we could add some middleware that would be executed on resolvers in the schema when we go to execute

[2018-09-07 20:43] IvanGoncharov commented on #1516
@dereklavigne18 That sounds great 👍
I think it has a potential to address a bunch of feature requests like #284, #662, etc.

One important note is that we should be extremely careful not to add a performance penalty, especially for big queries that resolved asynchronously. See this discussion in #723.

[2018-09-10 10:11] alexmcmillan commented on #917
Is this likely why my example [here](https://github.com/alexmcmillan/graphql-mongodb-query-fail-demo) fails?  This seems to work find with `0.13.2`.

[2018-09-10 13:06] simPod opened #1517 "Parser/Lexer error with an empty interface"
Related to https://github.com/graphql/graphql-js/issues/1495

Is having empty interface in schema allowed?

[code]

I was wondering when [empty type](https://github.com/graphql/graphql-js/blob/master/src/language/__tests__/schema-kitchen-sink.graphql#L37) is possible, empty interface could be too. Thanks!

[2018-09-10 13:17] IvanGoncharov commented on #917
@alexmcmillan Thanks for the repo with reproduction 👍
But this is a totally unrelated issue since it was caused by #1382
Can you please open a separate issue?

[2018-09-10 13:41] IvanGoncharov commented on #1517
@simPod It's possible in SDL so you can write:
[code]

But schema that is used to execute requests can't have empty interfaces:
http://facebook.github.io/graphql/June2018/#sec-Interfaces

[2018-09-10 13:41] #1517 closed

[2018-09-10 20:25] alexmcmillan opened #1518 "Unable to query for MongoDB ObjectIDs"
I recently updated from `0.13.2` to `14.0.2` which includes breaking changes.

This introduced errors with existing queries which include MongoDB Object Ids (probably from #1382):

Repository with complete, minimal repeatable example [here](https://github.com/alexmcmillan/graphql-mongodb-query-fail-demo):

[code]

[2018-09-10 20:36] alexmcmillan commented on #1518
Background:  I'm a learner.  Following [this tutorial](https://www.compose.com/articles/using-graphql-with-mongodb/) I encountered [this problem](https://stackoverflow.com/questions/52243415/what-is-the-correct-type-to-use-for-an-objectid-field-across-mongoose-and-graphq/52243907?noredirect=1) which was _very_ confusing trying to debug.  It would be nice if there was perhaps a clearer error messag

[2018-09-10 23:03] dallonf opened #1519 "Feature request: flag for old, deprecated variable scalar coercion behavior"
To start, I think the changes made in #1382 are good and definitely the direction GraphQL should be going!

However, for my team, this is a _huge_ breaking change that will prevent us from updating to 14.x or later for the forseeable future. I suspect there are many client applications depending on our GraphQL server that send incorrect variable types, expecting them to be coerced. Right now I'm j

[2018-09-11 22:50] arackaf commented on #1479
Just removing the .mjs entry point might be a good interim solution. Is anyone even using .mjs in production? Plenty of people are using esm, and this is causing hard-to-track bugs.

[2018-09-12 11:44] IvanGoncharov commented on #1519
@dallonf Sorry for the trouble this change caused.

The difference here is that `GraphQLInt`, `GraphQLFloat` and others are singletons so we can't pass a flag to them or wrap them.

It would be great if someone will figure out some way to implement it in a clean way?
@leebyron If you have time, can you please comment on this issue?

[2018-09-12 20:31] amian84 opened #1521 "Description when print a AST graphql object"
Hi, currently I've parsing a graphQL schema with parse function to AST object. Later I split the schema into different array of object to store into different files, one per type (interface, object type, enums...).

When I print the partial AST object to string again, this function avoid the descriptions attribute.. Then I lost all schema description. There are any solution for that or maybe this

[2018-09-12 21:02] IvanGoncharov commented on #1521
@amian84 You are using legacy SDL syntax. You should use standard syntax for descriptions:
[code]
In that case, description would be preserved in `print` output.

[2018-09-12 21:02] #1521 closed

[2018-09-13 09:06] amian84 commented on #1521
Hi @IvanGoncharov , i'm trying with the standard syntax as you commented me. But the parser fails when trying parse the description

const graphqllang= require('graphql/language');
 var test= graphqllang.parse(`type Test{
        """Description"""
        a:String
    }`);
/home/damian/Projects/graphql-mocker/node_modules/graphql/language/parser.js:972
  throw (0, _error.syntaxError)(lexer.source,

[2018-09-13 10:26] IvanGoncharov commented on #1521
@amian84 It looks like you are using `graphql-js` pre `0.12.0`.
Please run `npm ls graphql` and if it so update it.

[2018-09-13 13:28] IvanGoncharov commented on #1521
@amian84 It's tracked here: https://github.com/APIs-guru/graphql-faker/issues/41

[2018-09-14 09:21] rybon opened #1523 "Feature request: strip whitespace from GraphQL queries / fragments / mutations / subscriptions"
Currently, when issuing requests to a GraphQL API, the GraphQL string describing the query contains a lot of whitespace. While this makes readability in development mode easier, it is wasteful in production.

Would it be possible to add a function to this library that strips this whitespace away? Here's some example code that does this:

[code]

This code turns a GraphQL query such as this one:

[

[2018-09-14 09:26] intellix commented on #1523
We're doing something like this and it transformed a ~800 query into ~400 bytes

[2018-09-14 11:56] sibelius commented on #574
typing for GraphQLScalarType https://github.com/graphql/graphql-js/pull/1522

[2018-09-14 15:47] oxyno-zeta commented on #113
Hello,
Any news about this feature ?
Thanks !

[2018-09-14 16:41] vlad1777d opened #1524 "After upgrading package got "Expected ... to be a GraphQL schema""
Hello.

After upgrading package from `"graphql": "^0.13.2"` to `"graphql": "^14.0.2",`,
When I'm trying to get any query, I receive error:
`Expected [object GraphQLSchema] to be a GraphQL schema.`

<img width="1440" alt="screen shot 2018-09-14 at 7 37 50 pm" src="https://user-images.githubusercontent.com/12682937/45563339-b8fb2d80-b855-11e8-8462-f7a2cba93802.png">

My package.json:
[package.txt](h

[2018-09-14 17:39] IvanGoncharov commented on #1524
@vlad1777d Can you please run `npm ls graphql` and post the output here?
You should have only one instance of this package.

[2018-09-14 17:48] IvanGoncharov commented on #1523
@mjmahone Minification is different from compression. If you minify source before compression the end result would be smaller than just compression.
For example, for JS we do both using uglify or similar tool and then compress it with gzip.

Plus we have very similar feature request here: #685
That said I think we shouldn't rely on RegExp and have a proper implementation using Lexer class.

[2018-09-14 17:52] rybon commented on #1523
It doesn’t do any sending indeed, but it is used by the Relay compiler if I’m not mistaken to extract tagged template literals from the code at compile time.
Maybe I am asking this question in the wrong repository though. If so, where should I ask it instead?

How would one gzip requests on the client? I presume that is not as straightforward as gzipping responses on the server.

[2018-09-14 18:05] vlad1777d commented on #1524
I have such output:
[code]

[2018-09-14 19:09] IvanGoncharov commented on #1524
@vlad1777d You have conflicting dependencies `14.0.2` and `0.13.2`.
You can't use both at the same time so you need to revert back to `0.13.2` and wait until all your dependencies will support `14.0.2`.

[2018-09-14 19:09] #1524 closed

[2018-09-14 19:16] IvanGoncharov commented on #1523
@rybon Personally, I think it's the right place to implement such functionality since minification is tightly coupled with language grammar so it would make sense to keep it together with lexer and parser.

Plus it would be super simple to implement it on top of Lexer and actual implementation should be pretty small.

[2018-09-14 19:18] vlad1777d commented on #1524
@IvanGoncharov , thank you very much.

[2018-09-17 12:02] nodkz commented on #1343
@IvanGoncharov @taion maybe you take care about this feature in the upcoming WG meetup 2018-09-20?

My English does not alow to me to do it myself 😊

[2018-09-17 13:31] taion commented on #1343
The cost analysis case example is interesting, because in the context of using the programmatic API, I think it's suboptimal to set up costing via directives. Instead of the above, a better way to express the same would be to add a `getCost(childCost, variables)` callback to the field, then do something like:

[code]

[2018-09-18 08:11] tar1990 commented on #1523
💯

[2018-09-18 08:12] tar1990 commented on #1523
👍

[2018-09-18 09:54] IvanGoncharov commented on #1512
@leebyron Can you please update keys in `graphql/*` repos:
* `experess-graphql` https://github.com/graphql/express-graphql/blob/750cfd5e803ce5aa4bd4be69d1a76472f4d439de/.travis.yml#L40-L43
* `graphiql` https://github.com/graphql/graphiql/blob/b777e07ccdfb7f3bbbba7b9d3be8f30674cc4498/.travis.yml#L11-L15
* `codemirror-graphql` https://github.com/graphql/codemirror-graphql/blob/8eb39e283515db49044099

[2018-09-18 15:35] nodkz commented on #1343
With current implementation of `resolve` method applying several middlewares looks aweful:
[code]

[2018-09-18 18:15] 19majkel94 commented on #1343
@leebyron For me it looks like they read the directives from AST directly:
https://github.com/apollographql/apollo-server/blob/ae9da10e625cf283568ba6d29cea8c3e69a7a03f/packages/apollo-cache-control/src/index.ts

So there's no way to pass them as an `GraphQLObjectType` constructor argument option, like a `cacheControl` field or something like that. [`graphql-query-complexity`](https://github.com/sl

[2018-09-18 23:16] mattkrick commented on #1343
Apollo sticks it on the` astNode` directly, whereas the pattern in @nodkz's example puts it on the `field`.

The difference in implementation is pretty trivial, but enough to break it. For example, here's what a `@rateLimiter` directive looks like using the IDL:
https://github.com/withspectrum/spectrum/pull/2874/files#diff-2a03f207138e321cfd01f51e50800816R82

And here's how the same thing looks us

[2018-09-20 13:52] JCMais opened #1527 "RFC: Extra property on field definition to pass extra metadata"
I'm currently adding extra properties to some graphql object field definitions, like the following:

[code]

And then using them later on via the `info` argument inside some middlewares (using [`graphql-middleware`](https://github.com/prisma/graphql-middleware/)):
[code]

For more details, see the following medium post: [graphql mutation arguments validation using yup](https://itnext.io/graphql-mu

[2018-09-20 15:40] JCMais commented on #1527
+1 for `extensions`

Ideally libraries using this would allow to customize the key name, to reduce possibility of key collisions.

[2018-09-20 21:09] langpavel commented on #922
For usecase where somebody needs multiple files merge up to one AST I write this helper: https://gist.github.com/langpavel/9653b99afe993167fc4bacafbfcc7909
Feel free to use it as an example of implementation which merge `extend` types into defined ones. Of course *WITHOUT ANY WARRANTY* :-)

[2018-09-21 14:51] kamranayub opened #1530 "Fragments with aliases: Cannot return null for non-nullable fields"
# Reporting issues with GraphQL.js

Given the following schema:

[code]

And then issuing a query:

[code]

I am seeing a regression in 0.13.x+ (coming from 0.11.7) where `graphql` is throwing the following error:

    Cannot return null for non-nullable field Category.name.

If I remove the `abc` alias, it works. Aliases in the query selection set and on nullable fields appears to work.

[2018-09-21 14:56] kamranayub commented on #1530
I'm still investigating this but it looks like no field aliases work anymore--however, not sure if the `graphql` stack trace is misleading or it's actually Apollo Server or something more upstream.

[2018-09-21 22:36] sdgandhi opened #1531 "npm install graphql peer dependency issues"
Running `npm install --save apollo-server graphql` gave me the following peer dependency issues:

[code]

The resolved versions:

[code]

It seems as if the minor version of 14 got moved to a major version on graphql, thus not satisfying peer dependencies of the above packages.

[2018-09-23 07:30] rosendi commented on #1479
@jdalton thank you for v3.0.83!

[2018-09-23 11:28] IvanGoncharov commented on #1479
@jdalton Thanks for fixing it in ESM.

[2018-09-23 11:28] #1479 closed

[2018-09-23 16:14] jdalton commented on #1479
Just a heads up this doesn't fix `graphql` with Node's native `--experimental-modules`. Your problem still exists. Other projects like Create React App 2.0 are removing `.mjs` until issues, like these, can be worked out.

[2018-09-23 19:35] IvanGoncharov commented on #1530
@kamranayub I can't reproduce your issue on `0.13.2` using following script:
[code]

So it's probably issue somewhere in Apollo stack, so please report it there.

[2018-09-23 19:35] #1530 closed

[2018-09-24 01:00] MohammedNoh opened #1534 "Mohammed Nob"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](http://stackoverflow.com/questions/tagged/

[2018-09-24 07:08] #1534 closed

[2018-09-25 15:56] kamranayub commented on #1530
@IvanGoncharov Thanks, I reproduced it with Apollo playground.

[2018-09-26 18:31] Cito opened #1535 "Subscriptions do not work with asynchronous resolver function"
I noticed that the `subscribe` function does not work properly when it is used with an asynchronous field resolver function.

Also, there is no unit test for this case. This is what I have in mind (must be added to `subscribe-test.js`):

[code]

Is this an oversight? Or am I doing something stupid or against the spec? As far as I see the [ResolveFieldEventStream](https://facebook.github.io/graphql

[2018-09-26 19:18] Cito commented on #1535
See above. The test fails - `email` is `null` instead of `{subject: 'Hello'}`.

[2018-09-27 08:07] francoisromain commented on #205
@julienvincent Could you explain how you do that, please? (i asked a related question [here](https://stackoverflow.com/questions/52531894/how-to-throw-multiple-errors-with-express-graphql) )

[2018-09-27 09:44] julienvincent commented on #205
@francoisromain according to the referenced PR, looks like you can return an array of `ResolverError` now

[2018-09-27 09:48] francoisromain commented on #205
@julienvincent the referenced PR is in graphql-ruby
does it work the same in express-graphql?

[2018-09-27 10:59] bogdanned commented on #1516
+1 to @dereklavigne18. Custom error handling and authorization middlewares would save so much time.

[2018-09-28 18:15] felixfbecker opened #1536 "process.env.NODE_ENV reference causes error "require is not defined" when bundling with webpack (for GraphiQL)"
When bundling graphql-js with webpack, e.g. as dependency of graphiql, you get this error at runtime:

[code]

This is because `instanceOf.js` contains a reference to `process.env`: https://github.com/graphql/graphql-js/blob/dec24f9/src/jsutils/instanceOf.js#L19-L36

In the ESM build, which is used by webpack by following the `module` field in package.json, the file gets compiled to a `.mjs` file,

[2018-09-28 18:54] jgcmarins commented on #1536
I think you can solve that just adding more extensions to your webpack rules:

`test: /\.js?$/` -> `test: /\.(js|mjs)?$/`

[2018-09-28 18:55] felixfbecker commented on #1536
@jgcmarins to what rule?

[2018-09-28 19:57] jdalton commented on #1479
Related https://github.com/graphql/graphql-js/issues/1536.

[2018-09-28 20:27] felixfbecker commented on #1536
I understand that you mean my webpack config. But there are many rules defined in there (for loaders), and none of them seem related to providing `process.env`. I already include `.mjs` in the regex for my loader rules.

[2018-09-29 03:59] jdalton commented on #1479
@jaydenseric

It's not so bad when the alternative is non-working code. For `esm` the resolution order is configurable via `options.cjs.paths` _(defaults to `true`)_.

👋 Node core and Node Module WG member here. There is no set date for when `--experimental-modules` will be unflagged. There's also no guarantee that what has shipped now is what will be in the future. For example, there are several

[2018-09-29 22:15] JCMais commented on #1527
what can be done to move this forward?

[2018-09-30 05:06] TriStarGod commented on #599
Any update on this?

[2018-10-01 08:36] asishallab opened #1537 "Feature request: Support asynchronous iterators as return values from resolvers"
So far resolvers are expected to return an "`Iterable`" object (`Symbol.iterator`). But many I/O packages in Node.js work with asynchronous Promises, as does e.g. the popular [Sequelize relational database ORM](http://docs.sequelizejs.com/). Enabling asynchronous iterators would elegantly facilitate reading very large amounts of records, e.g. from a relational database, and return them without cau

[2018-10-01 08:52] asishallab commented on #1535
I might be mistaken, but is this Issue not somewhat similar to Issue #1537 ?

[2018-10-01 12:14] asishallab commented on #1537
@Cito thank you for your quick reply and insights. Indeed I am talking about resolvers that return one or more objects defined as types in the respective GraphQL schema. These resolvers could of course be both root resolvers or those resolving List fields. Your suggested solution to return arrays of Promises indeed works, but might be technically inefficient or even constate an anti-pattern. For a

[2018-10-01 13:31] Cito commented on #1535
@asishallab this is a different issue, it exists only in the context of a subscription.

[2018-10-01 13:55] Cito commented on #1537
@asishalla It's still not clear to me whether you're speaking about ordinary requests or subscriptions. Regarding the former, you can only send multiple values for list fields, and I believe it's the responsibility of the resolver function to collect batches as arrays. Then you have full control how these batches are generated. Regarding subscriptions, async iterators are already supported as retu

[2018-10-01 13:55] niwinz commented on #990
We are using this: https://gist.github.com/niwinz/dfdc9ba04002f3e3678a9e1f44e31caf,  Just use that type on fields where you want return anything json serializable.

[2018-10-02 01:24] DBL-Lee opened #1539 "Throwing error inside Subscription resolver"
/label question

I would like to check for some permission before user subscribe to an endpoint. An error should be thrown and the client should be able to catch the error.

The following is what I am trying:

[code]

But the error I receive on client side is `"Subscription field must return Async Iterable. Received: [object Object]"`

https://github.com/graphql/graphql-js/blob/master/src/subscrip

[2018-10-02 10:52] asishallab commented on #1537
@Cito thank you again for your patience and support.

First of all let me clarify, that I am only talking about ordinary requests and _not_ subscriptions. I apologize for the confusion.

Second I'd like to disclaim that I am still pretty new to GraphQL and hope not to have misunderstood the terminology. Probably a simplified example helps explaining what I would like to do.

In human language I ha

[2018-10-02 13:52] karlhorky commented on #743
@idibidiart Thanks, that was helpful! It turned out to be empty parentheses for me too!

[2018-10-02 13:57] sibelius commented on #1518
any changes this gets into 14.0.3?

[2018-10-02 15:39] Cito commented on #1537
@asishallab Thanks for the clarification. The crucial point is: Do you want to serve the list of all dogs or fleas of a dog in one go to the client, or also in multiple batches? If you want to serve everything at once, JavaScript will need to build and pass the large result JSON object anyway, even when you query the database with an iterator, which can cause the memory problems you want to avoid.

[2018-10-02 16:22] asishallab commented on #1537
@Cito Thank you very much for the clarification. It has been an eye opener, indeed.

So then all my efforts of reducing memory load on the server with any type of iterator are in vain, anyway.

I guess, what I'd really like to do is using an object-stream which - by GraphQL - is piped into a transform stream converting each object to JSON. However, I am unsure whether List fields would still rende

[2018-10-02 17:44] Cito commented on #1537
I think GraphQL with its nested and parallel resolve functions is simply not intended to be used as a streaming API, at least normal GraphQL queries are not meant to be used like that. But you could achieve something like this using a subscription. In your case you would subscribe to a stream of fleas, and then get your individual fleas or batches of fleas delivered one by one.

[2018-10-03 06:54] timqian commented on #500
Don't get the API design purpose too. If the `parseValue` and `parseLiteral` should return the same value, why exposing two functions? Isn't this should be handled in the library instead of letting the user write the same logic twice.

[2018-10-03 09:52] RadAcademy commented on #1518
Yes, I am still stuck using '^0.13.2' as the latest '^14.0.2' continues to give me these issues.

[2018-10-03 16:00] GlauberF commented on #1518
I would also like to know if it has been fixed for the ```^14.0.2```,
Why am I having to use the ```^0.13.2```

[2018-10-03 16:13] amir-s commented on #500
@timqian you can refer to my answer on [stackoverflow](http://stackoverflow.com/questions/41510880/whats-the-difference-between-parsevalue-and-parseliteral-in-graphqlscalartype/41513681#41513681).

The input for those two methods are different. One receives AST, the other one receives parsed javascript object (if you want to call it JSON).

[2018-10-03 16:13] IvanGoncharov commented on #1518
@RadAcademy @GlauberF We plan to include it into the next release.
However since instead of depending on `toString` we now using `toJSON` it can't be a patch release. So we are working on `14.1.0` that will include this and a few other features.
We will try to release RC ASAP.

[2018-10-03 16:55] IvanGoncharov opened #1543 "14.1.0"
I think we need to start preparing `14.1.0`.
Beyond #1520 it would be great to include all RFC we agree on at last WG.

@mjmahone What do you think?

[2018-10-04 06:00] asishallab commented on #1537
@Cito Thank you for your help on all this.

I guess we can close this Issue now. Just one more thing. Do you have a good documentation recommendation for GraphQL subscriptions? So far I can only find [this blog](https://graphql.org/blog/subscriptions-in-graphql-and-relay/). As mentioned before I'd like avoiding the usage of third party frameworks like Apollo and remain within the reference impleme

[2018-10-04 13:34] webmastervishal commented on #1043
My PostgreSQL column datatype is 'timestamptz'

This is my query where I am passing variables and datatype I am sending is Date.
But I know I am wrong, but what should I use as a datatype there, if I use the String then that is not working nor Date is working.

[code]

Help

[2018-10-05 08:09] IvanGoncharov commented on #1043
@webmastervishal From your query I'm assuming you are using some kind of graphql to PostgreSQL tool or library, so please contact its authors.

[2018-10-08 07:40] ramreddy opened #1549 "How to use array in mutation args?"
I have an array like `[{email:"email1@gmail.com"},{email:"email2@gmail.com"}]`

my schema like below
[code]
when i executed it, i got error like below
[code]
please help me to resolve this issue.

[2018-10-08 08:08] IvanGoncharov commented on #1549
You should pass some type into `GraphQLList`, e.g.
[code]

-------------------------------------------
If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](http://stackoverflow.com/questions/tagged/graphql).

Please do not post general questions directly as GitHub issues. They may sit for week

[2018-10-08 08:08] #1549 closed

[2018-10-08 08:10] ramreddy commented on #1549
@IvanGoncharov  thanks, the issue is resolved. Also changed the array to ["email1@gmail.com","email2@gmail.com"]

[2018-10-08 08:11] ramreddy commented on #1549
@IvanGoncharov  thanks, the issue is resolved. Also changed the array to ["email1@gmail.com","email2@gmail.com"]

[2018-10-09 15:48] IvanGoncharov commented on #1537
@Cito Thanks for handling this issue 👍

@asishallab Can I close this issue?

[2018-10-10 07:10] asishallab commented on #1537
Thanks for this fruitful discussion. I learned a lot.

[2018-10-10 07:10] #1537 closed

[2018-10-10 20:02] ciekawy commented on #1182
I wonder how the `NODE_ENV` is supposed to exist in mobile device i.e. for Ionic or React Native build? shouldn't the ticket be reopened?

[2018-10-11 20:19] axe-z commented on #1518
I'm a newbie at apollo, me and my aspiration .... arggh. the JS fatigue is real. Wanted to let redux go, by only using this now. here's my very small project:

server:
[code]

Blog shema
exports.typeDefs = `

[code]
resolver:
[code]

in react WHERE  I GET Issues with ID:

[code]

index has the client, but it's ok, IT's that simple right now... Not sure what I'm doing wrong

[2018-10-11 21:08] IvanGoncharov commented on #1518
@axe-z We already have a fix for this issue in #1520
We will try to release it ASAP.

[2018-10-11 21:10] axe-z commented on #1518
oh thanks, when you are at your first steps like me , nosebleeds are ruff.

[2018-10-11 21:16] #1518 closed

[2018-10-11 21:58] axe-z commented on #1518
since I have not a clue what's going on ... this is on the server-side only ? did install it,seems to work, after restarting .

[2018-10-13 15:30] RadAcademy commented on #1518
Your query needs to match the string type of string!  not string

[2018-10-13 15:35] axe-z commented on #1518
ok , really not sure what I'm doing wrong then
[code]

[2018-10-13 17:19] htjo commented on #1343
I'm one of them who are looking forward to be able to write the directives in graphql-js. I think the directive is the most powerful function to keep the DRY rule, similar to the annotation of java. I'm going to use directives by graphql tools and merge until you guys decide to use directives in graphql-js. I hope this works and I hope your team makes a good decision! 😄

[2018-10-14 17:01] sarora2073 opened #1553 "'Abstract type must resolve to an object' error; resolver maps not resilient"
# Feature requests

Hi,

I came across the expected error 'Abstract type must resolve to an object' when using a resolver map to resolve various entities in a collection to their respective types. Turns out the immediate issue causing the error was one record in the collection had stale data that didn't resolve to either of the expected types.

I tried a few variations of the resolver map (see bel

[2018-10-14 17:44] IvanGoncharov commented on #1553
@sarora2073 You should filter out "bad" record inside resolver that returns the array:
[code]

Can you please share relevant part of SDL?
Based on citation I would assume this particular field returning `[Activity!]` and if you convert it to `[Activity]` (drop non-null) you would get `null` only for items that failed to return correct types from `__resolveType` and valid values for the rest of ite

[2018-10-14 18:42] sarora2073 commented on #1553
Thanks for this! Filtering in the resolver function solves this for me.

fyi - the relevant SDL snippet you're asking about is this...

[code]

You can see that i'm not requiring Activity, but nevertheless experienced the error, which is why I felt graphql was being too brittle in expecting a resolver map response. However, i'm glad to close this given that there's an easy work around.

btw, rathe

[2018-10-14 18:42] #1553 closed

[2018-10-16 18:23] bkoltai commented on #28
Agreed, how do we get a stack trace for the errors reported from using the `graphql` function directly, which I'm also doing in tests and get errors from my code with just the message and no trace.

[2018-10-17 16:06] WestleyArgentum commented on #747
Fwiw, I would also very much like to see this.

I think it also comes up when you're working with an existing database that has snake_case columns and you want to provide a camelCase graphql interface. In the output types it's trivial to throw in resolvers like

[code]

But for input types you're kinda hosed, you just have to find somewhere you can slip some parsing / formatting code in without ca

[2018-10-18 06:39] dandv commented on #546
Not sure if this issue is fully solved, or if I have a different one, but I get errors like

when `undefined` was passed to an `Int!` parameter in a query. The problem is, I can't tell *which* parameter.

A more useful error message would mention the name of the parameter:

[2018-10-19 12:54] mcmimik commented on #1272
If somebody uses `chainWebpack`:
[code]

[2018-10-20 00:18] jamesgmarks commented on #1272
@mcmimik *THANK YOU!* I was just beginning to trudge through the Vue documentation on this and then came across your solution. Works perfectly.

[2018-10-22 20:13] dabyland opened #1556 "Text color in search bar using "light" theme"
Quite a minor "issue", if you can even call it that.

When using the "light" theme on the graphql Playground, the text "Search:" and contents within the SearchBar are nearly invisible. I have text input into the field however you're unable to tell since the color of both mentioned texts are white.

Maybe just change to black when the theme is switched?

<img width="1314" alt="screen shot 2018-10-2

[2018-10-23 09:34] IvanGoncharov commented on #1556
@dabyland I think this is the right repo for this issue: https://github.com/prisma/graphql-playground
Please report it there.

[2018-10-23 09:34] #1556 closed

[2018-10-23 13:10] dabyland commented on #1556
@IvanGoncharov Thanks, will do.

[2018-10-23 13:14] IvanGoncharov commented on #546
@dandv It's a different issue. Can you please open a separate issue and provide full query and more details?

[2018-10-23 15:07] Mikhus commented on #19
I've landed here too late, as far as already did another one lib for dealing with query fields, so, maybe someone will find it useful, it supports array of fields extraction and fields object maps taking into account query fragmentation and skip and include directives as well. So here it is: https://github.com/Mikhus/graphql-fields-list
Hope it would save someone couple of hours or days of work...

[2018-10-23 15:50] vreality64 commented on #1543
When will it be released? I'm waiting for this release ~😃~

[2018-10-24 22:57] samuela commented on #937
Another case where this is super helpful: When you want to emulate ML-style algebraic data types you're screwed for variants that don't have any fields. For example,
[code]

[2018-10-24 23:04] samuela commented on #937
Update: this is possible as of `"graphql-yoga": "^1.16.7"`:

[code]
GitHub doesn't syntax highlight it correctly but it does in fact work.

[2018-10-24 23:09] samuela commented on #937
Further update: that actually doesn't work. It parses the schema fine, but after starting the server I'm seeing:

[code]

[2018-10-25 01:03] TriStarGod opened #1561 "Require properties by default"
Is there a way to require properties by default? Currently, I'm placing ! on everything. Is there a setting to have it considered required by default with selective ones as not required?

[2018-10-25 02:02] KATT commented on #1361
I just added graphql-js as a gateway to an existing GraphQL-service, in order to extend it. The existing service does not implement this part of the spec, leading to the whole frontend crashing. Until we've refactored I did the following workaround:

[code]

[2018-10-25 11:48] SamMaxwell commented on #1262
The GraphQL schema and the GraphiQL browser provide accessible and interactive documentation for the available query types and mutations of a system. It demos quite nicely. If the GraphQLObjectType supported directives it could become just more helpful documentation for the API surface.

The GraphQLFieldConfig includes a deprecationReason.

I developed a dynamic relay server that introspects SQL S

[2018-10-25 14:40] JustFly1984 commented on #1272
I have connected issue caused by
[code]

I have 3 environments: development, staging and production. I'm using AWS mobile hub, for each env, I have separate config, which I import with
[code]

The problem is that after adding the rule above to webpack config, require stops working in browser, but still working on server-side with same webpack config

[2018-10-27 05:34] JustFly1984 commented on #1272
I figure that out, check if you mix ES6 `import` and `module.exports =` in same file. That is forbidden.
I had ES6 `import`, `require` and `module.exports =` and `require` had been broken. I've replaced ES6 `import` with another `require` to solve an issue.

[2018-10-27 21:54] danutzcodrescu commented on #1344
I have update to `graphql 14` and it solved the issue.

[2018-10-29 07:28] olalonde opened #1564 "Feature request: accept AST query in graphql()?"
[code]

It would be nice if an AST could be passed instead of a string for the `query` argument of graphql(). My editor (vim) does GraphQL syntax highlighting whenever I use the `gql` tag :O

[2018-10-29 14:58] emmanuelbuah commented on #1272
@JustFly1984 Not sure I understand what you meant. My config uses only ES6 `import/export`, not `require(..)`. Are you saying to resolve the issue, have to replace all ES6 imports with `require`? If so, do you know why?

[2018-10-29 19:43] JustFly1984 commented on #1272
it is not about `require`, it is about mixing es6 `import` and `module.exports` in the same file.

[2018-10-29 19:46] JustFly1984 commented on #1272
I think it is either babel, either webpack, but I'm currently not sure.

[2018-11-01 13:20] sibelius commented on #1527
I think the first part is to remove exact types on flow definitions

[2018-11-03 07:11] GlennMatthys commented on #1543
While we're here... [This ](https://github.com/graphql/graphql-js/issues/1527) also needs some attention. With the release of version 14 it basically prohibited middlewares to tie in directly into the graphql definitions, making everybody using middlewares get stuck on version 13.

[2018-11-05 22:32] kellengreen commented on #559
What was the outcome of this discussion?

[2018-11-06 03:42] helloqiu opened #1567 "Wrong Result Generated by findArgChanges"
# Reporting issues with GraphQL.js

Hi there. The function `findArgChanges` may generate wrong result if **default value of the field is an Array**:
[code]
Result:
[code]

# Possible Solution
In [`graphql-js/src/utilities/findBreakingChanges.js`](https://github.com/graphql/graphql-js/blob/master/src/utilities/findBreakingChanges.js#L236):
[code]
If the default value is an array, `oldArgDef.default

[2018-11-08 17:23] ldiego08 opened #1569 "Extending an Object Type in Code"
(Posting here since haven't been able to get an answer from any other of channels. 😅)

So, using SDL you can add fields to an existing type like:

[code]

But how can I do this in code using the built-in classes (`GraphQLObjectType`, etc)?

Sounds like `extendSchema` might offer a way, but it is undocumented and I'm not sure how to use it in this case.

Is this supported?

My apologies in advance

[2018-11-13 17:27] sachintbits commented on #1518
I had the same issue, i resolved this issue by writing this code in the types definition file of graphql

[code]

[2018-11-13 17:31] sibelius commented on #1518
should this be done on `mongoose` instead of `graphql-js`?

@vkarpov15 does it make sense to `ObjectId` implement `valueOf`?

[2018-11-13 21:50] scpwebdev commented on #1527
+1 this could help fix issues with join-monster that requires extra metadata for fields

[2018-11-13 21:50] flipxfx commented on #1527
+1 this could help fix issues with join-monster that requires extra metadata for fields

[2018-11-16 20:48] akotlar commented on #599
Agreed; as a relatively new user I've found the existence of separate input and output types a leaky implementation detail, that causes user friction, and which may increase chance of error, as it seems I have to duplicate portions of my schema between input and output, unless I just haven't found the appropriate feature, quite possible.

[2018-11-17 02:34] dotansimha opened #1575 "All `astNode` fields are undefined when schema is loaded using buildClientSchema"
I noticed an issue with loading a `GraphQLSchema` using introspection JSON.

Given the following introspection JSON:
https://gist.github.com/dotansimha/c25f0ce38382086f55f5382da7dcbcb8

If I'm running the following code:
[code]

I know `buildClientSchema` should return a `GraphQLSchema` without resolvers and anything else, but is there a reason for removing the `astNode` fields?

My current workar

[2018-11-20 00:04] otonielguajardo commented on #1569
+1

[2018-11-20 01:09] IvanGoncharov commented on #1569
@ldiego08 Yes, it's supported. Our documentation lagging behind since it had last major updated in 2016. Discussed in #1368

For example on how to use `extendSchema` please see our tests:
https://github.com/graphql/graphql-js/blob/master/src/utilities/__tests__/extendSchema-test.js

[2018-11-20 01:09] #1569 closed

[2018-11-20 06:54] KevinGrandon opened #1577 "Feature request: Pre-release or patch version bump for flow 0.85 compat"
Just requesting either a pre-release or patch version bump for flow 0.85 compatibility. Seems like support for 0.85 has landed, and we'd rather not stub the library out if possible.

Thank you for the excellent library.

[2018-11-20 14:54] IvanGoncharov commented on #1577
@KevinGrandon You can use NPM 📦 built from `master`:
https://github.com/graphql/graphql-js#want-to-ride-the-bleeding-edge

[2018-11-20 16:30] KevinGrandon commented on #1577
I’ll do that for now, but pre-releases would be nice so automatic upgrade scripts would bring us to the main release cycle (which has better performance for installs). Thanks for the tip.

[2018-11-20 20:41] montera82 commented on #743
thanks alot @idibidiart
[code]

[2018-11-21 10:22] yaquawa commented on #385
any progress on this ?? it has been 2 years!

[2018-11-21 23:13] IvanGoncharov commented on #1577
@KevinGrandon Are suggesting releasing `14.1.0-rc1`?
Would `upgrade/npm-check-updates` react to releases without `latest` tag?

[2018-11-22 17:00] KevinGrandon commented on #1577
You all don't need to change your workflow, but a `14.1.0-rc1` would be nice. The reason being, many existing tools will upgrade `14.1.0-rc1` to `14.1.0` when released, and gives consumers a slightly better decision making process. E.g., "I'll take the risk to upgrade to this next minor version with a pre-release, but wouldn't want to upgrade to a major version".

You all don't need to change your

[2018-11-22 19:10] s97712 opened #1584 "Allow non-English enum name"
Hi, I need use non-English enum name, but I get below error:
` Names must match /^[_a-zA-Z][_a-zA-Z0-9]*$/ but "己审核" does not.`

Can support validate for other language?

[2018-11-23 10:14] xialvjun commented on #1536
same error

[2018-11-23 22:16] IvanGoncharov commented on #1584
@s97712 It's intentional and according to the spec:
https://facebook.github.io/graphql/June2018/#Name

Please discuss this spec change here:
https://github.com/facebook/graphql/issues/256

[2018-11-23 22:16] #1584 closed

[2018-11-23 22:19] IvanGoncharov commented on #1536
@xialvjun You use `0.13.2`, please update `graphql` to `14.0.2`

[2018-11-26 16:51] #825 closed

[2018-11-26 19:02] mjmahone commented on #825
As a note: I have code that does this internally but it's not in a state I'd feel good about open-sourcing it.

The basic premise is that we build up a map of "used types" as we visitWithTypeInfo all the documents.

This works really well, and we use the same idea for a variety of things, like building a schema to use at runtime. My version is much heavier-weight than it needs to be: you should be

[2018-11-26 19:21] jgcmarins commented on #825
We've implemented a bot to check that for us: https://github.com/entria/graphql-vigilant-bot

[2018-11-27 09:45] Aaron3 commented on #585
@andrewmclagan passing args works for simple search, but a complex search that can search hundreds of different fields of different types and combine with different AND / OR isn't covered by the simple args.

Doing a search for `X==123 AND (Y=abc OR Y=def)` is how a person building a search query thinks, it's not part of the data fetching layer. The data fetching layer doesn't know that `Y=abc` an

[2018-11-27 15:39] yaquawa commented on #113
Any update to this? I saw the `graphql-ruby` can provide such a feature!

http://graphql-ruby.org/authorization/visibility

[2018-11-27 18:05] daniele-orlando commented on #297
Waiting for it too.

[2018-11-27 21:45] jdrelick-va commented on #122
So this is the most relevant issue I could find... I am having a similar issue where using the actual Enum Constant value (not a string) in GraphiQL coerces my Enum key to it's specified value correctly. When sending JSON instead, however, I don't get a GraphQL schema error (although in GraphiQL I do) but the input value is not coerced:

[code]

This will coerce ACTIVE -> "Active" (in GraphiQL):
[

[2018-11-28 10:40] TxHawks opened #1586 "Flow errors from imported npm package in buildAstSchema"
Using graphql-js version 14.0.2 and Flow version 0.87.0, Flow throws the following errors:

[code]

As a quick fix, I've added `.*/node_modules/graphql/jsutils/keyValMap.js.flow` to my `.flowconfig`, but this is far from ideal...

[2018-11-29 15:40] Nabellaleen opened #1588 "Map constructor does not accept arguments"
Hi,

Trying to launch my react native app on Android, I'm getting this error, linked to the following line in graphql-js : https://github.com/graphql/graphql-js/blob/3595ea922613f3e13a07185407dd70ed45de7a66/src/type/definition.js#L1067

Do you have any hints about this problem ? I think it just pop out, so it's probably not directly a graphql-js bug, but I think you are the ones who could help me

[2018-11-29 16:15] Nabellaleen commented on #1588
It's a bug linked to ReactNative js interpreter which didn't have the Map constructor taking an Iterator.

It can be resolved by using a polyfill : https://www.npmjs.com/package/es6-map

[2018-11-29 16:15] #1588 closed

[2018-11-30 15:07] JetJsF commented on #361
It will be really helpful to throw any other exception instead of base `\Exception` at `parseLiteral()`
Can it be done?

[2018-12-01 01:47] devnieL opened #1591 "How to know exactly which fields have error ? Is it possible to add metadata to errors ?"
Hello,

I'm using a mutation that is returning **TypeError** errors like these (I assume that this is something usual and is handled in some elegant way by someone, but I'm not finding the proper approach, so give me a tip please)

![image](https://user-images.githubusercontent.com/1231888/49322581-a00e2a00-f4de-11e8-8897-92afb39728ce.png)

As defined by graphql spec, the `errors` array in the res

[2018-12-01 01:50] devnieL commented on #1591
Related https://github.com/graphql/express-graphql/issues/460

[2018-12-01 05:41] ghirlekar commented on #917
I have another use-case that would greatly benefit from this.

I want to override the serialization/deserialization of the String type to convert all Windows-style line endings to Unix-style for incoming/outgoing data. Some of my clients use Windows machines and some use Unix, and my database also has both style of line endings.

Overriding the String serialization/deserialization is a single poin

[2018-12-02 00:59] IvanGoncharov commented on #1591
@devnieL Can you please explain your use case for this feature?
Please note GraphQL errors are not intended to be used for client-side validation they are developer-friendly instead of user-friendly, don't support localization, etc.

[2018-12-03 15:00] Pruxis commented on #1308
This is an issue I am running into aswell, I thought I was misreading the documentation when exploring this but it actuality seems to not be possible to update the context during a query / mutation.

[2018-12-04 20:54] vkarpov15 commented on #1518
@sibelius not a bad idea. Opened up a mongoose issue to track this

[2018-12-04 20:56] sibelius commented on #1518
@vkarpov15 tks, keep the good work

[2018-12-05 14:04] alizhdanov commented on #1586
The same for me, thanks for the workaround. I think it's already fixed, but not yet released - https://github.com/graphql/graphql-js/commit/0ea7b5192cd3e3f55352d276ece87a83add7c68b

[2018-12-05 16:12] IvanGoncharov commented on #1586
@alizhdanov Correct, you can test using this package:
https://github.com/graphql/graphql-js#want-to-ride-the-bleeding-edge

@mjmahone Can we release `14.1.0` as is to publish fix for this issue and #1518 ?
I think we can push all other planned items to `14.2.0`.
What do you think?

[2018-12-06 04:55] mjmahone commented on #1586
I'd be happy pushing 14.2.0 this week. I'll try to ping @leebyron to make sure he's aware.

[2018-12-06 11:33] IvanGoncharov commented on #1586
@mjmahone @leebyron It would be great to update tokens inside:
https://github.com/graphql/graphql-js/blob/97568af33516f189e50da7e8234f5799d4b4121b/.travis.yml#L44-L51
That way we will be able to do automatic releases and release bugfixes faster.

[2018-12-07 21:15] cphoover commented on #1298
In your client could you just trim the null values to allow for defaults.

This library appears to do that:

https://www.npmjs.com/package/clean-deep

[2018-12-08 07:55] caub commented on #1298
`undefined` (from server-side) also reduce JSON responses size

[2018-12-09 00:51] bradennapier opened #1599 "`.inspect()` is deprecated"
Are there plans to resolve the deprecation warnings that come with this library due to the use of `.inspect()` method being used?

Any attempt to log values within the library result in:

[code]

on the LTS version of nodejs (v10)

https://github.com/graphql/graphql-js/blob/master/src/jsutils/inspect.js

https://github.com/nodejs/node/issues/15549

[2018-12-11 09:05] maximveksler commented on #271
Hi,

Maintainer of https://github.com/semantalytics/awesome-semantic-web here.

I realise this issue has been closed, but since it's one of the top hits in Google for `GraphQL & json-ld` I would like to add a few data points to the discussion. I ask for input as I might end up implementing something internally that takes GraphQL as input and returns JSON-LD as output, which will eventually could g

[2018-12-11 17:56] akuckartz commented on #271
See also:

GraphQL-LD: Linked Data Querying with GraphQL
https://comunica.github.io/Article-ISWC2018-Demo-GraphQlLD/

[2018-12-12 12:12] raduflp opened #1604 "Enum value is not resolved to internal value for directive argumets and default values"
the [original issue](https://github.com/apollographql/graphql-tools/issues/715) was submitted to the `graphql-tools` repo,  but it seems that it never made it here.

the issue is that after following the [official documentation ](https://www.apollographql.com/docs/graphql-tools/scalars.html#internal-values) the enum value is not resolved to the internal value when used as a default value or in dir

[2018-12-12 13:52] IvanGoncharov commented on #1604
@raduflp With current `graphql-js` design `defaultValue` should be in internal representation. So to correct example you need to do:

[code]

Same goes for custom scalars, arrays or any other example of input coercion.
For example `ID` coerce numbers to strings but this coercion is not applied on `defaultValue`:

[code]

[2018-12-13 14:33] sibelius commented on #113
is there any user land solution for this?

[2018-12-14 04:15] q4e2015 opened #1608 "How to use extend scalar AppSync"
# Questions regarding how to use GraphQL

https://docs.aws.amazon.com/en_us/appsync/latest/devguide/scalars.html
I want to deploy my Graphql-js on AppSync. I see it has some scalar specifics ( this case I want to use type AWSEmail). Do we have any way use it?

[2018-12-14 14:47] alfaproject commented on #28
Just stumbled upon this issue and not quite sure why is it closed. I only get the error title when invoking with `graphql` or `execute`...

[2018-12-14 15:01] IvanGoncharov commented on #28
@bkoltai @alfaproject You can access original errors and their stack traces, like that:
[code]

[2018-12-14 16:10] #1599 closed

[2018-12-14 16:11] IvanGoncharov commented on #1599
@bradennapier Thanks for reporting 👍
Fixed in `master`.
You can test it using:
https://github.com/graphql/graphql-js#want-to-ride-the-bleeding-edge

[2018-12-14 18:37] bradennapier commented on #1599
Sweet! Thanks! I’ve since found quite a few libraries with this as an issue so seems fairly common.  Appreciate taking care of it as Node 11 removes support and it publishes the whole thing :)

[2018-12-14 20:07] wincent commented on #1586
That would be nice. :-)

[2018-12-15 11:03] OneCyrus opened #1609 "improve debug experience for schema"
when there are missing types we just get an error message like
[code]
it would help a lot if the message lists the missing type.

[2018-12-15 17:45] ErKiran commented on #743
[code]

[2018-12-16 18:41] kaqqao commented on #113
`graphql-java` also has a solution in the form of customizable `GraphQLFieldVisibility` which is used in runtime to decide whether the field is visible or not.

[2018-12-17 08:02] haithanh123 opened #1617 "memo for who wanna use other client with [`import { GraphQLUpload } from 'apollo-upload-server'`](https://github.com/jaydenseric/apollo-upload-examples/blob/f995f7d713bf7c1f6f62d87a35022f0cae656aec/api/resolvers.mjs#L7)"
[code]

_Originally posted by @up9cloud in https://github.com/graphql/graphql-js/issues/960#issuecomment-364672113_

[2018-12-17 12:02] YasinYA commented on #173
How about making mutations?

[2018-12-18 14:48] IvanGoncharov commented on #1617
@haithanh123 Not sure it belongs as an issue on this repo.

[2018-12-18 14:48] #1617 closed

[2018-12-19 10:38] psy21d commented on #1003
Пугающая ситуация. Компьютеры с гигагерцами и десятками ядер не умеют считать большие числа. Разве мы не достойны этого?

[2018-12-19 16:35] ricardomoura opened #1620 "Feature request: spread input object type arguments and input interfaces / unions"
hey guys,
would be possible to implement this feature?

[code]

also, another thing but i'm not sure, it was a while ago last time i attempted.
is it possible to have interfaces and unions for object inputs?
this would allow to recycle lot of dedicated input types for create / update mutations wether the fields could be required or not depending on the action

[code]

[code]

some tips or pr/issue

[2018-12-20 19:56] #1620 closed

[2018-12-23 15:07] Xample commented on #639
I would simply use a semaphore to wrap the fetch method:

https://www.npmjs.com/package/await-semaphore

[2018-12-26 14:38] mgrip commented on #1586
Seems like .89 was releases but this is still broken?

[2018-12-27 09:55] MendesKevin opened #1630 "default field resolver"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](https://stackoverflow.com/questions/tagged

[2018-12-27 09:55] #1630 closed

[2018-12-27 09:58] MendesKevin opened #1631 "default field resolver"

[2018-12-27 09:58] #1631 closed

[2018-12-27 11:31] MendesKevin opened #1632 "Why root-level resolver params aren't passed to instance-level resolver by default ?"
Hi, in [https://graphql.github.io/graphql-js/object-types/](graphql/graphql-js)

But graphql-js doesn't pass params resolver `( root, args, context, info )` for "instance-level" resolver.

There is a way to allow that globally or I must need wrap with a root-level resolver for each field where I call the instance-level resolver or this isn't the recommended GraphQL way ?
[code]
note: I use `{ make

[2018-12-27 13:45] IvanGoncharov commented on #1632
@MendesKevin It passes `( args, context, info )` all arguments shifted by one, because is `root` is equal to `this`.
So you can write:
[code]

[2018-12-27 23:11] MendesKevin commented on #1632
Oops, thank you !

[2018-12-27 23:11] #1632 closed

[2018-12-28 01:37] langpavel opened #1636 "[lexer] Block string does not advance line"
Lexer does not advance line number when tokenizing block strings.

Line numbers are then shifted on all following tokens

[2018-12-31 05:42] #1636 closed

[2019-01-01 12:28] guykatz opened #1639 "install from CDN?"
hi all;
I do not use NPM/WEBPACK etc. I have 2 questions:
1. can I 'install' this library from CDN
2. can I use ES5 only with this library? (not ES6 transpiled to 5 but actual 5 from the start)
thanks

[2019-01-01 15:50] rafalp commented on #1639
This is GraphQL **Server** implementation

NPM and WebPack are two different things:

- NPM is package manager that is used to install dependencies. It's good thing and you should use it. Some argue that Yarn is superior package manager, but I believe both are supported.
- WebPack is a bundler. It takes number of source files and bundles them into much smaller number of files by following in-file

[2019-01-03 01:00] IvanGoncharov commented on #1639
@rafalp Thanks for detail answer 👍

@guykatz We distribute GraphQL as CJS/MJS package on NPM.
This library is huge (ATM. ~700kb and growing with each release) but highly modular so we expect that frontend apps will use only necessary parts. That's why we don't release it as a single file bundle and expect developers to use it together with bundlers.

Yes, we publishing only ES5 code on NPM

[2019-01-03 01:00] #1639 closed

[2019-01-03 19:05] buoyantair commented on #1341
@leebyron This issue seems to be resolved, close it? :3

[2019-01-03 19:41] JCMais commented on #1341
it's not resolved, I've only updated the tests to build from SDL instead of using type constructors, the feature mentioned on this issue is still missing, didn't have time to finish it yet

[2019-01-06 14:40] infinitegachi commented on #1518
still not fixed?

[2019-01-07 13:38] vkarpov15 commented on #1518
I don't use graphql so I'm not certain whether this is fixed, but this might help: http://thecodebarbarian.com/whats-new-in-mongoose-54-global-schematype-configuration.html

[2019-01-07 13:45] sibelius commented on #1518
@infinitegachi try to use this mongoose PR https://github.com/Automattic/mongoose/pull/7353

[2019-01-07 14:16] sibelius commented on #1518
I've made a field resolver to help on this

[code]

so if you want to expose an _id in your GraphQL, you need a custom type or transform ObjectId to string

[2019-01-07 18:39] sibelius commented on #1518
Types.ObjectId is for typechecking only I guess

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/5344bfc805/types/mongoose/README.md#faq-and-common-mistakes

[2019-01-11 11:17] nealyip opened #1659 "AWS directives"
https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html

Is there any way to implement the @aws_subscribe?

For example,
[code]

will output
[code]
How can I make it like
[code]

Thank you.

[2019-01-11 13:30] IvanGoncharov commented on #1659
@nealyip Currently there is no way to do this. Possible solutions are discussed in #1343

[2019-01-14 18:52] IvanGoncharov commented on #1586
@mjmahone @leebyron Can you please update NPM token so we can release RC?

Currently we block Flow users from updating Flow.
More recent example:
https://github.com/graphql/graphql-js/commit/4cdc8e2a283e5e551cc462fbd00b0ce01c9126af#commitcomment-31933578

[2019-01-15 22:01] #1609 closed

[2019-01-15 23:32] IvanGoncharov commented on #1543
@mjmahone just published `14.1.0` 🎉

[2019-01-15 23:32] #1543 closed

[2019-01-15 23:35] IvanGoncharov commented on #1586
@mjmahone just published `14.1.0` so this issue should be fully resolved.

[2019-01-15 23:35] #1586 closed

[2019-01-16 00:01] IvanGoncharov commented on #1577
@KevinGrandon We just released `14.1.0` which should work with Flow `0.90.0`.
We started working on simplifying release process so it would result in more frequent feature & patch releases.

[2019-01-16 00:01] #1577 closed

[2019-01-16 06:44] pitops opened #1668 "Latest version v14.1.0 breaks react-apollo and apollo-boost"
I have upgraded to latest version of GraphQL v14.1.0 and my build won't work after that. It fails to require `react-apollo` and `apollo-boost`.

Version 14.0.2 works fine.

[2019-01-16 07:33] langpavel commented on #1668
Can you provide more info please?

[2019-01-16 09:06] michalkvasnicak commented on #1668
For us it breaks typecheck.

Flow `0.83.0`, when downgrading to `14.0.2` typecheck passes.

![image](https://user-images.githubusercontent.com/174716/51238094-55554e00-1976-11e9-9974-16061a8a1d42.png)

[2019-01-16 10:40] langpavel commented on #1668
Flow 0.84.0:
* Added support for wildcard (`_`) type arguments to function / constructor calls. This is
especially useful when some type arguments are sufficient to pin down the type of the result; the
others can simply be `_`.

[full changelog](https://github.com/facebook/flow/releases/tag/v0.84.0)

[2019-01-16 10:46] michalkvasnicak commented on #1668
@langpavel thank you very much. I lost a track of flow changes as we are slowly transitioning to typescript.

[2019-01-16 17:49] IvanGoncharov commented on #1668
@langpavel Thanks for the clarification 👍

@michalkvasnicak I still Flow placeholders are pretty confusing so I removed them as #1669

@pitops Can you please provide some details? For example, copy-paste errors here.

[2019-01-16 17:55] pitops commented on #1668
@IvanGoncharov sure give me until tomorrow and I will try to replicate again.

[2019-01-16 19:52] wincent commented on #1586
And I see 14.1.1 fast-followed. Thanks!

[2019-01-16 22:37] #1591 closed

[2019-01-16 22:55] IvanGoncharov commented on #1561
@TriStarGod Sorry for the delay.

No, GraphQL spec is very explicit about that:
https://facebook.github.io/graphql/June2018/#sec-Type-System.Non-Null

`graphql-js` is implemented according to the spec so there is nothing we can do in this repo.

[2019-01-16 22:55] #1561 closed

[2019-01-16 23:07] IvanGoncharov commented on #1575
@dotansimha Sorry for the delay.

`astNode` should always point to the original location provided by the user and intended to use mainly for error reporting (tie error to the particular location inside user input).

Since `buildClientSchema` accepts JSON it would be strange to report error showing SDL and pointing to the non-existing location.

If you have different use case for `astNode` can you

[2019-01-16 23:09] langpavel commented on #1561
@TriStarGod If you are placing `!` on everything, you are really happy front ←→ endier.
I'm almost sure that you aren't — except in very limited situations. (Really; possible but uncommon)

BTW are you talking about `input` types? or generally at all?

[2019-01-16 23:20] TriStarGod commented on #1561
@langpavel I have far more situations in which I place an ! than not. GraphQL seems the opposite of most languages where you have to explicitly specify what is optional.

[2019-01-16 23:32] langpavel commented on #1561
@TriStarGod True. GraphQL is for querying data. *at first.*
So if you specify `!` in type it may be interpreted as *this value is always present. *if you need*.

On the other hand, you may use `!` on ***input***; so it takes strict assertion: This value is **always required** and then (hope, *mutation* fails)

---

Can you describe more? Bot don't worry, this issue will remain closed :smiling_imp:

[2019-01-16 23:32] IvanGoncharov commented on #1564
@olalonde Sorry for delay.

Thanks for describing your use case 👍
Many editors highlight strings with `/* GraphQL */` prefix, see this thread:
https://github.com/apollographql/apollo-tooling/issues/724
Also you can dummy tags (e.g. [fake-tag](https://github.com/jaydenseric/fake-tag)).

`graphql` is a very simple function that just wrap a few other functions, if you want you can call every function

[2019-01-16 23:32] #1564 closed

[2019-01-17 07:55] pitops commented on #1668
@IvanGoncharov i was able to replicate it today, but after removing `node_modules` and `yarn.lock` and re-installed, everything seems to be working correctly.

It seems as though the issue is with `yarn.lock` ?

[2019-01-17 10:40] langpavel commented on #1668
yarn.lock should guarantee that same package versions will be installed.
Then it should be deterministic if your app fail or work same way.
Which yarn.lock? Your is yours :-p :smiling_imp:

[2019-01-17 11:35] langpavel commented on #1575
AST refers to abstract syntax tree which is directly derived from SDL source. If you have no source, you cannot have AST.

I think that this makes sense.

[2019-01-17 11:50] langpavel commented on #1604
Current behavior is expected :+1:

[2019-01-17 16:15] IvanGoncharov commented on #1668
@pitops You probably had two different versions of `graphql-js` in your `node_modules`.
This could happen if one of dependencies depend on `graphql` as direct dependency and not as `peerDependency`.
You can test it using `npm ls` and should see only one version of `graphql`.

[2019-01-17 16:15] #1668 closed

[2019-01-17 16:38] mjmahone commented on #1575
One thing I think we do eventually need to solve: currently the only way to access directives placed on GraphQLSchema definitions is via the definition's AST node. In this case it's a bit of a non-issue, as the introspection query doesn't expose field-definition directives anyways. But that could be a good project for someone to improve the consistency across introspection and SDL based schemas.

[2019-01-17 20:09] IvanGoncharov commented on #1575
@mjmahone It's already tracked as #1343

[2019-01-17 21:35] IvanGoncharov commented on #405
Closing sins like there are no new input in this issue for the last 2 years.

[2019-01-17 21:35] #405 closed

[2019-01-18 05:04] livingmine commented on #500
I'm also curious by the API design purpose just like @timqian , if someone could elaborate more about why this should be handled by the library's user instead of the library itself, that would be great! However, there is the astFromValue helper function though, so one can provide a single logic only on the parseLiteral and simply pass the value from the parseValue to the helper first then pass it

[2019-01-18 18:00] IvanGoncharov commented on #1604
@raduflp If you want this issue to be reopened, please free to ping me.

[2019-01-18 18:00] #1604 closed

[2019-01-18 18:01] IvanGoncharov commented on #1575
@dotansimha If you want this issue to be reopened, please free to ping me.

[2019-01-18 18:01] #1575 closed

[2019-01-18 21:27] IvanGoncharov opened #1674 "Add tests for 'toConfig' functionality"
Just a reminder that I need to write a test for `toConfig` functionality but I don't mind if someone wants to help 😉

[2019-01-20 04:55] yusunglee2074 opened #1675 "null id error, query return object with null id"
Graphql return Oject with null id. with mongodb.

It looks strange to me.

If I delete new GraphQLNonNull() id on MailType, It works with id: null, another fields working fine.
[code]
// with a
    "errors": [
        {
            "message": "Cannot return null for non-nullable field Mail.id."
        }]

a, b is array of mail. Both have mails with valid id.

[2019-01-20 08:58] #1675 closed

[2019-01-20 17:11] doniyor2109 commented on #1674
@IvanGoncharov  Hi ✋. I want to help for this issue if you want)

[2019-01-21 14:59] IvanGoncharov commented on #1674
@doniyor2109 Would be great 👍
Then you will have a few tests ready please open WIP PR so I can provide feedback early on.

[2019-01-21 19:07] mikebm opened #1680 "NonNullable fields within a list cause wrong error to be reported"
When calling a resolver that returns an item that contains a list, and that list type has a NonNullable field, yet the data getting sent back is null for it, then the wrong error is reported.

Example:
[code]

If the resolver returns Data, and an item contains a URL that is null, then it reports quantity as the error.
Example response data:
[code]

Error reported in response to client:
```Cannot r

[2019-01-21 21:39] IvanGoncharov commented on #1680
@mikebm I can reproduce this problem using following code:
[code]

it correctly report error as

Can you please provide minimal code sample to reproduce problem that you reported?

[2019-01-21 23:17] IvanGoncharov commented on #1680
@mikebm Thanks for the code snippet. I run the debugger and it looks like graphql-tools doesn't try to correctly forward errors from merged schemas and just forward data.
BTW, the error will always mention the name of a first field from a query.
If you change it to `{ items { URL quantity } }` it will start to reporting `URL`.

[2019-01-21 23:17] #1680 closed

[2019-01-22 15:27] Neitsch opened #1682 "Coveralls broken for Node 11"
@IvanGoncharov already found this, but adding tracking here: Coveralls appears to be broken for Node 11 on Travis. Sample Travis log: https://travis-ci.org/graphql/graphql-js/jobs/482864463

At this point it is unclear why Node 11 specifically is broken.

[2019-01-22 15:52] JCMais commented on #361
I've been using graphql middlewares to do that, I've previously written about it here: https://itnext.io/graphql-mutation-arguments-validation-with-yup-using-graphql-middleware-645822fb748

And a lib about it can be found here: https://github.com/JCMais/graphql-yup-middleware

The idea is that you add a yup schema when you define your types, something like:
[code]

I've also opened this RFC here w

[2019-01-22 16:48] doniyor2109 commented on #1674
@IvanGoncharov I have opened PR and it contains first test. I have test equality of config values. Is there anything to add in this test?

[2019-01-22 17:30] IvanGoncharov commented on #1682
@Neitsch Thanks for the opening issue 👍
It's not the first time we had problems with coveralls and it looks like it's abandoned
https://github.com/lemurheavy/coveralls-public/issues
Plus API in constant "Degraded Performance" state:
![image](https://user-images.githubusercontent.com/8336157/51553149-d3d05500-1e7a-11e9-9416-e0131dc7920d.png)

I did a quick search and it looks like Babel and some ot

[2019-01-23 20:37] 19majkel94 commented on #1527
I would treat this exact Flow definition as a bug because this quote from @leebyron (https://github.com/graphql/graphql-js/issues/1262#issuecomment-368110891):

So I treat this pattern as a recomended way to have some metadata on types/fields like directives allows use to do in SDL.

[2019-01-23 22:46] IvanGoncharov commented on #1527
This quote is about actual `GraphQL*Type` not about config types like `GraphQL*TypeConfig`.

It basically says you can do:
[code]

Personally, I think it's a workaround especially for clients who use Flow/TS at the same time I think config types should remain exact.

------------

The alternative proposal would be:
[code]
Where `extensions` defined as `ObjMap<mixed>'.

@JCMais What do you think ab

[2019-01-23 23:08] JCMais commented on #1527
@IvanGoncharov that was exactly the kind of alterative I was looking for.

Just a specific key that we can be sure it will be available later on, from the `info` argument inside resolvers, for example.

[2019-01-24 17:01] Neitsch commented on #1682
@mjmahone I still don't see reports showing up. Could nyc be broken, so that the coverage report does not work? I believe coveralls was complaining about an empty report before we switched.

[2019-01-24 21:44] IvanGoncharov commented on #1682
@Neitsch Finally nailed it. Update from  `node 11.6` to `node 11.7` broke coverage.
It was bad luck that it coincides with my experiments with disabling on coverage in #1173.
So the problem was nothing to do with `coverall` or #1173 it was just Travis switching `node 11.6` to `node 11.7`.

[2019-01-24 22:50] mjmahone commented on #1682
@IvanGoncharov should we switch back to coveralls in that case? Or perhaps upload to both for the time being?

We have a lot of historical information still in coveralls, so it may be worth generating both reports if possible.

[2019-01-25 00:06] JeffML opened #1691 "Single-argument mutation fails"
graphql@0.13.2

This fails when queried from Playground (apollo-boost@0.1.22):
[code]
but only if the mutation is defined with one argument:

[code]

This works:

[code]

[2019-01-25 03:32] Neitsch commented on #1691
Hi Jeff,
[code]
Above you are calling login with only one argument, hence all following ones will be undefined or null.

The order of arguments for a field is the following: `obj, args, context, info`, so you are looking to do something like
[code]

[2019-01-25 03:32] #1691 closed

[2019-01-25 04:30] JeffML commented on #1691
Okay, maybe I got lucky on my other two mutators, which have two parameters
and have been working:

    Mutation: {
        login: (pw, dummy) => login(pw, dummy),
*        deleteOptions: (type, names) => deleteOptions( type, names ),*
*        upsertOptions: (type, options) => upsertOptions(type, options),*

    }

async function deleteOptions(_, {optionType, names}) {
    console.log(_, {optionT

[2019-01-25 07:33] AviIhej commented on #585
I still need to address case sensitivity for my graphql resolvers. Please help if you have a solution. I am usng prisma, and there is no built in case sensitivity check for search queries.

[2019-01-26 10:11] 19majkel94 commented on #1527
So how to place metadata on fields and args like directives do by using this way?
We configure fields and its args in a type config for `GraphQLObjectType` as a plain objects.

Should we mutate this object later (by using `(schema.getType("typeName") as GraphQLObjectType).getFields()["fieldName"].complexity = 5;`) or is it safe to rely on `...fieldConfig` behavior in that case?

[2019-01-26 12:55] IvanGoncharov commented on #1527
@19majkel94 It should work fine as a workaround until we ship an `extensions` solution however no long-term guarantees afterward.

I will work on adding immutable `extensions` into types, fields, args and enum values on next week so we will able to ship it in `14.2.0`.

[2019-01-29 16:45] IvanGoncharov commented on #1519
Closing issue since no solution was suggested.
Note: since `graphql` typically used a peer dependency you don't tie to a particular version and can migrate to `14.0.0` after you will upgrade your clients.

[2019-01-29 16:45] #1519 closed

[2019-01-29 16:52] IvanGoncharov commented on #990
Closing this issue since `graphql-js` is implemented according to GraphQL spec.
In order to implement this feature, it should be added to the first, see https://github.com/facebook/graphql/issues/101

[2019-01-29 16:52] #990 closed

[2019-01-29 17:08] IvanGoncharov commented on #1343
The solution for this is discussed in #1527
@nodkz We planning to include `extensions` in `14.2.0` release.
Can you please review #1527 and comment on whenever it solve your issues?

[2019-01-29 22:23] IvanGoncharov commented on #747
This is a pretty big proposal so I think it should first be implemented outside of `graphql-js` and if it proves to be popular and battle-tested it can be merged in this lib.

Currently, we focusing on adding functionality to allow implementing such feature outside of `graphql-js`.
Namely support for assigning additional properties to fields (#1527) and support for resolver middleware (#1516).

[2019-01-29 22:23] #747 closed

[2019-01-29 22:30] IvanGoncharov commented on #109
I think #1516 would a good first step and allow 3rd-party dev to produce middlewares that will work with any `graphql-js` based server. After that as Lee suggested we need to observe and standardize emerging pattern.

It's the only realistic goal that we have ATM so I'm closing this issue in favor of #1516

[2019-01-29 22:30] #109 closed

[2019-01-30 06:55] wmertens commented on #747
@IvanGoncharov but these inputtype field resolvers have to run during the parsing of the input data given to graphql-js.

Mutation resolvers run after that so then it is too late.

[2019-01-30 07:39] IvanGoncharov commented on #747
@wmertens Middleware 100% would support pre resolver callback in which you can replace args and also you will have access to argument types. So you can run `extensions.resolve` for all input objects inside args and pass the result to the resolver.

[2019-01-30 08:52] buoyantair commented on #1516
What if it was more event oriented? As in, instead of having a middleware sort of thing, we can have an event emitter api of sorts, and have a couple of options like:
- BeforeResolverExecution
- AfterResolverExecution

Later on we can just add more event handlers which can be plugged into.

[2019-01-30 08:52] IvanGoncharov commented on #385
Sorry for the delay.
`graphql-js` implemented according to the spec so this change should be first added there.
If someone wants to be champion for this proposal here is the description of workflow:
https://github.com/facebook/graphql/blob/master/CONTRIBUTING.md#rfc-contribution-stages

[2019-01-30 08:52] #385 closed

[2019-01-30 08:54] IvanGoncharov commented on #1536
Should be fixed in `14.0.0`.
Feel free to open a new issue if you still experience this problem after `14.0.0` update.

[2019-01-30 08:54] #1536 closed

[2019-01-30 09:20] IvanGoncharov commented on #917
The problem here is that introspection depends on built-in scalars.
For example, if you override string to change line ending it will also affect string returned from introspection.
Even for scalars like `ID` that currently don't use by introspection can be used in future spec releases.
I think the correct solution would be to create custom scalars based on standard types (e.g. `scalar UUID as Str

[2019-01-30 09:20] #917 closed

[2019-01-30 10:00] IvanGoncharov commented on #550
I think Lee wrote great summary in #557:

[2019-01-30 10:00] #550 closed

[2019-01-30 10:38] IvanGoncharov commented on #1308
You can change things inside context but not a context itself.
Moreover, by putting DataLoader into the context you already mutating it every time you update its internal cache.
Nothing prevents you from fully replacing `loaders` property if you wish so.

In general, I think such issues should be solved by 3rd-party middlewares proposed in #1516

[2019-01-30 10:38] #1308 closed

[2019-01-30 12:10] IvanGoncharov commented on #361
You can't solve all usecases with middleware, e.g. you can't validate directive args or input fields inside those args.
So I think we need to add `validate` callback to args and input fields.
If you decide you want to implement validation based on SDL directives you would use schema transformation to assign `validate` to appropriate args and fields.
Not sure about single function vs array through.

[2019-01-30 12:22] IvanGoncharov commented on #597
It's a pretty big change that should go through a series of RC to polish interface and ensure it covers the majority of use cases. So it should be planned for `15.0.0`

[2019-01-30 12:50] IvanGoncharov commented on #284
Closing in favor of introducing general purpose middlewares (#1516)

[2019-01-30 12:50] #284 closed

[2019-01-30 15:59] IvanGoncharov commented on #1308
After reading through #354, I think we need some way to modify the context for subsequent resolvers without affecting resolvers executed in parallel or next mutation.
But I don't think it should be mutation specific so we should focus on #354 instead

[2019-01-30 16:08] IvanGoncharov commented on #706
@rleikus Sorry for the very long delay.
Sadly it's not possible 😞
Even if we add support for fields as class instances it would be impossible to correctly copy or modify such fields during `extendSchema`, `sortSchema`, etc.
Without the ability to copy fields, we will lose a lot of useful functionality.

[2019-01-30 16:08] #706 closed

[2019-01-30 17:58] 19majkel94 commented on #1343
@IvanGoncharov
It's not a solution for this. It's only for decorators-like behavior for custom JS code.

We still need a way to register directives that are present in `printSchema` and available in `astNode` because some 3rd party packages read the directives from AST directly (`apollo-cache-control`). And for https://github.com/19majkel94/type-graphql/issues/217 it would be great to be able to p

[2019-01-30 23:44] IvanGoncharov commented on #1343
As an author of #746 that added `astNode` in the first place, I can say that intially I also wanted to expose `appliedDirectives` on every type, field, enum value, etc. So when Lee rejected this proposal with this comment:
https://github.com/graphql/graphql-js/pull/746#issuecomment-301554231

I didn't fully understood it but was happy that he would at least agree to add `astNode` that was better t

[2019-01-31 07:45] nodkz commented on #1343
@IvanGoncharov `extensions` on fieldConfig level looks good for me and for graphql-compose 👍

BUT we should consider unification of `directives` (on field level at schema definition) and `extensions` (on field config level).

Consider using a new proposed `extension` with graphql-compose:

[code]

The question is: **Can be `schema directives` and `extensions` unified somehow?** If we not unify the

[2019-01-31 07:48] nodkz commented on #1343
@IvanGoncharov you may ping me via Telegram by nickname @nodkz or via Skype nodkz1985
and we can closely discuss this problem.

[2019-01-31 08:07] nodkz commented on #1527
🛑Before shipping this we should consider how `extensions` can be provided via SDL.

Add `@extensions` directive like so:

[code]

We MUST provide a unified solution for SDL and configObjects. And will be nice if it will be covered by static analysis. For now `mixed` value for extensions is weak and error-prone.

[2019-01-31 14:32] taion commented on #1343
I'll also note that some of the concerns around metadata are specifically around communicating more information to clients. A canonical example here is augmenting type system information by informing the client of e.g. min and max values for numeric inputs.

[2019-01-31 15:58] JCMais commented on #1527
@nodkz this sounds good, since it has been some time since I last used `graphql-js` directly, how is the custom directive going to be extended by library authors?

That would be like a schema directive that apollo has, correct? Do we have support for that currently?

[2019-01-31 16:47] IvanGoncharov commented on #685
It's planned to `14.2.0` and tracked in #1628
Since it's not an SDL specific and would work with valid GraphQL document we decided to move it in the separate `stripIgnoredTokens` function.
[code]

[2019-01-31 16:47] #685 closed

[2019-01-31 17:01] IvanGoncharov commented on #749
Having standartise test suite is great idea but it should be totally separate project from reference implementation.
ATM I think we need to focus on `graphql-cats` since it's already adopted by `Sangria` and `graphql-java`.

[2019-01-31 17:01] #749 closed

[2019-02-01 13:54] mitchellsimoens opened #1701 "Type extension not in the AST"
If I have the follow schema:

[code]

When I try to build an AST it doesn't contain the `hello` field. Debugging and I get into the `buildASTSchema` I do see the field in the `documentAST.definitions[1].fields` array but within the `for` loop of `buildASTSchema` I see it never handles the `ObjectTypeExtension` kind. I do see #922 talking about something similar but I don't see why the extensions c

[2019-02-01 15:42] IvanGoncharov commented on #1701
Yes, I fully agree that extensions should be merged and I'm working on this.
ATM buildSchema/extendSchema implementation is under heavy refactoring you can see it here:
https://github.com/graphql/graphql-js/commits/master/src/utilities

So this will be fixed in one of the next releases, probably `15.0.0`. Meanwhile, progress is tracked under #922.

[2019-02-01 15:42] #1701 closed

[2019-02-01 15:45] IvanGoncharov commented on #1701
As a temporary workaround, you can filter out extensions in a separate document and pass it to `extendSchema`.

[2019-02-01 15:55] 19majkel94 commented on #1343
@IvanGoncharov
Great explanation! 👍

Now I get your point of view and agree with that - it makes no sense to add weird things just to match with 3rd party libs that are using workarounds. It's better to propose a well designed API/specification and change those libs to support that 😉

And I agree with @nodkz that we need some kind of unification of simple metadata-like directives with the `extensi

[2019-02-01 17:24] olchyk98 opened #1703 "Use type fields instead of source object [idea]"
Hello.

I have an idea: For example, we have _words resolver in PaperType_ in our schema:
[code]

So, it could be great to push/replace getter to the source object, because I've had a lot of **sad** situations when I needed to copy paste code.

More details.
For example, we have an object:
[code]

And we will want to access a field described in the `fields` object we will receive it using getter (

[2019-02-04 20:41] createcsoft opened #1713 "Custom GraphQLScalarType instance: parseLiteral is called twice"
The parseLiteral method is called twice

[code]

[2019-02-05 10:20] IvanGoncharov commented on #1713
@createcsoft Thanks for taking the time to report this issue 👍
It was already reported as #383 so I'm closing this as a duplicate.

[2019-02-05 10:20] #1713 closed

[2019-02-05 14:33] estrada9166 opened #1715 "Export executeOperation method on /execution/execute"
# Feature requests
Is possible to export [executeOperation](https://github.com/graphql/graphql-js/blob/master/src/execution/execute.js#L392)? I'm working on a package to test/mock some queries/mutations/subscriptions and that'll be really useful because that way the operation can be executed against the mock.

If it's possible I can create the PR

[2019-02-05 14:38] IvanGoncharov commented on #1715
@estrada9166 Can you please describe your use case in more details?

[2019-02-05 14:43] estrada9166 commented on #1715
@IvanGoncharov Sure thing! I'm working on [easygraphql-tester](https://github.com/EasyGraphQL/easygraphql-tester) and after some refactor and going throw the source code of `graphql-js` I can do something like this:
[code]
instead of doing all [this](https://github.com/EasyGraphQL/easygraphql-tester/blob/master/utils/validator.js#L413)

That way I can get the query from the mocked schema that I pr

[2019-02-05 14:58] IvanGoncharov commented on #1703
@olchyk98 Not sure that I fully understand your proposal.
Do you want to call `text` resolver from `symbols` resolver?
Or do you want to receive the result of `text` resolver inside the first argument to `symbols` resolver?

Note: graphql resolvers are executed in parallel so we can't introduce dependencies between field resolvers of the same object type.

Also please consider rewriting your resol

[2019-02-05 15:21] IvanGoncharov commented on #1715
@estrada9166 Note: only things exported from root `index.js` or from `<folder>/index.js` are part of public API all other functions including `buildExecutionContext` are subject to breaking changes even at patch releases, e.g. `14.1.2`.

Can you use `fieldResolver` & `typeResolver` resolver instead?
https://github.com/graphql/graphql-js/pull/1332#issue-185246345

[2019-02-05 15:33] olchyk98 commented on #1703
Or do you want to receive the result of `text` resolver inside the first argument to `symbols` resolver?

I want to be able to call the text resolver inside the symbol resolver without rewriting the code.

This is a great idea. I will try to do that.

[2019-02-05 15:38] IvanGoncharov commented on #1715
@estrada9166 Also why you can use `execute` which is part of public API?
[code]

[2019-02-05 16:04] estrada9166 commented on #1715
@IvanGoncharov much better!! thank you so much!

[2019-02-05 16:04] #1715 closed

[2019-02-06 10:09] IvanGoncharov commented on #1715
@estrada9166 Always happy to help. Just as a clarification for other devs having the same issue and finding this thread, what was your solution in the end?

[2019-02-06 12:54] estrada9166 commented on #1715
@IvanGoncharov sure thing, I do this + set a fixture if it exists but basically, it was:
[code]
[Here](https://github.com/EasyGraphQL/easygraphql-tester/blob/6f1ecfc07cfdd67139a5d418e19d38e860c10e11/utils/mock.js) is the complete file with the solution and here is the [PR](https://github.com/EasyGraphQL/easygraphql-tester/pull/83/files#diff-060ec67de5fb20f9c1ccce4d5a5c2d61) with all the refactor d

[2019-02-06 13:01] thecodelayeriser opened #1716 "Mutation Error"
Graphql returns a unexpected error message:

[code]

The expected behaviour is to run the mutation:

[code]

Below image with schema mutation and arguments that should take the above used data.

<img width="2509" alt="screenshot 2019-02-06 at 13 55 46" src="https://user-images.githubusercontent.com/41742232/52343079-6e05d080-2a17-11e9-895f-a2d626f07248.png">

[2019-02-06 13:19] jgcmarins commented on #1716
can you write a failing test?

[2019-02-06 13:25] thecodelayeriser commented on #1716
@jgcmarins I would love to - by honestly not at that level yet. I'm just very unsure why I'm getting this error my setup is according to spec. Any idea?

[2019-02-06 13:38] IvanGoncharov commented on #1716
@thecodelayeriser It looks like you are using Prisma as your backend, right?
If so please report it their repo: https://github.com/prisma/prisma

[2019-02-06 13:49] IvanGoncharov commented on #1715
@estrada9166 Not sure that I fully understand but if you just want to add directives to the schema you can always do:
[code]
If this doesn't address your issue can please provide an example of user SDL, user query and expected output.

[2019-02-06 14:01] estrada9166 commented on #1715
@IvanGoncharov is there a way to ignore the arguments on the directive? I mean those arguments can change.

for example `@argumentDefinitions`

or there's a way to ignore any extra directive different from the ones that are permitted on GraphQL?

[2019-02-06 14:24] IvanGoncharov commented on #1715
As a workaround you can disable this rule:
https://github.com/graphql/graphql-js/blob/master/src/validation/rules/KnownArgumentNames.js

No, since spec states that all directive should define arguments.

[2019-02-06 19:49] artola commented on #1715
@IvanGoncharov @estrada9166 Thanks a lot.

@michaelstaib to follow up.

[2019-02-06 20:05] michaelstaib commented on #1715
@IvanGoncharov just one question here:

The spec marks the arguments as optional ... it is valid to have directives without arguments if the directive does not define any arguments.

[2019-02-08 18:35] #1716 closed

[2019-02-11 10:14] IvanGoncharov opened #1726 "Export library version number"
Developers shouldn't write their own hacks to detect library version:
https://github.com/graphql-compose/graphql-compose/blob/0ac3cc16948e7dce098705ff1163801d1f284a0a/src/utils/graphqlVersion.js

[2019-02-12 12:12] ramprasad2018 opened #1727 "GraphQL Union and Interface Example"
I am looking for an example on GraphQL Union and Interface. Appreciate if any one can help by providing an example or link that shows how to define a query and resolvers for Union and Interface.

Thanks and regards,

Ram

[2019-02-12 12:57] IvanGoncharov commented on #1727
We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](https://stackoverflow.com/questions/tagged/graphql).

Please do not post general que

[2019-02-12 12:57] #1727 closed

[2019-02-12 21:38] glasser commented on #1523
I'd be interested specifically in a *normalized* whitespace output mode: a serialization of a GraphQL AST whose whitespace (and comments and other ignored tokens) are guaranteed to be deterministic and not change without good reason across releases of graphql-js.  Whether that's a reduced mode or not is less relevant; it's just nice to be able to get a deterministic hash of a GraphQL query that is

[2019-02-12 22:19] IvanGoncharov commented on #1523
@glasser Thanks for Apollo Engine example.
Does difference in indent inside block strings important in your use case?
For example:
[code]
[code]

[2019-02-12 23:19] cvle commented on #1591
@IvanGoncharov What's bad about using errors for validation? If it's about localization: The client could for example extract an `ERROR_CODE` to do localization by itself.

[2019-02-12 23:23] cvle commented on #1591
It's also useful for just handling unexpected situations. E.g. server configuration changed and the client wasn't refreshed yet to know about the latest changes. An application specific error code would let the client gracefully deal with the situation.

[2019-02-12 23:39] glasser commented on #1523
Great question. Our current implementation normalizes all strings to non-block strings.  It looks like the lexer version would not do that, but would normalize to no leading indent?  I think either way is fine as well as it's well-determined and unlikely to change accidentally in new graphql-js releases.

[2019-02-20 13:44] OwenCalvin opened #1749 ""graphql" function promise never resolved"
In my jest test (TS) I have this part of code:
[code]
the `schema` variable has this value (The object is too big to post it entirely, so I give you a screenshot):
![image](https://user-images.githubusercontent.com/17951357/53095677-c19b1280-351d-11e9-90f8-2d405b42d080.png)

# The problem
The `await graphql(schema, mutation);` promise are never resolved so the next line are never executed... I don

[2019-02-20 14:37] IvanGoncharov commented on #1749
@OwenCalvin Please check your resolvers it's almost 100% it stuck there.
If all of your resolvers is sync you can replace `graphql` with `graphqlSync`and remove `await` to diagnose this problem.
If you sure that all of your resolvers returned and execution stuck in `graphql-js` code please provide a simplified reproduce example.

[2019-02-21 11:12] guxima commented on #1379
nice job

[2019-02-22 05:42] SoyYoRafa opened #1753 "Large memory allocations and very slow execution when type errors occur in complex inputs"
Hi,

We have a rather large complex object as an input. A single request with hundreds of type errors in the input took 9 seconds in `graphql.execute`. The majority of the time spent (>95%) was spent in the `inspect()` call, specifically its recursive object string construction. There were huge amount of memory allocations. With 20 concurrent requests, we can consistently cause node to run out of

[2019-02-25 07:32] alamothe commented on #937
Hello, I still get this error, and looking at the code the check is still there: https://github.com/graphql/graphql-js/blob/master/src/type/validate.js#L273

Is this resolved or no?

[2019-02-25 19:33] langpavel commented on #1523
This should not be problem if you use *compression* on HTTP layer.
Really. I understand this, but if you really need hyper performance, you may use shared hash key between client and server, something like [Automatic Persisted Queries](https://github.com/apollographql/apollo-link-persisted-queries), but you may go far.

Please, don't take me bad, I only wish give good advice, not sink this issue d

[2019-02-25 21:37] alamothe commented on #937
...For now I solved this by commenting out that check. It looks like everything works afterwards, suggesting that the check is completely arbitrary and a waste of code.

Note also that GraphQL spec allows empty types.

My use case is the same as @samuela

[2019-02-26 07:54] rybon commented on #1523
@langpavel how do I compress a GraphQL query on the client-side? As far as I know there isn’t an easy way to do that. In Node.js on the server I can just turn on gzip compression and be done with it.

So, the only option left is to use a macro and optimize everything at compile-time. This achieves 2 things:

1) We get a smaller JS bundle
2) When running that JS bundle, the GraphQL documents it sen

[2019-02-26 23:56] stephenhandley opened #1755 "Upgrading broke custom scalar resolvers when using with apollo-server"
I'm having an issue when `graphql` when using with `apollo-server` and upgrading from `0.13.2` to `14.1.1`. After upgrading, our previously working Scalar Resolvers stopped working: `parseDefault`, `parseLiteral`, and `serialize` are no longer getting called.

The reason for the upgrade was that in `0.13.2`, primitive scalar types weren't being properly validated (more details available [here](htt

[2019-02-27 07:08] #1749 closed

[2019-02-27 09:26] IvanGoncharov commented on #1755
We have very limited developer resource ATM so we stopped supporting `0.13.x` after `14.0.0` release.
Don't know why `parseLiteral` and `serialize` stopped working for you but I highly suspect it some `apollo-server` specific issue.
If you can reproduce this issue using pure `graphql-js` API please post example code and we will fix it ASAP otherwise please report it to `apollo-server` repo.

[2019-02-28 23:48] stephenhandley commented on #1755
Hi @IvanGoncharov The issue had to do with the upgrade breaking the approach I was taking in [graphql-validated-types](https://github.com/stephenhandley/graphql-validated-types) where I subclassed `GraphQLScalarType` from `graphql`.

Basically, using the `GraphQLScalarType` constructor directly still works, however the approach I took to subclassing `GraphQLScalarType` in [graphql-validated-types]

[2019-02-28 23:48] #1755 closed

[2019-03-01 11:54] DominusVilicus commented on #41
# TLDR

Use this package to add custom directive support: https://github.com/smooth-code/graphql-directive

[2019-03-01 23:40] daniele-orlando commented on #1753
Same here.

`graphql/utilities/coerceValue:coerceValue()` is exhausting the entire server memory on large inputs, leading to a Node server crash.

This is really embarrassing, there should a reasonable limit to the errors that are collected by this recursive function. Otherwise on a production server it would be trivial for an attacher to crash a GraphQL server with any large input.

Please try to

[2019-03-02 03:22] SoyYoRafa commented on #1753
I am strive to be very sympathetic and patient with open source projects and maintainers. But, I have to agree with @daniele-orlando characterization of the severity. I am highly surprised no emergency fix has been released in 8 days. There must be a lot of vulnerable servers and the code as currently written is simply unacceptable in any serious production environment - how is Facebook running th

[2019-03-04 16:19] marhub commented on #1393
In my opinion feature implemented in #1600 is not enough for some more complex use cases.

I ave gateway that passes all traffic to sub-services also written in graphql. When subservice returns any error, i want to pass that error directly to client. Currently error is returned in format:

`
  "errors": [
    {
      "message": "Unexpected error value: <JSON_FROM_SUB_SERVICE_HERE>"
}]
`
so to get

[2019-03-04 18:52] IvanGoncharov commented on #1393
@marhub You should check if server response return `errors` and construct `new GraphQLError` yourself.

It was never intended to be a solution for the problem it's just a better error message to help you debug this issue and correctly fix it by constructing `new GraphQLError` yourself.

In JS we should throw only instances of `Error`, more details here:
https://eslint.org/docs/rules/no-throw-liter

[2019-03-04 19:21] IvanGoncharov commented on #1753
FB has its own GraphQL implementation in HACK (a dialect of PHP) and `graphql-js` used only for Relay and other client-side tools.
Disclaimer: I'm not FB employee, so I may be missing something.

I'm helping to maintain this project for the last few years mostly in my own free time.
Matt from FB helps a lot, but he is also doing it in his own free time.

Shaming maintainers for not dedicating thei

[2019-03-05 04:19] stephentuso opened #1773 "Behavior when querying subscription through incorrect protocol"
For a subscription field, `resolve` is called with the source parameter set to whatever is yielded from the `subscribe` async iterator. However, I noticed that when a subscription field is queried from a server not using [`subscribe`](https://github.com/graphql/graphql-js/blob/master/src/subscription/subscribe.js), it behaves as if it is a `query` field; `resolve` is called and the source paramete

[2019-03-05 10:59] marhub commented on #1393
i'm using prisma/graphql-yoga that wraps around apollo server - I could not find any way to do so...

[2019-03-05 11:12] AdamZaczek commented on #491
I got this issue today, even though I have not been updating packages. I tripple checked all the commits and nothing in package.json/yarn.lock has been changed in a while.
All I did was running my expo app from my coworkers phone once(he uses windows for now and simply doesnt commit yarn.locks). After that I could no longer run my app, even on simulator.
Adding resolutions does not change anything

[2019-03-05 13:31] IvanGoncharov commented on #1393
@marhub `graphlql-yoga` and `apollo server` use `graphql-js` not the other way around.
We shouldn't add workarounds for the bugs inside those projects.

If we all agree that you should always throw instances of `Error` than there is nothing we can do in this project beyond #1600

[2019-03-05 13:37] IvanGoncharov commented on #1393
@marhub I understand that you want to solve the issue with your particular server.
So from the practical point, you can either fork this repo or use something like https://github.com/ds300/patch-package

In long run, you should report this issue to `graphql-yoga` and `apollo-server` so they could fix it.

[2019-03-05 14:08] IvanGoncharov commented on #1773
@stephentuso If your subscription root is reachable from query too than it's expected behavior.
If you want to forbid such behavior please use a separate type for subscription root and don't reference it inside other types.

[2019-03-05 14:31] marhub commented on #1393
@IvanGoncharov done some digging and found actual error in apollo/graphql-tools.
Thanks for your help!

[2019-03-05 14:32] daniele-orlando commented on #1753
@IvanGoncharov Thanks for your efforts and for your time.

[2019-03-07 15:07] pd4d10 opened #1774 "[Proposal] Add `addField` method for object type"
Currently there seems no way to manipulate existing object types. It would be handy to have `addField` method as follows:

[code]

[2019-03-07 15:22] IvanGoncharov commented on #1774
@pd4d10 All `GraphQL*Type` are immutable, meaning you can't change them after creation.
So we can't add 'addField` or any other function that mutate instance of `GraphQLObjectType`.
Can you please share your use case?
Why you need `addField` function?

[2019-03-07 15:56] pd4d10 commented on #1774
Thanks for the quick reply.

The current use case is, GraphQL types are generated at runtime from some other IDL, like Thrift or Protobuf. Sometimes it is not exactly we want. So I'm thinking a way to do some tweak based on it.

It is also inspired by graphql-go:
https://github.com/graphql-go/graphql/blob/a5c80ac140e28c006805b9fdc77bc54160ccb3f8/definition.go#L402

[2019-03-07 16:03] pd4d10 commented on #1774
Since types are immutable by design, I guess the best practice is to manipulate `schema.graphql` and then generate types from schema again?

[2019-03-07 16:39] IvanGoncharov commented on #1774
@pd4d10 We are working on the new `transformSchema` function specifically designed for this use case. As one of the steps toward this goal, we added `toConfig` method to every `GraphQL*Type` class.
So you can do:
[code]

But please note that other types can reference old type object so you need to also update them to point to modified type. Also, note that `GraphQLSchema` is also designed to be im

[2019-03-07 16:39] #1774 closed

[2019-03-08 01:52] BePasquet opened #1779 "CoerceFloat throwing error instead of parsing string to float from json"
Hi i notice that recently i started getting this error
TypeError: Float cannot represent non numeric value: "234234234"
    at GraphQLScalarType.coerceFloat [as parseValue]
i have another api that works fine when i started looking at the problem i realize that graphql was a different version where in version 14.1.1 coerceFloat is
[code]
 in version 0.13.2 coerceFloat is
[code]

when i copy paste s

[2019-03-08 09:16] IvanGoncharov commented on #1779
@BePasquet It was one of breaking change that we made in `14.0.0`:
https://github.com/graphql/graphql-js/releases/tag/v14.0.0

Note: it was always intended to work like this, since here is what GraphQL spec says:

https://facebook.github.io/graphql/June2018/#sec-Float

[2019-03-08 09:16] #1779 closed

[2019-03-08 10:59] BePasquet commented on #1779
Hi @IvanGoncharov thanks for the quick response sorry my ignorance but input type number return strings so all inputs on fe web apps will need to be parsed?

[2019-03-08 19:25] csabascript opened #1780 "[QUESTION] Variables to ID"
# Questions about variables.

Can't find any examples online. If i have a query with 10+ variable object the id would be stringified object. Usually in this object some variables are just defaults.

Is it possible to override the generated id? so i would like to remove the keys with default values.

[code]
1) will have an ID of `"$ROOT_QUERY.xyz({a: 1, b: 'foo', c: null, d: [], e: 2, f: undefined,

[2019-03-09 09:16] slicejunk opened #1783 "inspect causes "RangeError: Maxim call stack size exceeded""
[version 4.1.1]
 inspect causes RangeError in this line from "values.js"
[code]
when receiving a ```value```  with coercion error that contains an object such as a file to upload, maybe due to its circular structure

[2019-03-09 12:38] juji opened #1784 "http2 support"
will there be a support for http2?
Using websocket requires more steps

[2019-03-09 20:58] Cito commented on #1783
@slicejunk can you give us some more information on which kind of file object you were using? What do you use for uploading the files? I tried some variants but none of these created circular structures. Would be good 1) to know that this really caused your problem and 2) to have an object that we can use for regression tests.

[2019-03-10 06:27] stephentuso commented on #1773
@IvanGoncharov Thanks, unless I'm misunderstanding, the query root isn't involved here so I don't think that applies. Let me clarify with a (contrived) example:

[code]

So, you can see the subscription type can be queried from `graphql` (as it would be through a HTTP server) and it's treated as if it is the query type - `resolve` is called with `'ROOT VALUE'`.

Basically - should it be possible t

[2019-03-10 07:43] IvanGoncharov commented on #1773
@stephentuso Thanks for the example 👍
I need to do some research before answering this question or changing `graphql` behavior.

As I understand it's not a critical issue for your use case, but just a confusing behavior of `graphql` function that you discovered during development. Right?

[2019-03-10 22:52] IvanGoncharov commented on #1784
@juji Both GraphQL Specification and `graphql-js` is transport agnostic so you can use it over any transport protocol including websocket and http2.
You probably want to `http2` in graphql server library so please open issue in the repo for your graphql sever of choice.

[2019-03-10 22:52] #1784 closed

[2019-03-10 22:56] IvanGoncharov commented on #1780
@csabascript Not sure that I understand your question.

This library doesn't provide any functionality to generate query IDs are you sure that you opened this issue in the correct repo?

[2019-03-11 02:41] IvanGoncharov commented on #1783
@Cito You can reproduce it with:
[code]
Node's `inspect` produces `{ a: [Circular] }`.

@slicejunk Thanks for reporting this issue 👍
We definetly include fix in the next release (ETA sometime this week).

[2019-03-11 14:33] stephentuso commented on #1773
Correct - basically I was trying out subscriptions, accidentally queried it through http, and was confused by the response.

[2019-03-12 19:24] jedwards1211 commented on #591
@leebyron this is actually really cool because it will be convenient for sending field-specific error messages back to the client, since `graphql` collects them together into a list with `path` information.

The only issue is this behavior seems to be totally undocumented and it caught me by surprise today too.  @also is right, this **is** pretty surprising (I spent 30 minutes in the debugger wond

[2019-03-12 19:26] jedwards1211 commented on #591
FWIW, using the following `formatError` function allows me to attach extra fields to the returned `errors`:
[code]
[code]
[code]

[2019-03-12 19:27] jedwards1211 opened #1787 "Document how Error instances returned in result get added to errors"
I just stumbled onto a surprising, seemingly undocumented behavior today.

[code]

[code]

With this setup, even though `errorTest` returns an `Error` instead of `throw`ing it, `graphql` interprets it as an error:

[code]
[code]
I'm not sure if this is even intentional (I bet it's an accident of how `graphql` internally handles errors thrown by field resolvers). But this is actually pretty cool, b

[2019-03-12 19:27] jedwards1211 commented on #1787
whoops didn't mean to submit

[2019-03-12 19:27] #1787 closed

[2019-03-12 19:29] jedwards1211 commented on #591
@leebyron Actually there's another problem with this -- only the first `Error` object gets returned, rather than all of them.  This is disappointing as I thought I was going to be able to use this to send back multiple custom field errors to the client.
[code]
[code]
[code]

[2019-03-12 19:35] jedwards1211 commented on #591
@leebyron

This is an interesting point, but it also runs against the grain of JS error-handling conventions.  For instance, `asyncFunction().catch(e => e)` will **resolve** to the error, rather than rejecting.

[2019-03-12 22:08] zeeshanaligold opened #1788 "how to handle whitespace in Schema types?"
![fixes](https://user-images.githubusercontent.com/26404433/54239570-5b624800-453d-11e9-8c32-9db601cd202c.png)

[2019-03-12 22:23] IvanGoncharov commented on #1788
@zeeshanaligold Short answer: You can't have whitespaces in graphql names.
Long answer: https://facebook.github.io/graphql/June2018/#sec-Names

P.S. You can always replace space with underscore `Start_Date`.

[2019-03-12 22:23] #1788 closed

[2019-03-12 22:31] IvanGoncharov commented on #591
@jedwards1211 This is expected behavior for lists with non-null items:
https://facebook.github.io/graphql/June2018/#sec-Errors-and-Non-Nullability

[2019-03-12 22:59] zeeshanaligold commented on #1788
I know but i can't replace it with underscore because i'm using stored procedure & can't have the access to update it.

[2019-03-12 23:43] jedwards1211 commented on #591
@IvanGoncharov the example I gave is not using a list though, so why would that apply?

[2019-03-12 23:51] IvanGoncharov commented on #591
@jedwards1211 Too sleepy ATM 🛌
Probably answering emails before going to bed was a bad idea 😄

Can you please show SDL of you schema?
I suspect that both `errorTest` and `error` is non-nullable.
If so that this will apply:

[2019-03-13 00:34] estrada9166 opened #1789 "Add field directives on Info"
It's possible to add a new field on info with the directives of that field?

### Reason:
The main reason for this is that using a `fieldResolver` it'll be possible to add some extra logic on selected fields.

### Example:
**schema**
[code]

**fieldResolver**
[code]

**using express-graphql**
[code]

### Possible solution
In this method, we can get the directives from `fieldDef.astNode.directives`

[2019-03-13 00:36] jedwards1211 commented on #591
Oh I see, yes the fields were non-nullable.
Still, if multiple errors get propagated to a parent field, graphql *could* include all of them in the response, instead of just the first error, right?

[2019-03-13 05:06] ankitpatelinitio opened #1790 "Anyone can suggest me to implement joi validation in reactjs with graphql"
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](https://stackoverflow.com/questions/tagged

[2019-03-13 06:52] IvanGoncharov commented on #1790
@ankitpatelinitio I think such questions are better suited for StackOverflow or similar platforms:

[2019-03-13 06:52] #1790 closed

[2019-03-13 07:47] IvanGoncharov commented on #591
@jedwards1211 Good question.

This rule is extremely useful when you try to reverse the process and replace all null values (returned due to errors) with error object, which is common pattern for example in different graphql proxies.

Note: In general GraphQL errors designed to be development time errors or critical failures and not intended to be used for client-side validation.

[2019-03-13 13:39] jedwards1211 commented on #591
Yeah, I realize now I should just throw my own error  type for validation

[2019-03-14 14:19] upasanadash commented on #1413
@CrocoDillon could you please give the link of your graphql code using interface?

[2019-03-14 19:51] jbblanchet opened #1791 "Duplicate fields in deep inputs not validated properly"
When using a simple input, setting the same key twice will give an error: `There can be only one input field named "y".`

When using an input in an input, that second level input will not give the same error.

[code]

[2019-03-15 02:31] IvanGoncharov commented on #1791
@jbblanchet Thanks for reporting 👍
Already fixed by @Cito in #1792 🚀 and will be included in the next release.

[2019-03-15 02:31] #1791 closed

[2019-03-15 10:06] #1780 closed

[2019-03-15 16:38] IvanGoncharov commented on #1779
@BePasquet Yes, moreover it's always a good idea to validate on fe.
GraphQL validation is intended to assist with debugging during development that's why error messages are not user-friendly and don't support for internationalization.

[2019-03-15 16:40] BePasquet commented on #1779
@ivanGoncharov Thanks for building things like this for us

[2019-03-16 09:53] CrocoDillon commented on #1413
@upasanadash that code is not public, sorry 😰

[2019-03-22 20:31] mjmahone commented on #1753
For the JS server implementation, we deeply rely on the support of the community to identify and fix bugs like this.

While we use graphql-js internally at Facebook, we typically do not use it during production requests or in the browser, because as @IvanGoncharov mentioned, we have our own Hack server implementation, and our clients don't generally need graphql-js to handle requests or responses

[2019-03-22 20:59] mjmahone opened #1799 "Feature request: prettyPrint"
# Request: Add a Pretty-Printing function to go from AST => well-formatted string

This is a utility I've wanted to exist as part of the core library for a long time. @adek05 began a simple implementation of this in #1557. The Prettier library has even implemented a version of this: https://github.com/prettier/prettier/tree/master/src/language-graphql

## Ideal API (I think)
- Should take in a "ma

[2019-03-22 21:06] mjmahone commented on #1789
We probably want a more comprehensive solution to getting a directive on various schema definitions.

I think the core idea here is right, but we'd also like to make it easy to access directives for things like type definitions with directives on them.

I think this is possible to do already by grabbing the `astNode` on the `FieldDefinition`, but I agree we could use some sort of easier access to

[2019-03-23 13:12] imolorhe commented on #1799
Was just about to create an issue for this. 😄 👍

[2019-03-26 15:21] IvanGoncharov opened #1803 "Cut '14.2.0' release"
ATM we have 113 unreleased commits in `master` including few bug fixes and a partial fix for security problem reported #1753
I don't think we should further delay this release.
Also, a few community members contacted me saying they depend on features that exist only in `master` and they can't release they code util `14.2.0`.

ATM, I'm working on generating changelog based on PR labels.
@mjmahone W

[2019-03-26 15:27] mjmahone commented on #1803
This sounds like a good plan to me. We should not have any breaking changes, to my knowledge, so a minor version bump seems reasonable.

[2019-03-26 15:33] IvanGoncharov commented on #1803
@mjmahone One potential issue that can affect Flow users is #1702 since before it `print` was untyped.
Because no runtime behavior is changed and Fow errors are pretty easy to fix I don't think it will be a big problem, just something that can affect mainly GraphQL tooling.
I will add a warning about it into changelog.

[2019-03-26 19:05] mjmahone commented on #1803
Yeah if it's just typing and not actual behavior changes that is fine.

We want to avoid a situation where flow types were added and functionality changed at the same time, so if you upgrade you can't easily know how to get your formerly-working code to conform. Seems like there's no danger of that: if your flow types are wrong your expectations of what `print` was producing was wrong, so your exi

[2019-03-26 23:49] carlosen14 commented on #1788
what about space in ENUM type name?
[code]

[2019-03-27 07:42] umutyerebakmaz opened #1804 "Unexpected GraphQL type definition: Query (As string: Query).Please check that you are importing only one instance of the 'graphql' package."
# Unexpected GraphQL type definition: Query (As string: Query).Please check that you are importing only one instance of the 'graphql' package.

current version: "graphql": "**14.1.1**",
the version I'm currently using is OK. I get this error message when I update to version **14.2.0**
How can I solve this problem? I'll lower the version if I can't solve it. Thank you in advance for your help.

**p

[2019-03-27 09:44] IvanGoncharov commented on #1804
@umutyerebakmaz Please remove `node_modules` folder and reinstall all dependencies.
Also please post the output of `npm ls` here.

[2019-03-27 11:18] umutyerebakmaz commented on #1804
@IvanGoncharov
I was using different versions within the frontend folder and within the server folder. I'm so sorry my fault. Many thanks for your help. solved.

[2019-03-27 11:47] #1804 closed

[2019-03-27 13:19] IvanGoncharov commented on #1803
📦 was successfully released to NPM 🎉

[2019-03-27 13:19] #1803 closed

[2019-03-27 14:27] mjmahone commented on #1788
@zeeshanaligold if you have business limitations that make it impossible to follow the spec, then you'll probably need to fork graphql-js, because you're already forking GraphQL the language. graphql-js is specifically meant to be a spec-compliant implementation that you can, but don't need to, use to work with GraphQL the language.

[2019-03-28 12:37] suryacaprice opened #1805 "Is there a way to use this plugin with the normal HTML page to perform GraphQL calls"
I want to use this with an already existing HTML application built with Zend framework. Is there a way to do it efficiently ?

[2019-03-28 13:14] IvanGoncharov commented on #1805
# Questions regarding how to use GraphQL

We want to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track bugs and features that affect development.

If you have a question on how to use GraphQL, please [post it to Stack Overflow](https://stackoverflow.com/questions/ask?tags=graphql) with the tag [#graphql](https://stackoverflow.com/questions/tagged

[2019-03-28 13:14] #1805 closed

[2019-03-29 15:53] boostwilliam commented on #500
I _third_ this. It sounds like something the API could handle internally, though I know that the reference implementation, which this version is based off of, does the same thing, so I'm probably just missing something here.

It's easy to understand _when_ either *parseLiteral* or *parseValue* will be called, but what I don't understand is _why_ there needs to be two.

Is it something that the API

[2019-03-29 23:57] AdamT213 commented on #1368
Not sure if anyone is currently working on the above but I'd be down to work on

that

[2019-03-30 01:31] IvanGoncharov commented on #500
Disclaimer: Maybe not the best example but it's something I come up with in 3AM after I returned back from pub 🍻

@boostwilliam For example, let's take `Int64` as an example (standard GraphQL`Int` supports only 32 bit).
`JSON.parse` doesn't support such values:
[code]
So your only option is to send such values as strings.
At the same time GraphQL support arbitirary long numbers so you can write:
[

[2019-03-30 01:38] IvanGoncharov commented on #1368
@AdamT213 Thank you for volunteering 👍
ATM `graphql.org` is in a process of migrating from FB to Linux Foundation so it's better to postpone this task until this process is finished.

[2019-03-31 22:45] ruiaraujo opened #1811 "Upstreaming graphql-jit"
Hey, I am maintaining a high performance execution engine which I have named [graphql-jit](https://github.com/ruiaraujo/graphql-jit).

I was wondering whether there would be interest in merging that work with this project and expose both engines to the user.

[2019-04-02 08:39] theonlydaleking commented on #1442
For anyone else here, i got this message from a typo in my "subscribe: () => {asyncIterator}"

I had `subscibe` *rolls eyes

[2019-04-02 09:10] human-a commented on #1518
I believe this is fixed in ^14.2.1 and mongoose ^5.4.20

[2019-04-03 20:37] #1523 closed

[2019-04-04 11:43] freiksenet commented on #1527
We've been using it very effectively at Gatsby through graphql-compose extensions. Adding it here as an example of "usage in the wild".

[2019-04-04 12:09] freiksenet commented on #1343
At Gatsby we've been using graphq-compose type/field extеnsions. We also use directives to allow setting extension metadata through that. I feel that having a distinct namespaces for directives (within or outside extensions), that is a list of directives with arguments applied to type/field/argument is the way to go here. This matches the behavior between AST and extensions (eg you can apply same

[2019-04-04 12:31] nodkz commented on #1343
@freiksenet your approach definitely SHOULD land to the core of graphql-compose

Even more for easy type manipulation, I'll add helper methods, like
[code]

These methods help to simplify the code of end users.

[2019-04-05 10:07] havinhthai commented on #361
I just wrote [graphql-validation](https://github.com/havinhthai/graphql-validation) to validate both args and input types.
It's just GraphQL middleware that wraps [validator.js](https://github.com/chriso/validator.js) validator  functions so very lightweight.
Hope useful.

[2019-04-05 12:55] sapkra commented on #361
We are using graphql-shield to add permission checks and validation to our graphql server.
You can use the yup library for the validation rules which can also be shared with the frontend while using a form library like Formik.

[2019-04-07 03:36] anhldbk opened #1815 "Convert arbitrary scalars to AST."
Hi guys,

I'm trying to make a configuration language based on GraphQL (so I don't have write lexer/parser on my own). I want to support JSON as an input type by using `graphql-type-json`. But I've got an issue of parsing AST as described by this issue https://github.com/taion/graphql-type-json/issues/73.

@taion tell me that

I've found a hack to overcome the issue. Should I make a PR against thi

[2019-04-07 09:09] ruiaraujo commented on #1811
@IvanGoncharov Can you suggest next steps to help with the exploration needed?

[2019-04-07 11:10] IvanGoncharov commented on #1811
@ruiaraujo I think it's hard to make "one size fits all" type of `execute`.
Another example would be https://github.com/mesosphere/reactive-graphql
So I think we should focus on make more parts of `graphql-js` reusable and allow developers to focus on making 3rd-party to solve different needs.
Also big part of current `graphql-js` `execute` inefficiency is that we operate on AST and duplicate a lo

[2019-04-07 11:20] IvanGoncharov commented on #1815
@anhldbk That's why we implemented `valueFromASTUntyped`
https://github.com/graphql/graphql-js/blob/8aef229cb29031eb475e3d647ad94c8d19b72461/src/utilities/valueFromASTUntyped.js#L18-L36

Moreover it's used by default:
https://github.com/graphql/graphql-js/blob/8aef229cb29031eb475e3d647ad94c8d19b72461/src/type/definition.js#L563

So you don't need to use package for it just do:
[code]

[2019-04-07 11:20] #1815 closed

[2019-04-07 12:40] ruiaraujo commented on #1811
The last point is the critical one.

Would `graphql-jit` have to implement every feature from the start?
Because I think it will be possible to add support for more dynamic features without significantly harming performance but it will take time because it requires the engine to mature.

The other crutial question is about the reference implementation. It is true that the code today makes it easy

[2019-04-08 00:50] anhldbk commented on #1815
@IvanGoncharov Thank you!

[2019-04-08 01:05] anhldbk commented on #1815
@IvanGoncharov Thank you for your hint.

But would you please tell me how to properly parse JSON-enabled value into AST? I have to patch `astFromValue`: https://github.com/graphql/graphql-js/blob/8aef229cb2/src/utilities/astFromValue.js#L139-L140

by adding following lines before L139

[code]

[2019-04-08 07:16] IvanGoncharov commented on #1815
@anhldbk Yes, it looks like a bug. We should support scalars that are serialized to complex values.
Can you please open a separate issue for that?

[2019-04-08 14:54] anhldbk opened #1817 "Convert arbitrary scalar values into ASTs and back"
# Reporting issues with GraphQL.js

This issue is related to: https://github.com/graphql/graphql-js/issues/1815

## Expected:
- Successfully convert arbitrary scalars (including default values) to ASTs
- Convert ASTs into dedicated values

## Code:

[code]

## Result

[code]

## Solution

I have to patch `astFromValue`: https://github.com/graphql/graphql-js/blob/8aef229cb2/src/utilities/astFromVal

[2019-04-08 14:55] anhldbk commented on #1817
@IvanGoncharov FYI

[2019-04-10 08:47] IvanGoncharov commented on #1817
@anhldbk Thanks for detail report.
Also, note that `isValidJSValue` is deprecated and will be removed in upcoming `15.0.0`:
https://github.com/graphql/graphql-js/blob/b8a0f3b9a9fc7057acb8e91327818b37f0eaf406/src/utilities/isValidJSValue.js#L14-L22

It's a little bit more complex, correct AST node for object value should contain `fields` instead of `value`:
https://github.com/graphql/graphql-js/blo

[2019-04-12 22:05] Cybernetixs commented on #1344
Yes, its a graphql issue, had the same problem with React@16, had to upgrade to graphql 14

[2019-04-13 06:23] sebdeckers opened #1819 "Export clean ESM modules"
Using graphql@14.2.1

`/node_modules/graphql/jsutils/instanceOf.mjs` line 16

[code]

[code]

The check `process.env.NODE_ENV === 'production'` breaks in the browser when using ESM version of `graphql` package. Is it possible to remove before publishing to NPM? Without it the ESM files work perfectly.

I am not using Webpack/RollUp/Babel. Simply copying the ESM files from node_modules to my fronte

[2019-04-13 19:53] danielrearden opened #1821 "Should `parseLiteral` throw a TypeError when provided an invalid value?"
When calling a `GraphQLScalarType`'s `parseLiteral` or `parseValue` methods, those methods can either return `undefined` or throw an error -- in either case, the value is considered invalid and an error is included in the response. However, returning `undefined` results in a generic error message about the type being invalid, while throwing a TypeError allows us to provide additional details as to

[2019-04-14 07:52] anhldbk commented on #1817
@IvanGoncharov So when users define a custom scalar, they must provide a function named `serializeAsLiteral`?

[2019-04-15 13:57] IvanGoncharov commented on #1817
@anhldbk It's designed proposal for a fix. Idea is to have **optional** `serializeAsLiteral` that if omitted equal to `astFromValueUntypped(this.serialize(value))`.

[2019-04-23 09:05] IvanGoncharov commented on #1821
@danielrearden Thanks for bringing this up and especially for deep research 👍

As I understand, it's like that because initially, it was problematic to parse SDL with complex default values. So returning `undefined` was introduced as a temporary workaround but the current `valueFromAST` implementation already solves this problem and makes workaround unnecessary.

Yes, it would be great. One note t

[2019-04-25 11:39] IvanGoncharov commented on #1821
This enhancement is tracked in #1827

[2019-04-25 11:39] #1821 closed

[2019-04-25 15:19] abdonrd commented on #1819
Also related but different: https://github.com/apollographql/graphql-tag/issues/229

[2019-04-27 16:55] mschipperheyn opened #1835 "Please print graphql context when you report errors"
# Feature requests

So, I got this error with some syntax error
[code]

Eh, ok. There is an error, somewhere.

Please display where the error occur. Ideally, by showing the last 3 lines of graphql that were successfully parsed. I understand that syntax errors are difficult to show when you're parsing a whole document, but this is not helpful.

[2019-04-28 14:29] #1835 closed

[2019-04-29 03:04] BigMaster commented on #662
I have solved this problem!
[https://github.com/BigMaster/graphql-format-error-context-extension](https://github.com/BigMaster/graphql-format-error-context-extension)

[2019-05-03 03:18] joseph-d-p opened #1846 "Subscription not working with alias"
When using `alias`, subscription doesn't work.
It works normally without `alias` as expected.

[code]

Any thoughts?

[2019-05-03 09:02] IvanGoncharov commented on #1846
@joseph-d-p I tested it works fine.
Can please share your minimal reproduce example?

[2019-05-03 10:08] joseph-d-p commented on #1846
@IvanGoncharov

So the output I got was without the alias (i.e. `item`). It shows the `onPutItem` instead.
[code]

[2019-05-03 12:16] rogierschouten opened #1847 "Design proper error names"
GraphQL-JS throws a variety of errors in normal everyday use e.g. GraphQLErrors, TypeErrors, and even regular JavaScript Error objects. All of these can occur because the client supplies garbage values to the server.

However, on the server side, I want to make a distinction between internal server errors (e.g. assertions, which should crash the server)  and client errors (which should return a go

[2019-05-03 12:56] IvanGoncharov commented on #1846
@joseph-d-p I mean minimal code sample using `graphql-js` that reproduces your issue.
Can you do that?

[2019-05-07 09:58] xamgore commented on #41
Well, I use [graphql-faker](https://github.com/APIs-guru/graphql-faker) to define a schema with fake data. Frontend developers feel really great with it, cause it consists of easy-to-run-graphql-server and there is no need in heavy backend, databases, etc.

[code]

To fake data, schema must contain some additional directives: `@fake(…)` and `@examples(…)`. They describe the true nature of entities

[2019-05-07 11:40] IvanGoncharov commented on #41
@xamgore Yes, it's a valid issue but it's not related to this issue.
Can you please open a new issue?